{% load i18n %}

<form class="well form-inline">
    <input type='text' id='find-fuzzy-input' placeholder='{% trans "Global search" %}'/>
    <input type='submit' class='yabutton-small' id='find-fuzzy-btn' value='{% trans 'Search' %}'/>
    <label class="checkbox">
    <input type="checkbox" id='advanced'>{% trans "Advanced search "%}</input>
  </label>
</form>

<form class="well form-inline" style="display:none" id='advanced-search'>
    <input type='text' id='find-track-input' class='input-medium' placeholder='{% trans "Track" %}'/>
    <input type='text' id='find-album-input' class='input-medium' placeholder='{% trans "Album" %}'/>
    <input type='text' id='find-artist-input' class='input-medium' placeholder='{% trans "Artist" %}'/>
    <input type='submit' class='yabutton-small' id='find-btn' value='{% trans 'Search' %}'/>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>{% trans "Track" %}</th>
            <th>{% trans "Album" %}</th>
            <th>{% trans "Artist" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody id='songs'>
    </tbody>
</table>
<div class='cell-pagination' id='pagination'></div>
