{% load i18n %}
{% load i18n %}

<form class="well form-inline">
    <input type='text' id='find-track-input' placeholder='{% trans "Track" %}'/>
    <input type='text' id='find-album-input' class='input-small' placeholder='{% trans "Album" %}'/>
    <input type='text' id='find-artist-input' placeholder='{% trans "Artist" %}'/>
    <input type='submit' class='yabutton-small' id='find-btn' value='{% trans 'find' %}'/>
</form>

<form class="well form-inline">
    <input type='text' id='find-fuzzy-input' placeholder='{% trans "Global search" %}'/>
    <input type='submit' class='yabutton-small' id='find-fuzzy-btn' value='{% trans 'find' %}'/>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans "Track" %}</th>
            <th>{% trans "Album" %}</th>
            <th>{% trans "Artist" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody id='songs'>
    </tbody>
</table>
<div class='cell-pagination' id='pagination'></div>
