{% load i18n}
<div class="btn-group" data-toggle="buttons-radio" id='programming-toolbar'>
</div>
<div id='programming-filters'></div>
<div id='content'></div>
<div class='cell-pagination' id='pagination'></div>
