{% load i18n %}
<div class='row-fluid'>
<div class='span12'>
    <h1>{% trans "Programming" %}</h1>
    <div class="btn-group" data-toggle="buttons-radio" id='programming-toolbar'>
    </div>
    <div id='content'></div>
    <div class='cell-pagination' id='pagination'></div>
</div>
</div>