{% load i18n %}
<div class='row  common-background programming'>
    <div class='span12 no-margin'>
        <button class='yabutton right' id='edit-settings-btn'>{% trans 'Settings' %}</button>
        <h1 class='zone-title'>{% trans "Programming" %}</h1>
        <div class='separation-line'></div>
    </div>

    <div class='span3 no-margin'>
        <div id='programming-menu'>
            <ul class="">
              <li class="header">{% trans "Default playlist" %}</li>
              <li class="active" id='programming-btn'><span>{% trans "Programming" %}</span></li>
              <li id='status-btn'><span>{% trans "History" %}</span></li>
            </ul>
        </div>
    </div>

    <div class='span9' id='playlist'>
    </div>

    <div class='span9' id='status' style='display:none'/>
</div>