{% load i18n %}

<form class="well form-inline">
    <select multiple="multiple" id="artist-select" data-placeholder="{% trans 'Select artists' %}">
    </select>
    <select multiple="multiple" id="album-select" data-placeholder="{% trans 'Select albums' %}">
    </select>
</form>
