{% load i18n %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans "Artist" %}</th>
            <th>{% trans "Album" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              <select multiple="multiple" id="artist-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
             </td> 
            <td>
              <select multiple="multiple" id="album-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
             </td> 
        </tr>
    </tbody>
</table>
