{% load i18n %}
<div class='row  programming-container'>
    <div class='span12 no-margin'>
        <div class='btn-group right' id='programming-top-toolbar'>
            <button type="button" class='yabutton-small' id='listen-btn'>{% trans 'Listen now' %}</button>
            <button type="button" class='yabutton-small' id='edit-settings-btn'>{% trans 'Settings' %}</button>
        </div>
        <h1>{% trans "Programming" %}</h1>
    </div>

    {% comment %}

    <div class='span3 no-margin'>
        <div id='programming-menu'>
            <ul class="">
              <li class="header">{% trans "Default playlist" %}</li>
              <li class="active" id='programming-btn'><span>{% trans "Programming" %}</span></li>
              <li id='status-btn'><span>{% trans "History" %}</span></li>
            </ul>
        </div>

    </div>
    {% endcomment %}
    <div class='span12' id='playlist'>
    </div>

    <div class='span9' id='status' style='display:none'/>
</div>