{% load i18n %}
<td><% metadata__name %></td>
<td><% metadata__album_name %></td>
<td><% metadata__artist_name %></td>
<td>
    <button class='yabutton-small remove'>{% trans 'remove' %}</button
</td>
