{% load i18n %}
<div id='programming-filters'></div>
<div id='playlist-actions'>
    <button class='yabutton-small'>{% trans "Remove all songs" %}</button>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans "Track" %}</th>
            <th>{% trans "Album" %}</th>
            <th>{% trans "Artist" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody id='song-instances'>
        <tr class='loading-mask'>
            <td><img  src='/media/images/loading.gif'/></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class='cell-pagination' id='pagination'></div>
