{% load i18n %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans "Track" %}</th>
            <th>{% trans "Album" %}</th>
            <th>{% trans "Artist" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody id='song-instances'>
        <tr class='loading-mask'>
            <td><img  src='/media/images/loading.gif'/></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
