{% load i18n %}
<td><% metadata__name %></td>
<td><a href='#' class='album'><% metadata__album_name %></a></td>
<td><a href='#' class='artist'><% metadata__artist_name %></a></td>
<td>
    <button class='yabutton-small remove'>{% trans 'remove' %}</button
</td>
