{% load i18n %}
<div class="modal hide fade" id="modal-remove-status">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Remove" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Do you really want to remove this item ?" %}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Yes i want" %}</a>
    </div>
</div>


<div class="modal hide fade" id="modal-status-details">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Details" %}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-striped" id='status-details-list'>
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Artist" %}</th>
                <th>{% trans "Album" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
    </div>
</div>


<div>
    <h2>{% trans "History" %}</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody id='status-list'>
    </tbody>
</table>
<div class='cell-pagination' id='pagination'></div>

</div>

