{% load i18n %}
{% load i18n %}
<td><% formatted_date %></td>
<td><% formatted_type %></td>
<td><% formatted_status %></td>
<td>
    <button class='yabutton-small open'>{% trans 'open' %}</button>
    <button class='yabutton-small delete'>{% trans 'delete' %}</button>
</td>

