{% load i18n %}
<div>
    <input id="file-upload" type="file" name="song" data-url="/api/v1/upload_song/" multiple>

    <button class='yabutton-small' id='start-all-btn'>{% trans "Start all" %}</button>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Filename" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody id='upload-table'>
        </tbody>
    </table>

</div>