{% load i18n %}
<div>
    <input id="file-upload" type="file" name="song" data-url="/api/v1/upload_song/" multiple>

    <div class="btn-group" id='upload-actions'>
        <button class='yabutton-small left hide' id='start-all-btn'>{% trans "Start all" %}</button>
        <button class='yabutton-small left hide' id='stop-all-btn'>{% trans "Stop all" %}</button>
        <button class='yabutton-small left hide' id='remove-all-btn'>{% trans "Remove all" %}</button>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 40%">{% trans "Filename" %}</th>
                <th style="width: 20%">{% trans "Progress" %}</th>
                <th style="width: 40%">{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody id='upload-table'>
        </tbody>
    </table>

</div>