{% load i18n %}
<td><% name %></td>
<td>
    <div id='progress' class="progress progress-striped active">
      <div class="bar" style="width: 0%"></div>
    </div>
</td>
<td>
    <button class='yabutton-small start'>{% trans 'start' %}</button>
    <button class='yabutton-small stop'>{% trans 'stop' %}</button>
    <button class='yabutton-small remove'>{% trans 'remove' %}</button>
</td>
