{% load i18n %}
<td>
    <button class='btn-sky stop-preview' style='display:none;'>{% trans "Stop" %}</button>
    <button class='btn-sky preview'>{% trans "Play" %}</button>
</td>
<td><% name %></td>
<td><% album_name %></td>
<td><% artist_name %></td>
<td>
    <button class='yabutton-small add'>{% trans 'add' %}</button
</td>
