{% load i18n %}
<td style='width:40px;'>
    <button class='btn-sky stop-preview' style='display:none; width:40px;'><i class='icon-stop'></i></button>
    <button class='btn-sky preview' style='width:40px;'><i class='icon-play'></i></button>
</td>
<td><% name %></td>
<td><% album_name %></td>
<td><% artist_name %></td>
<td style='width:60px;'>
    <button class='btn-green add'>{% trans 'add' %}</button
</td>
