{% load i18n %}
{% load app_url %}
{% if request.user.is_authenticated %}
<div class="modal hide fade" id="modal-delete-radio">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Delete radio" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Do you really want to delete this radio? This action cannot be undone." %}</p>
        <p>{% trans 'Enter "yes" to confirm:' %}</p>
        <input placeholder='Confirmation'/>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Yes i want" %}</a>
    </div>
</div>

<div class="container-fluid content-zone last">
    <div class='row-fluid'>
        <ul id='results' class='radio-with-stats-cells'>
        </ul>
        <img class='loading-mask' src='/media/images/loading.gif'/>
        <div class='cell-pagination' id='pagination'></div>
        {% if user_profile.permissions.create_radio %}
            <div class='clear'></div>
            <div id='create-radio-container'>
            <a class='yabutton-large' id='create-radio-btn' href='{% app_url webapp_new_radio app_name %}'>{% trans "Create radio" %}</a>
            </div>
        {% endif %}
    </div>
</div>



{% else %}

<div class='no-margin'>
    <div class='favorites-login-container'>
        <img class='favorites-login-large'src="/media/app/images/teaser/create.png"'>
        <p class='favorites-login-p'>{% trans "Log in to create your radio." %}</p>
        <form action='{% app_url webapp_login app_name %}' method='get'>
        <button id='login-btn'>{% trans "Login" %}</button>
        </form>
    </div>
</div>
{% endif %}