{% load i18n %}
<div class='radio-with-stats'>
    <div class='radio-cell-parent'>
    </div>
    <div class="chartdiv" style="width: 450px; height: 200px; padding: 0px; position: relative;"></div>
    <div class='stats'>
    ici les stats
    
    
    </div>
</div>