{% load i18n %}
<div class='radio-with-stats'>
    <div class='radio-cell-parent'>
    </div>
    <div class='radio-toolbar'>
        {% if request.user.is_superuser %}
        <button class='yabutton-small right edit-playlist'>{% trans "Edit playlist" %}</button>
        {% endif %}
        <button class='yabutton-small right edit-radio'>{% trans "Edit radio" %}</button>
    </div>
    <div class='stats'>
		<div class='minutes-spent'>
	    	<em><% overall_listening_time %></em>
			<span>minutes de musique ont été écoutées</span>
		</div>
		<div class='new-messages'>
			<em><% new_wall_messages_count %></em>
		    <span>nouveaux messages</span>
		</div>
    </div>
    <div class="chartdiv" style="width: 450px; height: 200px; padding: 0px; position: relative;">
    </div>
</div>