/* Common */
.asset
{
	background-image: url("@{assets}");
	background-repeat: no-repeat;
}

[class^="asset-"],
[class*=" asset-"]
{
	display: inline-block;
	.ie7-restore-right-whitespace();
	vertical-align: text-top;
	.asset();
}

/* Each asset */
.asset-logo
{
	background-position: 0 0;
	width: 180px;
	height: 50px;
}

.asset-glass
{
	background-position: -336px -17px;
	width: 17px;
	height: 18px;
}

.asset-hd-off
{
	width: 32px;
	height: 21px;
	background-position: -365px -3px;
}

.asset-hd-on
{
	width: 32px;
	height: 21px;
	background-position: -365px -27px;
}

.asset-envelope
{
	width: 31px;
	height: 23px;
	background-position: -329px -97px;
}

.asset-arrow-down
{
	width: 19px;
	height: 18px;
	background-position: -335px -61px;
}

.asset-mini-com
{
	width: 18px;
	height: 18px;
	background-position: -373px -61px;
}

.asset-mini-fav
{
	width: 18px;
	height: 18px;
	background-position: -373px -99px;
}

.asset-mini-gift
{
	width: 18px;
	height: 18px;
	background-position: -408px -59px;
}

.asset-mini-hd-on
{
	width: 23px;
	height: 18px;
	background-position: -406px -29px;
}

.asset-mini-hd-off
{
	width: 23px;
	height: 18px;
	background-position: -406px -5px;
}

.asset-mini-promo
{
	width: 19px;
	height: 18px;
	background-position: -439px -59px;
}

.asset-mini-check
{
	width: 16px;
	height: 14px;
	background-position: -441px -100px;
}

/* Textfields */
[class^="textfield-"],
[class*=" textfield-"]
{
	background-image: url("@{textfields}");
	background-repeat: no-repeat;
}

.textfield-email
{
	background-position: right 1px;
}

.textfield-pwd
{
	background-position: right -29px;
}