@defaultFont: ProximaNova, Arial, sans-serif;

@defaultColor: #313234;
@orange: #e95849;
@linkBlue: #25b2f9;
@skyBlue: #56b6d6;
@navyBlue: #5285d8;

@grey: #25b2f9; // Footer.
@lightGrey: #bbc0c2; // Header menu.
@placeholderGrey: #8e9294;

@imgFolder: '../app/images/';