{% extends "base.html" %} 
{% load i18n %} 

{% block extra_head %}
    <script type="text/javascript">
        var g_radio_url = '{{ radio_url }}';
        var lbl_mute = "{% trans 'Mute' %}";
        var lbl_unmute = "{% trans 'Unmute' %}";
        var lbl_play = "{% trans 'Play' %}";
        var lbl_stop = "{% trans 'Stop' %}";
    </script>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/sm/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="/media/js/listen.js"></script>
    
{% endblock %}


{% block body %}
<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='well'>
       <a href='/'><img src='/media/images/logo.png' alt='Yasound logo'/></a>
       </div>
    </div>
    <div class='row-fluid'>
        <div class='span3'>
            <div class='well'>
                {% block menu %}{% endblock %}
            </div>
        </div>
        <div class='span9'>
            {% block content %}{% endblock %}
        </div>
    </div>
    <hr>
    <footer>
    <p>&copy; Yasound 2012</p>
    </footer>
</div>
{% endblock %}
