{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}


{% block content %}
    <div class='row'>
        <div class='span4'>
           <div id="radio">
               <div id='radio-picture' class='thumbnail'>
                   <img src="/media/images/default_image.png" width="160px" height="160px" alt='{% trans "Radio logo" %}'/>
               </div>
               <div id='radio-title'>
                </div>
           </div>
        </div>   

        <div class='span8'>
           <div id='player'>
               <h1>{% trans "Coming soon" %}</h1>
               <p>{% trans "Yasound is coming soon." %}</p>
            </div>
        </div>
    </div>    
{% endblock %}
