*.pyc
*.pyo
*~
db.dat
*.swp
pip-*.gz
vtenv
virtualenv.py
eggs
.project
.pydevproject
sample_project/log/*
sample_project/manage.py
sample_project/deploy/deploy.wsgi
sample_project/local_settings.py
sample_project/media/statics
fab
.project
.pydevproject
mongo_data/db/*
mongo_data/logs/*
yaapp/media/cache/*
yaapp/media/pictures/*
yaapp/logs/*.log
yaapp/logs/*.log.*
*.old
yaapp/media/statics/*
yaapp/media/uploads/*
yaapp/.settings/*
yaapp/media/*-all.*.js
.rope*
yaapp.sublime*
yaapp/doc/_build/*
yaapp/media/radio_pictures/*
yaapp/media/user_pictures/*
yaapp/media/compressed/*
yaapp/media/covers/*
