# Put here all your python libs dependencies before vtenv.sh
Django >=1.3, < 1.4
South
django-tastypie
celery
celery-with-redis
django-celery
tweepy
django-taggit
python-memcached
facepy ==0.6.8
django-test-utils
-e git+https://github.com/seatgeek/fuzzywuzzy.git#egg=fuzzywuzzy
pyyaml
pymongo
django-extensions
django-iphone-push
-e git+https://github.com/jbl2024/django-extjs#egg=django-extjs
django-compress
simplejson
django-social-auth
requests
-e git+ssh://git@github.com/yasound/uploader.git#egg=uploader
sorl-thumbnail
unidecode
fuzzy
kombu
django-mobile
django-bitfield
django-simple-captcha
django-transmeta
