# Put here all your python libs dependencies before vtenv.sh
Django >=1.3, < 1.4
South
django-tastypie
celery==2.5.1
celery-with-redis==2.5
django-celery==2.5.1
tweepy
django-taggit
django-taggit-templatetags
python-memcached
facepy ==0.6.8
django-test-utils
-e git+https://github.com/yasound/fuzzywuzzy.git#egg=fuzzywuzzy
pyyaml
pymongo
django-extensions
django-iphone-push
-e git+https://github.com/yasound/django-extjs#egg=django-extjs
django-pipeline == 1.1.27
jsmin
simplejson
django-social-auth
requests==0.13.9
-e git+ssh://git@github.com/yasound/uploader.git#egg=uploader
-e git+ssh://git@github.com/yasound/yametadata.git#egg=yametadata
sorl-thumbnail
unidecode
fuzzy
kombu==2.1.8
django-mobile
django-bitfield
django-simple-captcha
django-transmeta
django-jenkins
django-ignoretests
redis
mock
python-dateutil<=1
-e git+https://github.com/yasound/django-bootstrap.git#egg=bootstrap
xlwt
-e git+https://github.com/yasound/emencia-django-newsletter.git#egg=emencia-django-newsletter
django-tinymce
pygeoip
-e git+https://github.com/yasound/python-musicbrainz-ngs.git#egg=python-musicbrainz-ngs
unicodecsv
django_compressor
django-debug-toolbar
fabric
django-localeurl
django-attachments
markdown
Pygments
