# Put here all your python libs dependencies before vtenv.sh
Django >= 1.3
South
django-tastypie
PIL
django-kombu
celery
django-celery
tweepy
django-taggit
python-memcached
facepy
django-test-utils
-e git+https://github.com/seatgeek/fuzzywuzzy.git#egg=fuzzywuzzy
pyyaml
