{% load i18n %}
<div class='notification-container'>
    <div class='{{notification.type}}'>&nbsp;</div>
    <a class="close-icon" data-dismiss="alert" href="#"></a>
    <div class='notifications-date'>{{ notification.date|date:"DATETIME_FORMAT" }}</div>
    {% if from_radio_uuid %}
    <div>
        {% trans "message from radio:" %} <a href='/app/radio/{{notification.from_radio_uuid}}/' data-uuid='<{{notification.from_radio_uuid}}' class='radio-link'>{{notification.from_radio_name}}</a>
    </div>
    {% endif %}
    <div class='{% if notification.read %}read{% endif %} text-notification'>{% if notification.html %}{{ notification.html|safe }}{% else %}{{ notification.text }}{% endif %}</div>
</div>