{% load i18n %}
  <button class="btn active" id='unread'>{% trans "Unread" %}</button>
  <button class="btn" id='read' >{% trans "Read" %}</button>
  <button class="btn" id='all' >{% trans "All notifications" %}</button>
