{% load i18n %}
<div class='notification-container'>
	<div class='<% type %>'></div>
	<a class="close-icon" data-dismiss="alert" href="#"></a>
	<div class='date'><% formatted_date %></div>
	<div class='<%#read%>read<%/read%> text-notification'><% text %></div>
</div>