{% load i18n %}
<div class='row-fluid'>
	<div class='span12 notifications-container'>
	    <h1>{% trans "Notifications" %}</h1>
	    <button type="button" class="yabutton-small right" id='mark-all-read-btn'>{% trans "Mark all as read" %}</button>

        <ul id='notifications'>
            {% if not notifications %}
            <img class='loading-mask' src='/media/images/loading.gif'/>
            {% endif %}
            {% for notification in notifications %}
            {% cycle 'notification-even' 'notification-odd' as row_color silent %}
            <li>{% include 'yabase/app/notifications/notification.mustache' with row_color=row_color%}</li>
            {% endfor %}

        </ul>
        <div id='pagination'>{% include "yabase/app/pagination.mustache" %}</div>
	</div>
</div>