{% load i18n %}
<div class='row-fluid'>
	<div class='span12 notification-container'>
	    <h1>{% trans "Notifications" %}</h1>
	    
        <div class="btn-group" data-toggle="buttons-radio" id='notifications-toolbar'>
        </div>
        	    
        <ul id='notifications'>
            <img class='loading-mask' src='/media/images/loading.gif'/>
        </ul>    
        <div id='pagination'></div>
	</div>
</div>