{% load i18n %}
{% load app_url %}
<a href="#">
    <i class="icon asset-mini-com"></i>
    <div class="txt-pic">
        <strong><%#html%><%{html %><%/html%><%^html%><% text %><%/html%></strong>
        <span>Le 17 janvier 2012 à 13h23</span>
    </div>
</a>
