{% load i18n %}
<div class="container-fluid content-zone">
  <section class="row-fluid">
	<div class='span12'>
        <button type="button" class="right btn-sky" id='mark-all-read-btn'>{% trans "Mark all as read" %}</button>
	    <h1>{% trans "Notifications" %}</h1>

        <ul id='notifications'>
            {% if not notifications %}
            <img class='loading-mask' src='/media/images/loading.gif'/>
            {% endif %}
            {% for notification in notifications %}
            {% cycle 'notification-even' 'notification-odd' as row_color silent %}
            <li>{% include 'yabase/app/notifications/notification.mustache' with row_color=row_color%}</li>
            {% endfor %}
            <div class='empty' style='display:none'>{% trans "Congratulations! You have read all your notifications." %}</div>
        </ul>
        <div id='pagination'>{% include "yabase/app/pagination.mustache" %}</div>
	</div>
  </section>
</div>