{% load i18n %}

{% if announcement %}
<div class="container-fluid content-alert app-alert">
  <a type="button" class="asset-close" data-dismiss="alert">×</a>
  {{ announcement.body|safe }}
</div>
{% endif %}

<div class="container-fluid content-zone">
  <section class="row-fluid">
    <h1 class="block-title"><i class="asset-note"></i>{% trans "Selection" %}</h1>
    <div class="block-content">
      <div class="block-slide-container first" id='selection-slides'>
        <div class="block-slide-mask">
          <div class="block-slide"></div>
        </div>
        <a href="#" class="asset-slide-left"></a>
        <a href="#" class="asset-slide-right"></a>
      </div>
    </div>
  </section>
</div>

<div class="container-fluid content-zone {% if request.user.is_anonymous %}last{% endif %}">
  <section class="row-fluid">
    <h1 class="block-title"><i class="asset-note"></i>Populaires</h1>
    <div class="block-content">
      <div class="block-slide-container first" id='popular-slides'>
        <div class="block-slide-mask">
          <div class="block-slide"></div>
        </div>
        <a href="#" class="asset-slide-left"></a>
        <a href="#" class="asset-slide-right"></a>
      </div>
    </div>
  </section>
</div>

{% if request.user.is_authenticated %}
<div class="container-fluid content-zone">
  <section class="row-fluid">
    <h1 class="block-title"><i class="asset-fav"></i>Favoris</h1>
    <div class="block-content">
      <div class="block-slide-container first" id='favorites-slides'>
        <div class="block-slide-mask">
          <div class="block-slide"></div>
        </div>
        <a href="#" class="asset-slide-left"></a>
        <a href="#" class="asset-slide-right"></a>
      </div>
    </div>
  </section>
</div>

<div class="container-fluid content-zone last">
  <div class="row-fluid">
    <section class="span6">
      <h1 class="block-title"><i class="asset-headphones"></i>Qu'est ce que vos amis écoutent ?</h1>
      <div class="block-content">
        <ul class="stories-list">
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Andrew</a> écoute la radio <a href="#">Don't forget music</a></div>
            <div class="date">Depuis 10 minutes</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Julien</a> écoute la radio <a href="#">Stand Up and Dance Bitch !</a></div>
            <div class="date">Depuis 15 minutes</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Jean-Marc</a> a écouté la radio <a href="#">Keep calm and Drink Vodka</a></div>
            <div class="date">Il y a 3 heures</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Andrew</a> a écouté la radio <a href="#">Keep calm</a></div>
            <div class="date">Il y a 5 heures</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Andrew</a> a écouté la radio <a href="#">Keep calm</a></div>
            <div class="date">Il y a 6 heures</div>
          </li>
        </ul>
      </div>
    </section>
    <section class="span6">
      <h1 class="block-title"><i class="asset-playlist"></i>L'activité de vos radios</h1>
      <div class="block-content">
        <ul class="stories-list">
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">3 morceaux ont été ajoutés sur <a href="#">Don't forget music</a></div>
            <div class="date">Il y a 10 minutes</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">4 morceaux ont été ajoutés sur <a href="#">Stand Up and Dance Bitch !</a></div>
            <div class="date">Il y a 15 minutes</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">26 morceaux ont été ajoutés sur <a href="#">Keep calm and Drink Vodka</a></div>
            <div class="date">Il y a 3 heures</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">12 morceaux ont été ajoutés sur <a href="#">Keep calm</a></div>
            <div class="date">Il y a 5 heures</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">18 morceaux ont été ajoutés sur <a href="#">Keep calm</a></div>
            <div class="date">Il y a 6 heures</div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
{% endif %}
