{% load i18n %}

<div class="container-fluid content-alert app-alert">
  <a type="button" class="asset-close" data-dismiss="alert">×</a>
  <i class="asset-alert-app-logo"></i>
  La nouvelle version de l'application <strong>YaSound</strong> est <strong>disponible sur l'AppStore</strong>
  <a class="btn-sky" href="#">Télécharger l'app</a>
</div>


<div class="container-fluid content-zone">
  <section class="row-fluid">
    <h1 class="block-title"><i class="asset-note"></i>{% trans "Selection" %}</h1>
    <div class="block-content">slide</div>
  </section>
</div>

<div class="container-fluid content-zone">
  <section class="row-fluid">
    <h1 class="block-title"><i class="asset-note"></i>Populaires</h1>
    <div class="block-content">slide</div>
  </section>
</div>

<div class="container-fluid content-zone">
  <section class="row-fluid">
    <h1 class="block-title"><i class="asset-fav"></i>Favoris</h1>
    <div class="block-content">slide</div>
  </section>
</div>

<div class="container-fluid content-zone last">
  <div class="row-fluid">
    <section class="span6">
      <h1 class="block-title"><i class="asset-headphones"></i>Qu'est ce que vos amis écoutent ?</h1>
      <div class="block-content">
        <ul class="stories-list">
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Andrew</a> écoute la radio <a href="#">Don't forget music</a></div>
            <div class="date">Depuis 10 minutes</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Julien</a> écoute la radio <a href="#">Stand Up and Dance Bitch !</a></div>
            <div class="date">Depuis 15 minutes</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Jean-Marc</a> a écouté la radio <a href="#">Keep calm and Drink Vodka</a></div>
            <div class="date">Il y a 3 heures</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Andrew</a> a écouté la radio <a href="#">Keep calm</a></div>
            <div class="date">Il y a 5 heures</div>
          </li>
          <li>
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story"><a href="#">Andrew</a> a écouté la radio <a href="#">Keep calm</a></div>
            <div class="date">Il y a 6 heures</div>
          </li>
        </ul>
      </div>
    </section>
    <section class="span6">
      <h1 class="block-title"><i class="asset-playlist"></i>L'activité de vos radios</h1>
      <div class="block-content">
        <ul class="stories-list">
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">3 morceaux ont été ajoutés sur <a href="#">Don't forget music</a></div>
            <div class="date">Il y a 10 minutes</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">4 morceaux ont été ajoutés sur <a href="#">Stand Up and Dance Bitch !</a></div>
            <div class="date">Il y a 15 minutes</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">26 morceaux ont été ajoutés sur <a href="#">Keep calm and Drink Vodka</a></div>
            <div class="date">Il y a 3 heures</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">12 morceaux ont été ajoutés sur <a href="#">Keep calm</a></div>
            <div class="date">Il y a 5 heures</div>
          </li>
          <li>
            <a class="pic pic-rounded" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a>
            <div class="story">18 morceaux ont été ajoutés sur <a href="#">Keep calm</a></div>
            <div class="date">Il y a 6 heures</div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>

<div class=''>
    <ul id='selected-radios' class='radio-cells'>
    </ul>
    {# {% if not radios %} #}
    <img class='loading-mask' src='/media/images/loading.gif'/>
    {# {% endif %} #}
    <div class='cell-pagination' id='pagination'></div>
</div>