{% load i18n %}
<div class='span12 profile-background'>
    <button class='yabutton right' id='back-btn'>{% trans 'Back to profile' %}</button>
    <h2 class='zone-title'>{% trans "Favorites" %}</h2> 
    <ul id='results' class='radio-cells'>
    <img class='loading-mask' src='/media/images/loading-white.gif'/>
    </ul>
    <div class='cell-pagination' id='pagination'></div>
</div>