{% load i18n %}
<div class='row'>
    <div class='span12'>
        <h2>{% trans "YaSound, the number one socials radios platform." %}</h2>
    </div>

</div>

<div class='row'>
    <div class='span3'>
        <div class="data" style="margin-right: 70px; width: 217px;" id="JM">
            <img src="/media/yaweb/images/Jean-Marc_Plueger.jpg" width="217"
                height="297" alt="Jean-Marc_Plueger" />
            <h3>Jean-Marc_Plueger</h3>
            {% blocktrans %}CEO, Co-Founder <br/> <br/> Jean-Marc founded
            the web agency CSTech and Jiwa, a music-on-demand website. <br/>
            When he's not founding startups, Jean-Marc loves to travel.
            {% endblocktrans %}
        </div>
    </div>

    <div class='span3'>
        <div class="data" style="margin-right: 105px; width: 217px;" id="Seb">
            <img src="/media/yaweb/images/Sebastien_Metrot.jpg" width="217"
                height="297" alt="Sébastien Métrot" />
            <h3>Sébastien Métrot</h3>
            {% blocktrans %}CTO, Co-Founder<br /><br />
  After developing music software and providing audio R&amp;D for video game publishers, Sébastien joined MXP4 where he became Senior Director of Technology. <br />
  When he's not coding in C++, Sébastien plays music and studies Asian languages.
            {% endblocktrans %}
        </div>
    </div>

    <div class='span1'>
        &nbsp;
    </div>

    <div class='span5'>
        <div class="data" style="width: 360px; vertical-align: middle;"
            id="descriptif">
            {% blocktrans %}
            <p>Listen to thousand of radios on the web and on mobile. Chat in real time with your friends. Create freely and easily your own radio, broadcasted everywhere, 24 hours a day, 7 days per week. Everything is available now with YaSound.
<br/><br/>It is free, it is ad-free, it is convenient, it is magic.. It is Yasound.<br/><br/>
    <p>Yasound was founded in 2011 by Jean-Marc Plueger and Sébastien Métrot. </p>
            {% endblocktrans %}
        </div>

    </div>
</div>


