{% load i18n %}
<div class="container-fluid content-zone">
    <div class='row-fluid'>
        <div class='span12'>
            <h1>{% trans "YaSound, the number one socials radios platform" %}</h1>
        </div>
    </div>
</div>

<div class="container-fluid content-zone visible-desktop">
    <div class='row-fluid' id='about'>
        <div class='span12' id='header'>
            <div id='headline'>
                <p>{% trans "<strong>YasSound</strong> is a new service that lets you <br/> create <strong>your own radio station</strong> in <br/>just a few clicks and share it with your friends in real time." %}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid content-zone about">
    <div class='row-fluid'>

    <div class='span3' id='jmp'>
        <div>
            <img src="/media/app/images/about/jmp.png" width="186"
                height="252" alt="Jean-Marc_Plueger" />
            <h3>Jean-Marc Plueger</h3>
            <h4>{% trans "CEO, Co-Founder" %}</h4>
            <p>{% blocktrans %}Jean-Marc founded
            the web agency CSTech and Jiwa, a music-on-demand website. <br/>YaSound was his latest venture. He passed away on monday December 10th of 2012 but he managed to transmit his drive and energy to the team. We will continue the project, thinking about him everyday in the future.
            {% endblocktrans %}</p>
        </div>

    </div>
    <div class='span3' id='seb'>
        <div>
            <img src="/media/app/images/about/sme.png" width="186"
                height="252" alt="Sébastien Métrot" />
            <h3>Sébastien Métrot</h3>
            <h4>{% trans "CTO, Co-Founder" %}</h4>
            <p>{% blocktrans %}
  After developing music software and providing audio R&amp;D for video game publishers, Sébastien joined MXP4 where he became Senior Director of Technology. <br />
  When he's not coding in C++, Sébastien plays music and studies Asian languages.
            {% endblocktrans %}</p>
        </div>

    </div>
    <div class='span6' id='descriptif'>
            <div id='text'>
            {% blocktrans %}
            <p>Listen to thousand of radios on the web and on mobile. Chat in real time with your friends. Create freely and easily your own radio, broadcasted everywhere, 24 hours a day, 7 days per week. Everything is available now with YaSound.
<br/>It is free, it is ad-free, it is convenient, it is magic.. It is Yasound.<br/>
    <p>Yasound was founded in 2011 by Jean-Marc Plueger and Sébastien Métrot. </p>
            {% endblocktrans %}
            </div>

    </div>
    </div>
</div>

    <div id='about-footer'>&nbsp;</div>
