{% load i18n %}
<div class="container-fluid content-zone">
  <div class="row-fluid">
    <div class='span12'>
        <h1>{% trans "Yasound is hiring" %}</h1>
    </div>
  </div>
</div>

<div class="container-fluid content-zone last">
  <div class="row-fluid">

    <div class='span6'>
            <img src="/media/yaweb/images/Yasound_recrute.jpg"
                alt="Yasound recrute" width="452" height="1005" align="left" />
    </div>

    <div class='span6'>

            <p style="margin-top: 90px;">{% blocktrans %}
                Work in our Paris office and join our small and talented team
                working on exciting new projects with our CTO.?{% endblocktrans %}<br/>
            </p>
            <p>
                {% trans "Write us at" %} <a mailto:'jobs@yasound.com'>jobs@yasound.com</a>
            </p>
            {% blocktrans %}
            <h3>Mobile Software Developer</h3>
            <p>You will take part in the development of Yasound's mobile
                service (iOS + Android)</p>
            <ul>
                <li>Good C++ developer</li>
                <li>Knowledge of ObjectiveC and JNI appreciated.</li>
                <li>At least basic practical experience with dev on iOS or
                    Android</li>
                <li>Taste and talent for developing innovative and effective
                    graphical user interfaces.</li>
                <li>Taste for graphic and audio development</li>
                <li>An understanding of the challenges of streaming audio.</li>
                <li>Revision control systems: Git + Github.</li>
                <li>Love of music</li>
                <li>Tech English required.</li>
                <li>Must be curious, hard-working, efficient, passionate, and
                    friendly. <br />
                </li>
            </ul>
            <h3>Web and Server Application Developer</h3>
            <p>You will take part in the development of the Yasound service
                (web server).</p>
            <ul>
                <li>Good knowledge of Python, Node/Javascript, PHP, HTML 5,
                    CSS.</li>
                <li>Good knowledge of dev application servers on Linux.</li>
                <li>Algorithmic / optimization / scalability.</li>
                <li>An understanding of the challenges of streaming audio on
                    the web (Icecast2, RSTP, etc.)</li>
                <li>SQL (MySQL / PostgreSQL).</li>
                <li>Revision control systems: Git + Github.</li>
                <li>Tech English required.</li>
                <li>Love of music.</li>
                <li>Must be curious, hard-working, efficient, passionate, and
                    friendly. <br />
                </li>
            </ul>
            <h3>Interns</h3>
            <p>
                Interested in an internship in the field in web and mobile
                development, online marketing, or online community management? Send
                us an email at
            {% endblocktrans %} <a mailto:'jobs@yasound.com'>jobs@yasound.com</a>
            </p>

    </div>
  </div>
</div>

