{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Email confirmation" %}{% endblock %}

{% block content %}
    <div class='row'>
        <div class='span12'>
            <div class='page-header'>
               <h1>{% trans "Email confirmation" %}
               </h1>
            </div>
		    {% if email_address %}
		    <p>
		    {% trans "Congratulations, your account is now activated." %}
		    </p>
		    {% else %}
		    <p>{% trans "Invalid confirmation key." %}</p>
		    {% endif %}
        </div>
    </div>
{% endblock %}
