{% load i18n %}
<div class="inner-page">
<h1>{% trans "Key figures" %}</h1>
<table width="100%" id='certificate-table' class='table zebra-striped'>
    <thead>
        <tr style="background:#eeeeee;">
            <th style="width: 20%;">
                {% trans "Figure" %}
            </th>
            <th style="width: 80px;"> 
                {% trans "Value" %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% trans "Streamer status" %}
            </td>
            <td>
            {{streamer_status}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "User count" %}
            </td>
            <td>
            {{user_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Radio count" %}
            </td>
            <td>
            {{radio_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Radio count (ready)" %}
            </td>
            <td>
            {{ready_radio_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Device notifications activated" %}
            </td>
            <td>
            {{device_notifications_activated}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Uploaded songs" %}
            </td>
            <td>
            {{uploaded_song_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Message count" %}
            </td>
            <td>
            {{wall_message_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Like count" %}
            </td>
            <td>
            {{wall_like_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Favorites count" %}
            </td>
            <td>
            {{favorite_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Yasound friend count" %}
            </td>
            <td>
            {{yasound_friend_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Total Friend count" %}
            </td>
            <td>
            {{total_friend_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Listening time" %}
            </td>
            <td>
            {{listening_time}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Facebook users" %}
            </td>
            <td>
            {{facebook_user_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Twitter users" %}
            </td>
            <td>
            {{twitter_user_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Yasound users" %}
            </td>
            <td>
            {{yasound_user_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Songs used" %}
            </td>
            <td>
            {{song_metadata_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Unmatched songs" %}
            </td>
            <td>
            {{unmatched_song_metadata_count}} 
            </td>
        </tr>
        <tr>
            <td>
                {% trans "Matched songs ratio" %}
            </td>
            <td>
            {{matched_songs_ratio}} % 
            </td>
        </tr>
    </tbody>
</table>
</div>
