{% load i18n %}
<div class='track-container'>
    <div class='track-picture'>
        <img src="<% song_large_cover_url %>" width="210px" height="210px"/>
    </div>
    <div class='track-title'>
        <h2><% title %></h2>
    </div>
</div>
