{% load i18n %}
<div class='row-fluid'>
<div class='span4'>
    <div id='webapp-radio'></div>
</div>
<div class='span8'>
    <h2>{% trans "Radio" %}</h2>
    <div id='own-radio'>
    </div>
    <h2>{% trans "Currently listening to" %}</h2>
    <div id='current-radio'>
    </div>
    <div>
</div>
</div>
<div class='row-fluid'>

<div class='span12'>
    <h2>{% trans "Favorites" %}</h2>
    <ul id='favorites' class='thumbnails'></ul>
    <div class='cell-pagination' id='pagination'></div>
</div>
</div>