{% load i18n %}
<div class='row profile-background'>

  <div class='span12' id='user-profile'>
  </div>

  <div class='user-radios span12 no-margin'>
    <button class='yabutton right' id='radios-btn'>{% trans 'All radios' %}</button>
	<h2 class='zone-title'>{% trans "Radios" %}</h2>
    <ul class='radio-cells' id='radios'>
    </ul>
  <div class='separation-line'></div>
  </div>

  <div class='span12 no-margin' id='favorites-zone'>
    <button class='yabutton right' id='favorites-btn'>{% trans 'All favorites' %}</button>
    <h2 class='zone-title'>{% trans "Favorites" %}</h2>
    <ul class='radio-cells' id='favorites'>
    </ul>
  <div class='separation-line'></div>
  </div>

   <div class='span12 no-margin' id='friends-zone'>
      <button class='yabutton right' id='friends-btn'>{% trans 'All people' %}</button>
      <h2 class='zone-title'>{% trans "People you follow" %} (<span id='friends-count'>0</span>)</h2>
      <ul class='' id='friends'>
      </ul>
     <div class='separation-line'></div>
  </div>


  <div class='span12 no-margin' id='followers-zone'>
    <button class='yabutton right' id='followers-btn'>{% trans 'All people' %}</button>
    <h2 class='zone-title'>{% trans "People following you" %} (<span id='followers-count'>0</span>)</h2>
    <ul class='' id='followers'>
    </ul>
  </div>

</div>
