{% load i18n %}
<div class='span12'>
   <div id='picture'>
       <img src="<% picture %>" width="163px" height="163px"/>
   </div>
   <div id='recent-activity'>
    <%#history%>
    <p><% human_date %></p>
    <p><% message %></p>
    <a id='radio-activity' href='/app/radio/<% radio_uuid %>/'><% radio_name %></a> 
    <%/history%>
   </div>
   <div id='infos'>
     <h2 id="user-name"><% name %></h2>
		<button type="button" class="user-btn yabutton-large right">Message</button>
		<button type="button" class="user-btn yabutton-large right">Suivre</button>
     <p class="profile-bio"><% bio_text %></p>
   </div>
   
</div>
