{% load i18n %}
{% load app_url %}
<div class='span12'>
   <div id='picture'>
       <img src="<% picture %>" width="148px" height="148px"/>
   </div>
   <div id='infos'>
    <h2 id="user-name"><% name %></h2>
	<!-- <a href='#' class='sd-hd-small'><img src="/media/app/images/profile/HD.png" width="24" height="13" alt="HD"></a> -->
	<span class='validated'>
        <%^owner%>
        <%#is_friend%>
		<img src="/media/app/images/profile/validated-profile.png" width="25" height="25" alt="Validated Profile"/>
	    <%/is_friend%>
        <%/owner%>
	</span>
    <em class='visible-phone'><% fagc %></em>
    <%^owner%>
	<button type="button" class="user-btn yabutton-large right" id='follow'>
    	<%#is_friend%>{% trans "Unfollow" %}<%/is_friend%>
        <%^is_friend%>{% trans "Follow" %}<%/is_friend%>
	</button>
    <%/owner%>
    <%#owner%>
    <button type="button" id='logout-btn' class="user-btn yabutton right"><a href='{% url logout %}'>{% trans "Logout" %}</a></button>
    <button type="button" id='settings-btn' class="user-btn yabutton right"><a href='{% app_url webapp_settings app_name %}'>{% trans "Settings" %}</a></button>
    <%/owner%>
    <em class='hidden-phone'><% fagc %></em>
    <p class="profile-bio"><% bio_text %></p>
   </div>
	<div class='separation-high'>
		<img src="/media/app/images/profile/separation-profile.png" width="3" height="199" alt="Separation Profile">
	</div>
   <div id='comments'>
        <%#history%>
   		<h2><% human_date %> {% trans "on" %} <a id='radio-history' href='{{ root }}radio/<% radio_uuid %>/'><% radio_name %></a></h2>
		<blockquote>&laquo; <% message %> &raquo;</blockquote>
        <%/history%>
		<div class='artist-comment'>
		    <%#current_radio%>
			{% trans "Currently listening to:" %}
			 <a id='radio-activity' href='{{ root }}radio/<% uuid %>/'><% name %></a>
			<div class='radio-picto'>
				<a href='{{ root }}radio/<% uuid %>/'>
				  <img src="<% picture %>" width="32" height="32" alt="Radio Picto">
				</a>
			</div>
            <%/current_radio%>
		</div>
   </div>
</div>
