{% load i18n %}
<div class='span12'>
   <div id='picture'>
       <img src="<% picture %>" width="300px" height="300px"/>
   </div>
   <div id='recent-activity'>
    <%#history%>
    <p><% human_date %></p>
    <p><% message %></p>
    <a id='radio-activity' href='/app/radio/<% radio_uuid %>/'><% radio_name %></a> 
    <%/history%>
   </div>
   <div id='infos'>
     <h2><% name %></h2>
     <p><% bio_text %></p>
   </div>
   
</div>
