{% load i18n %}
{% load app_url %}

<header id="header" class="navbar header-navbar">
  <div class="wrapper">
    <div class="container-fluid">
      <div id="brand-logo">
        <a class="asset-logo" href="{% app_url webapp app_name %}" id="btn-webapp">YaSound</a>
      </div>
      <div id="search-bar">
        <input type="text" id="search-input" placeholder="Recherchez un artiste, une radio..." maxlength="25" />
        <a href="#" class="asset-glass" id="search-symbol"></a>
      </div>
      <nav class="header-nav">
        <ul>
          <li><a href="#" class="btn-nav">Découvrir</a></li>
          {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a class="btn-nav" data-toggle="dropdown" href="#"><i class="asset-hd-off"></i></a>
            <ul class="dropdown-menu dropdown-bordered">
              <li class="list-block">
                <div class="a">
                  <i class="icon asset-mini-hd-on"></i>
                  <div class="txt">
                    <strong>HD activé</strong>
                    <span>Jusqu'au 13.12.2012</span>
                  </div>
                  <form class="dropdown-toggler">
                    <input type="checkbox" id="toggle-hd" />
                    <label for="toggle-hd"></label>
                  </form>
                </div>
              </li>
              <li class="list-block">
                <div class="a">
                  <i class="icon asset-mini-promo"></i>
                  <div class="txt">
                    <strong>Entrez un code<br />promo</strong>
                  </div>
                  <form class="dropdown-promo">
                    <input class="input-text" type="text" />
                    <button type="submit"><i class="asset-mini-check"></i></button>
                  </form>
                </div>
              </li>
              <li class="list-block">
                <a href="#">
                  <i class="icon asset-mini-gift"></i>
                  <div class="txt">
                    <strong>Connectez votre compte Facebook</strong>
                    <span>Jusqu'au 13.12.2012</span>
                  </div>
                </a>
              </li>
              <li class="list-block">
                <a href="#">
                  <i class="icon asset-mini-gift"></i>
                  <div class="txt">
                    <strong>Connectez votre compte Twitter</strong>
                    <span>Jusqu'au 13.12.2012</span>
                  </div>
                </a>
              </li>
              <li class="list-foot">
                <a href="#">Afficher les 8 autres offres</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="btn-nav btn-envelope" data-toggle="dropdown" href="#">
              <i class="asset-envelope"></i>
              <span class="count-badge {% ifequal notification_count 0 %}hidden{% endifequal %}">{{ notification_count }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="list-block">
                <a href="#">
                  <i class="icon asset-mini-com"></i>
                  <div class="txt-pic">
                    <strong>1 mois d'abonnement HD offert</strong>
                    <span>Le 17 janvier 2012 à 13h23</span>
                  </div>
                </a>
              </li>
              <li class="list-block">
                <a href="#">
                  <i class="icon asset-mini-fav"></i>
                  <div class="txt-pic">
                    <strong>Julien l'a ajouté en favoris</strong>
                    <span>Le 17 janvier 2012 à 13h23</span>
                  </div>
                  <div class="img">
                    <img src="http://placehold.it/30x30" width="30" height="30" alt="" />
                  </div>
                </a>
              </li>
              <li class="list-block">
                <a href="#">
                  <i class="icon asset-mini-com"></i>
                  <div class="txt-pic">
                    <strong>1 nouveau message</strong>
                    <span>Le 17 janvier 2012 à 13h23</span>
                  </div>
                  <div class="img">
                    <img src="http://placehold.it/30x30" width="30" height="30" alt="" />
                  </div>
                </a>
              </li>
              <li class="list-block">
                <a href="#">
                  <i class="icon asset-mini-com"></i>
                  <div class="txt-pic">
                    <strong>Tommy a aimé ce morceau</strong>
                    <span>Le 17 janvier 2012 à 13h23</span>
                  </div>
                  <div class="img">
                    <img src="http://placehold.it/30x30" width="30" height="30" alt="" />
                  </div>
                </a>
              </li>
              <li class="list-foot">
                <a href="#">Afficher les 8 autres notifications</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="btn-nav btn-profile" data-toggle="dropdown">
              <img class="img-circle" src="{{ user_profile.medium_picture_url }}" width="38" height="38" alt="" />
              <i class="asset-arrow-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-mini" id='profile-menu'>
              <li><a href="#" class='my-profile'>{% trans "My profile" %}</a></li>
              <li><a href="#" class='my-radios'>{% trans "My radios" %}</a></li>
              <li><a href="#" class='my-settings'>{% trans "My settings" %}</a></li>
              <li><a href="#" class='about'>{% trans "About" %}</a></li>
              <li><a href="#" class='legal'>{% trans "Legal informations" %}</a></li>
              <li><a href="#" class='logout'>{% trans "Logout" %}</a></li>
            </ul>
          </li>
          {% else %}
          <li class="dropdown">
            <a href="#" class="btn-nav" data-toggle="dropdown">Se connecter</a>
            <div class="dropdown-menu">
              <div class="dropdown-block">
                <a href="{% url socialauth_begin 'twitter' %}?next={{ root }}{{ next }}" rel="nofollow" class="btn-sky">{% trans 'Login with Twitter' %}</a>
                <a href="{% url socialauth_begin 'facebook' %}?next={{ root }}" rel="nofollow" class="btn-navy">{% trans 'Login with Facebook' %}</a>
              </div>
              <div class="dropdown-block">
                <form class="dropdown-form" id='login-form' method='post' action="{% app_url webapp_login app_name %}">{% csrf_token %}
                  <input class="input-text textfield-email" required="required" type="text" name="email" placeholder="{% trans 'Your email' %}" />
                  <input class="input-text textfield-pwd" type="password" name="password" required="required"  placeholder="{% trans 'Your password' %}" />
                  <button type="submit" class="btn-coral btn-connect">Connexion</button>
                  <div class="clearfix"></div>
                  <div><a class="lost-password" href='{% url lost_password %}'>Mot de passe perdu ?</a></div>
                </form>
              </div>
            </div>
          </li>
          <li><a href="#" class="btn-coral btn-register">S'inscrire</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
