{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head %}
    <script type="text/javascript">
        var g_radio_url = '{{ radio_url }}';
        var g_radio_id = '{{ radio.id }}';
        
        var lbl_mute = "{% trans 'Mute' %}";
        var lbl_unmute = "{% trans 'Unmute' %}";
        var lbl_play = "{% trans 'Play' %}";
        var lbl_stop = "{% trans 'Stop' %}";
    </script>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.timers.js"></script>
    <script type="text/javascript" src="/media/js/sm/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="/media/js/listen.js"></script>
    
{% endblock %}
{% block head_title %}{% trans "Listening to" %} {{ radio }}{% endblock %}
{% block body %}
<div class='container'>
    <div class='row'>
        <div class='span3'>
        <img src='/media/images/logo.png' alt='Yasound logo'/>
        </div>
        <div class='span9'>
        <img src='/media/images/banner.png' alt='Banner'/>
        </div>
    </div>
    <div class='row'>
        <div class='span12'>
		   <div id="radio">
		       <div id='radio-picture'>
		           {% if radio.picture %}
			       {% thumbnail radio.picture "128x128" format='PNG' as im %}
			       <img src="{{ im.url }}" alt='{% trans "Radio logo" %}'/>
			       {% endthumbnail %}
			       {% else %}
                   <imgsrc="/media/images/default_image.png" width="128px" height="128px" alt='{% trans "Radio logo" %}'/>
			       {% endif %}
		       </div>
		       <div id='radio-title'>
			       <h1>{{ radio }}</h1>
			       {% for tag in radio.tags.all %}<span class="label notice">{{tag}}</span> {% endfor%}
			       <p>{% trans "By" %} <strong>{{ radio.creator.get_profile }}</strong></p>
			       <p>{{ radio.description }}</p>
		        </div>
		   </div>
        </div>   
    </div>

    <div class='row'>
        <div class='span12'>
           <div id='player'>
               <div id='track-picture'>
                   <img id='track-image' src="/media/images/default_image.png" width="128px" height="128px" alt='{% trans "Track logo" %}'/>
               </div>
               <div id='track-details'>
                   <h2><span id='track-name'>{% trans "No name" %}</span></h2>
                   <p>{% trans "By"%} <strong><span id='track-artist'></span></strong> - <strong><span id='track-album'></span></strong></p>
                   <div class="btn-toolbar">
                   <div class="btn-group">
                      <a class="btn" id='play'><i class="icon-play"></i></a>
                      <a class="btn" id='dec'><i class="icon-volume-down"></i></a>
                      <a class="btn" id='inc' ><i class="icon-volume-up"></i></a>
                   </div>

                   <div class="btn-group">
                   <a class="btn" href="#">
                    <i class="icon-shopping-cart"></i>
                    {% trans "Buy on iTunes" %}
                    </a>
                    </div>

                   </div>
               </div> 
        </div>
    </div>
    
    <div class='row'>
        <div id='appstore'>
        <a href='#'>
        <img src='/media/images/available-appstore-fr.png' alt='{% trans "available on appstore" %}'/>
        </a>
        </div>
    </div>    
    
    <footer>
      <div id="menu">
      <a href="a_propos_de_nous.php">À propos de nous</a> | <a href="jobs.php">Jobs</a> | <a href="presse.php">Presse</a> | <a href="contact.php">Contact</a>
      </div>
    </footer>
</div>
{% endblock %}