{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
    <script type="text/javascript">
        var g_radio_url = '{{ radio_url }}';
        var lbl_mute = "{% trans 'Mute' %}";
        var lbl_unmute = "{% trans 'Unmute' %}";
        var lbl_play = "{% trans 'Play' %}";
        var lbl_stop = "{% trans 'Stop' %}";
    </script>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/sm/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="/media/js/listen.js"></script>
    
{% endblock %}
{% block head_title %}{% trans "Listening to" %} {{ radio }}{% endblock %}
{% block body %}
<div class='container'>

    <div class='row'>
	    <div class='span10'>
		    <div class="hero-unit">
			    <h1>{{ radio }}</h1>
		        {% for tag in radio.tags.all %}<span class="label notice">{{tag}}</span> {% endfor%}
			    <p>{% trans "Created by" %} <strong>{{ radio.creator }}</strong> {% trans "on" %} {{ radio.created|date:"j F Y" }}</p>
			    <p>{{ radio.description }}</p>
				<p><a class="btn primary large" href='http://yasound.com'>{% trans "Go to Yasound »" %}</a></p>
		    </div>
	    </div>
        <div class='span6'>
            <table class="zebra-striped">
            <thead>
            </thead>
            <tbody>
            <tr><td>{% trans "Creator" %}</td><td>{{ radio.creator }}</td></tr>
            <tr><td>{% trans "Date" %}</td><td>{{ radio.created|date:"j F Y" }}</td></tr>
            <tr><td>{% trans "Genre" %}</td><td>{{ radio.genre }}</td></tr>
            <tr><td>{% trans "Theme" %}</td><td>{{ radio.theme }}</td></tr>
            <tr><td>{% trans "Audience peak" %}</td><td>{{ radio.audience_peak }}</td></tr>
            <tr><td>{% trans "Overall listening time" %}</td><td>{{ radio.overall_listening_time }}</td></tr>
            <tr><td>{% trans "Listeners" %}</td><td>{{ listeners }}</td></tr>
            <tr><td>{% trans "Fans" %}</td><td>{{ fans }}</td></tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="well">
        <a class="btn large" id='play' href='#'>{% trans "Play" %}</a>
        <a class="btn large" id='inc' href='#'>{% trans "Increase volume" %}</a>
        <a class="btn large" id='dec' href='#'>{% trans "Decrease volume" %}</a>
        <a class="btn large" id='mute' href='#'>{% trans "Mute" %}</a>
    </div>
</div>
{% endblock %}