{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head %}

{% block fb_open_graph %}
  <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
  <meta property="og:type"   content="{{ FACEBOOK_APP_NAMESPACE}}:song" />
  <meta property="og:url"    content="{{ request.build_absolute_uri }}" />
  <meta property="og:title"  content="{{ song }}" />
  <meta property="og:image"  content="{{ radio_picture_absolute_url }}" />
  <meta property="{{ FACEBOOK_APP_NAMESPACE}}:radio_station" content="{{ radio_station_url }}" />
  <meta property="og:locale:alternate" content="fr_FR" />

  <meta property="og:video:height" content="40" />
  <meta property="og:video:width" content="80" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video" content="{{ flash_player_absolute_url }}?mp3={{radio_url}}&showslider=0&showvolume=1&buttonwidth=40&height=40&volumewidth=40&autoplay=1" />
  <meta property="og:video:secure_url" content="{{ flash_player_absolute_url }}?mp3={{radio_url}}&showslider=0&showvolume=1&buttonwidth=40&height=40&volumewidth=40&autoplay=1" />

{% endblock %}


    <script type="text/javascript">
        var g_radio_url = '{{ radio_url }}';
        var g_radio_id = '{{ radio.id }}';

        var lbl_mute = "{% trans 'Mute' %}";
        var lbl_unmute = "{% trans 'Unmute' %}";
        var lbl_play = "{% trans 'Play' %}";
        var lbl_stop = "{% trans 'Stop' %}";
        var g_auto_play = true;
    </script>
    <link rel="stylesheet" href="/media/css/flashblock.css"/>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.timers.js"></script>
    <script type="text/javascript" src="/media/js/sm/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="/media/js/listen.js"></script>

{% endblock %}
{% block head_title %}{% trans "Listening to" %} {{ radio }}{% endblock %}
{% block content %}
    <div class='row'>
        {% if request.user.is_superuser %}
        <div class='span12'>
        <div class="alert">
        <strong>Hello superuser</strong> <a href='{{ new_page }}'>Do you want to try out new web page ?</a>
        </div>
        </div>

        {% endif %}
        <div class='span4'>
           <div id="radio">
               <div id='radio-picture' class='thumbnail'>
                   {% if radio.picture %}
                   {% thumbnail radio.picture "210x210" format='PNG' crop='center' as im %}
                   <img src="{{ im.url }}" width="210px" height="210px" alt='{% trans "Radio logo" %}'/>
                   {% endthumbnail %}
                   {% else %}
                   <img src="/media/images/default_image.png" width="210px" height="210px" alt='{% trans "Radio logo" %}'/>
                   {% endif %}
               </div>
               <div id='radio-title'>
                   <h1>{{ radio }}</h1>
                </div>
           </div>
        </div>

        <div class='span8'>
           <div id='player'>
               <div id='track-picture' class='thumbnail'>
                   <img id='track-image' src="/media/images/default_image.png" width="160px" height="160px" alt='{% trans "Track logo" %}'/>
               </div>
               <div id='track-details'>
                   <h2><span id='track-name'>{% trans "No name" %}</span></h2>
                   <p>{% trans "By"%} <strong><span id='track-artist'></span></strong> - <strong><span id='track-album'></span></strong></p>
                   <div class="btn-toolbar">
                   <div class="btn-group">
                      <a class="btn" id='play'><i class="icon-play"></i></a>
                      <a class="btn" id='dec'><i class="icon-volume-down"></i></a>
                      <a class="btn" id='inc' ><i class="icon-volume-up"></i></a>
                   </div>

                   <div class="btn-group">
                   <a class="btn" id='btn-buy' href="{% url buy_link radio.id %}" target='_blank'>
                    <i class="icon-shopping-cart"></i>
                    {% trans "Buy on iTunes" %}
                    </a>
                    </div>
                      <div class="progress no-ease" id='volume-control' onmousedown="return false">
                        <div class="bar" id='volume-position' style="width: 0%;" onmousedown="return false"></div>
                      </div>

                   </div>
               </div>
            </div>
        </div>
    </div>
{% endblock %}