{% load i18n %}
<section class="teaser" style='display:none;'>
  <div class="teaser-bg"></div>
  <div class="teaser-content">
    <h1>{% trans "Discover <strong>YaSound</strong>, the free <strong>social radios</strong> platform!" %}</strong></h1>
    <i class="asset-teaser-register"></i>
    <a href="http://itunes.apple.com/fr/app/yasound/id492680161?mt=8&uo=4" target="itunes_store" class="appstore">
      <i class="asset-teaser-phone"></i>
      <i class="asset-teaser-appstore-{{ LANGUAGE_CODE }}"></i>
    </a>
    <h2 class="argument show"><i class="asset-teaser-headphones"></i>{% trans "<strong>Listen to</strong> the largest<br />radios database in the world" %}</h2>
    <h2 class="argument"><i class="asset-teaser-radio"></i>{% trans "<strong>Create</strong> your radio in an instant" %}</h2>
    <h2 class="argument"><i class="asset-teaser-link"></i>{% trans "<strong>Share</strong> your listening with your friends" %}</h2>
    <ul class="paginate">
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
    </ul>
    <a class="teaser-close">×</a>
  </div>
</section>
