{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load compressed %}
{% load straight_include %}

{% block extra_head %}
    <link rel="image_src" href="/media/yaweb/images/logo.png" />
        
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <link rel="stylesheet" href="/media/css/flashblock.css"/>
    <link rel="stylesheet" href="/media/css/webapp.css"/>
    {% compressed_js 'webapp-all' %}
    <script type="text/javascript">
        moment.lang('{{request.LANGUAGE_CODE}}');

       var g_authenticated = {% if request.user.is_authenticated %}1{% else %}0{% endif %};
    </script>


   <script type="text/html" id="radioTemplate">
      {% include "yabase/app/radio.mustache" %}
   </script>

   <script type="text/html" id="trackTemplate">
      {% include "yabase/app/track.mustache" %}
   </script>

{% if request.user.is_authenticated %}
   <script type="text/html" id="wallInputTemplate">
      {% include "yabase/app/wallInput.mustache" %}
   </script>
    
   <script type="text/html" id="wallEventTemplateMessage">
      {% include "yabase/app/wallEvent.message.mustache" %}
   </script>
   <script type="text/html" id="wallEventTemplateLike">
      {% include "yabase/app/wallEvent.like.mustache" %}
   </script>
   <script type="text/html" id="wallEventTemplateSong">
      {% include "yabase/app/wallEvent.song.mustache" %}
   </script>
   
   <script type="text/html" id="radioUserTemplate">
      {% include "yabase/app/radioUser.mustache" %}
   </script>
   
   <script type='text/html' id='paginationTemplate'>
     {% include "yabase/app/pagination.mustache" %}
   </script>

   <script type='text/html' id='radioPageTemplate'>
     {% include "yabase/app/radioPage.mustache" %}
   </script>
   
{% endif %}

{% endblock %}
{% block head_title %}{% trans "Yasound" %}{% endblock %}
{% block body %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
            <a href='/' class='brand'><img src='/media/images/logo.png' alt='Yasound logo'/></a>
          <div class="nav-collapse">
            <div class="btn-group pull-right" id='user-menu'>
                {% if request.user.is_authenticated %}
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i>
                            {{ request.user.userprofile }} 
                        <span class="caret"></span> </a>
						<ul class="dropdown-menu">
							<li><a href="{% url webapp_radio user_uuid %}" id='btn-my-radio' yasound:uuid='{{ user_uuid }}'>{% trans "My radio" %}</a></li>
							<li><a href="#">{% trans "My favorites" %}</a></li>
							<li><a href="#">{% trans "My friends" %}</a></li>
	                        <li class="divider"></li>
    						<li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
						</ul>
                {% else %}
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i>
                            {% trans "Not logged" %}
                        <span class="caret"></span> </a>
                {% endif %}                
            </div>
                        
          </div><!--/.nav-collapse -->
            <div id='webapp-player'>
            </div>
        </div>
      </div>
    </div>
    
<div class='container-fluid'>
    <div id='webapp-content' class='row-fluid'>
    </div>
    <hr>
    <footer>
    <p>&copy; Yasound 2012</p>
    </footer>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=296167703762159";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

