{% load i18n %}
{% load thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{current_locale}}" lang="{{current_locale}}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# yasoundev: http://ogp.me/ns/fb/yasoundev#">
    <title>{% trans "Listening to" %} {{ radio }} — Yasound</title>
    <link rel="icon" type="image/png" href="/media/app/images/favicon.png" />
    <meta name="description" content="Avec Yasound, créez votre radio en un instant, écoutez la musique avec vos amis, et communiquez avec eux en temps réel sur le net et sur votre mobile." />
    <meta name="Author" content="Yasound SAS" />
    <meta name="copyright" content="Yasound SAS" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="language" content="french" />
    <link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/media/css/style_widget_large.css"/>

    <!--[if lte IE 7] -->
        <link rel="stylesheet" href="/media/css/ie.css"/>
    <!--<![endif]-->

    <script type="text/javascript">
        var g_radio_url = '{{ radio_url }}';
        var g_radio_id = '{{ radio.id }}';

        var lbl_mute = "{% trans 'Mute' %}";
        var lbl_unmute = "{% trans 'Unmute' %}";
        var lbl_play = "{% trans 'Play' %}";
        var lbl_stop = "{% trans 'Stop' %}";
        var g_auto_play = false;
    </script>
    <link rel="stylesheet" href="/media/css/flashblock.css"/>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.timers.js"></script>
    <script type="text/javascript" src="/media/js/sm/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="/media/js/listen.js"></script>
</head>
<body>

{% block body %}
<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span12'>
           <a href='{% url yabase.views.web_listen radio.uuid %}' target='_blank'><img src='/media/app/images/widget/logo.png' alt='Yasound logo' width='130px'/></a>
           <div id='widget-player'>
               <div id='track-picture' class='thumbnail'>
                   <img id='track-image' src="/media/images/default_image.png" width="120px" height="120px" alt='{% trans "Track logo" %}'/>
                   <div class="btn-group">
                      <a class="btn" id='play'><i class="icon-play"></i></a>
                      <a class="btn" id='dec'><i class="icon-volume-down"></i></a>
                      <a class="btn" id='inc' ><i class="icon-volume-up"></i></a>
                   </div>
                      <div class="progress no-ease" id='volume-control' onmousedown="return false">
                        <div class="bar" id='volume-position' style="width: 0%;" onmousedown="return false"></div>
                      </div>
               </div>
               <div id='track-details'>
                   <h4><span id='track-name'>{% trans "No name" %}</span></h4>
                   <p>{% trans "By"%} <strong><span id='track-artist'></span></strong> - <strong><span id='track-album'></span></strong></p>
               </div>
               <div class='clear'></div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}

<script type="text/javascript">
// GOOGLE ANALYTICS
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27871295-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>