{% load i18n %}
{% load thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{current_locale}}" lang="{{current_locale}}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# yasoundev: http://ogp.me/ns/fb/yasoundev#">
    <title>{% trans "Listening to" %} {{ radio }} — Yasound</title>
    <link rel="icon" type="image/png" href="/media/yaweb/images/favicon.png" />
    <meta name="description" content="Avec Yasound, créez votre radio en un instant, écoutez la musique avec vos amis, et communiquez avec eux en temps réel sur le net, et bientôt sur votre mobile." />
    <meta name="Author" content="Yasound SAS" />
    <meta name="copyright" content="Yasound SAS" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="language" content="french" />
    <link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/media/css/style.css"/>

    <!--[if lte IE 7] -->
        <link rel="stylesheet" href="/media/css/ie.css"/>
    <!--<![endif]-->

    <script type="text/javascript">
        var g_radio_url = '{{ radio_url }}';
        var g_radio_id = '{{ radio.id }}';
        
        var lbl_mute = "{% trans 'Mute' %}";
        var lbl_unmute = "{% trans 'Unmute' %}";
        var lbl_play = "{% trans 'Play' %}";
        var lbl_stop = "{% trans 'Stop' %}";
        var g_auto_play = false;
    </script>
    <link rel="stylesheet" href="/media/css/flashblock.css"/>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.timers.js"></script>
    <script type="text/javascript" src="/media/js/sm/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="/media/js/listen.js"></script>
</head>
<body>

{% block body %}
<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span12'>
            <a href='/' target='_blank'><img src='/media/images/logo.png' alt='Yasound logo'/></a>
           <div id='player'>
               <div id='track-picture' class='thumbnail'>
                   <img id='track-image' src="/media/images/default_image.png" width="160px" height="160px" alt='{% trans "Track logo" %}'/>
               </div>
               <div id='track-details'>
                   <h2><span id='track-name'>{% trans "No name" %}</span></h2>
                   <p>{% trans "By"%} <strong><span id='track-artist'></span></strong> - <strong><span id='track-album'></span></strong></p>
                   <div class="btn-toolbar">
                   <div class="btn-group">
                      <a class="btn" id='play'><i class="icon-play"></i></a>
                      <a class="btn" id='dec'><i class="icon-volume-down"></i></a>
                      <a class="btn" id='inc' ><i class="icon-volume-up"></i></a>
                   </div>

                   <div class="btn-group">
                   <a class="btn" id='btn-buy' href="{% url buy_link radio.id %}" target='_blank'>
                    <i class="icon-shopping-cart"></i>
                    {% trans "Buy on iTunes" %}
                    </a>
                    </div>
                      <div class="progress no-ease" id='volume-control' onmousedown="return false">
                        <div class="bar" id='volume-position' style="width: 0%;" onmousedown="return false"></div>
                      </div>
                   </div>
               </div> 
            </div> 
        </div>   
    </div>
</div>
</body>
{% endblock %}

<script type="text/javascript">
// GOOGLE ANALYTICS
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4211339-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>