{% load i18n %}
{% load app_url %}
<div class="footer-player"><!-- Add/Remove Class "mini" to toggle -->
  <div class="wrapper">
    <div class="container-fluid">
      <section class="row-fluid">
        <div class="span6 current-radio">
          <a class="cover" href="#">
            <img src="http://placehold.it/70x70" width="70" height="70" alt="" />
            <i class="status play"></i>
          </a>
          <h3>Radio</h3>
          <h2>We love HipHop Party</h2>
          <div class="player-controls">
            <a href="#" class="pl-star on"></a>
            <a href="#" class="pl-share"></a>
          </div>
        </div>
        <div class="span6 current-song">
          <div class="cover">
            <img src="http://placehold.it/68x68" width="68" height="68" alt="" />
          </div>
          <h3>Morceau en cours</h3>
          <h1>Action Bronson - Supreme Chandeliers</h1>
          <div class="player-controls">
            <a href="#" class="pl-like"></a>
            <a href="#" class="pl-cart"></a>
          </div>
        </div>
        <a class="toggler" href=""></a>
      </section>
    </div>
  </div>
</div>