{% load i18n %}
{% load app_url %}
<div class='container'>
    <footer>
        <div id="contacts" class="blocks">
            <p>
                <a href="https://facebook.com/yasound" class="footer-text-color2" title="facebook" target='_blank'>
                    <img src="/media/app/images/facebook_logo.png" alt="facebook"/>
                    <span>Facebook</span>
                </a>
                <a href="https://twitter.com/YasoundSAS" class="footer-text-color2" title="twitter" target='_blank'>
                    <img src="/media/app/images/twitter_logo.png" alt="twitter" class="padding-social-logo"/>
                    <span>Twitter</span>
                </a>
            </p>
            <p>
                <a id='btn-about' href="{% app_url webapp_about app_name %}"
                    class="footer-text-color1"
                    title="{% trans 'About' %}">{% trans 'About' %}</a> -
                <a id='btn-press' href="{% app_url webapp_press app_name %}"
                    class="footer-text-color1"
                    title="{% trans 'Press' %}">{% trans 'Press' %}</a>
            </p>
            <p>
                <a id='btn-jobs' href="{% app_url webapp_jobs app_name %}"
                    class="footer-text-color1"
                    title="{% trans 'Jobs' %}">{% trans "Jobs" %}</a> -
                <a id='btn-legal' href="{% app_url webapp_legal app_name %}" class="footer-text-color1" title="{% trans 'Legal informations' %}">{% trans 'Legal informations' %}</a>
            </p>
        </div>

        <div class="footer-separation">
            <img src="/media/app/images/separation.png" width="4" height="81" alt="separation"/>
        </div>

        <div id="connected-users" class="blocks">
            <p id="text-users">
                {% trans "Connected users" %}
            </p>
            <div id="img-users">
        {% for user in connected_users %}
        <span class='connected-user-cell'>{% include 'yabase/app/common/connectedUser.mustache' %}</span>
        {% endfor %}
                <a href="#" id="footer-button">
                    <span id="footer-button-text">{% trans "See all" %}</span>
                </a>
            </div>
        </div>
        <div class="footer-separation">
            <img src="/media/app/images/separation.png" width="4" height="81" alt="separation"/>
        </div>

        <div id="minutes" class="blocks">
            <span class="footer-text-color1" id='minutes-listened'>{{ minutes }}</span>
            <p class="footer-text-color2" >{% trans "minutes of music have been played" %}</p>
        </div>
    <p id="copyright">&copy; Yasound 2012</p>
  <a href='#' id='scroll-top-container' style='display:none;'>
    <img src="/media/app/images/scroll-top.png" alt="{% trans 'Go to top' %}">
  </a>
    </footer>
</div>
</div>