{% load i18n %}
{% load app_url %}
<h2>{% trans "You are not authenticated" %}</h2>
<p class='lead'>{% trans "Where to go now ?" %}</p>
{% app_url webapp_login app_name as login_url %}
{% app_url webapp_signup app_name as signup_url %}
{% app_url webapp_passreset app_name as lost_password_url %}
{% blocktrans %}
<p class='lead'>
If you already have an account, enter your credentials on the <a href='{{login_url}}'>login page</a>.
</p>
<p class='lead'>
Already registered but you lost your credentials ? Go to the <a href='{{lost_password_url}}'>lost password page</a>.
</p>
<p class='lead'>
No account yet? Get on the <a href='{{signup_url}}'>registration page</a> and join yasound in a few minutes.
</p>
{% endblocktrans %}
