{% load i18n %}
<div class='pagination'>
    <button href="#" class='yabutton-large serverprev'>{% trans "« Previous" %}</button>
    <button href="#" class='yabutton-large servernext'>{% trans "Next »" %}</button>
</div>