{% load i18n %}
{% load app_url %}
<article class="radio-cell">
  <a class="radio-cell-link" href="{% app_url webapp_radio app_name radio.uuid %}">
    <div class="radio-cell-img"><img width="150" height="150" alt="" src="/media/images/radio-loading.gif" /></div>
    <div class="radio-cell-info">
      <div class="tag">{{ radio.get_genre_display }}</div>
      <i class="play asset-player-play"></i>
      <div class="tip-btn">Infos</div>
    </div>
  </a>
  <h1><a href="{% app_url webapp_radio app_name radio.uuid %}">{{ radio.name}}</a></h1>
</article>