{% load i18n %}
<div class='radio-cell'>
    <div class='picture'>
    <img src='<% picture %>' width='210' height='210'/>
    </div>
    
    <div class='mask' style='display:none;'>
		<div class="radio-icon">
			<img src="../../../media/app/images/radio/radio-radio-picture.png" width="36" height="36" alt="Radio Radio Picture">
		</div>
		<div class="radio-id">
			<p><span>Par</span> SupadexDJ</p>
			<p>Meek Mill <span>Dreamchasers 2</span>
		</div>
		<div class="tag">
			Hip-Hop
			<div class="tag-right-side"></div>
		</div>
    </div>
    
    <div class="profile">
        <%#creator%>
        <img src='<% picture %>' width='32px' height='32px'/>
        <%/creator%>
        <span class="radio-profile-picture-mask">
			<img src="/media/app/images/radio/radio-profile-picture-mask.png" width="28" height="28" alt="Radio Profile Picture Mask">
		</span>
    </div>
    <div class='caption'>
        <div class="caption-content">
            <h5><% name %></h5>
            <ul class="radio-favorites">
                <li><% favorites %></li>
                <li><% nb_current_users %></li>
            </ul>
        </div>
    </div>
</div>