{% load i18n %}
<div class="radio-cell-tip">
  <div class="arrow"></div>
  <div class="content">
    <div class="metrics">
      <div class="metrics-left">
        <i class="asset-player-star-yellow"></i>
        <strong><% favorites %></strong>
        <%#multiple_favorites%>
        <span>{% trans "favorites" %}</span>
        <%/multiple_favorites%>
        <%^multiple_favorites%>
        <span>{% trans "favorite" %}</span>
        <%/multiple_favorites%>
      </div>
      <div class="metrics-right">
        <i class="asset-comment"></i>
        <strong><% messages %></strong>
        <%#multiple_messages%>
        <span>{% trans "messages" %}</span>
        <%/multiple_messages%>
        <%^multiple_messages%>
        <span>{% trans "message" %}</span>
        <%/multiple_messages%>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="current-track">
      <strong class="headline">{% trans "Playing" %}</strong>
      <div class="progress">
        <div class="bar"
             style="width: 0%;"></div>
      </div>

      <div class="track-info">
        <img src="/media/images/tracks/default_20x20.png" width="20" height="20" alt="" />
        <strong>&nbsp;</strong>
        <span>&nbsp;</span>
      </div>
    </div>
    <div class="main-button">
      <a href="#" class="btn-green">{% trans "Display the radio" %}</a>
    </div>
  </div>
</div>