{% load i18n %}
<div class="container-fluid content-zone last">
    <div class="row-fluid">
        <div class='span12'>
            <ul id='results' class='radio-grid'>
                <div class='empty' style='display:none'>{% trans "No result found" %}</div>
            </ul>
            <img class='loading-mask' src='/media/images/loading-white.gif'/>
            <div id='pagination'></div>
        </div>
    </div>
</div>