{% load i18n %}
<div id="hd-button" class='hd-disabled'>
    &nbsp;
</div>

<div id="radio-picto">
    <a href="{% url webapp_radio app_name current_uuid %}" class='yatooltip'>

        {% if yasound_song %}
        <img id='track-image' src='{% if yasound_song.cover_url %}{{ yasound_song.cover_url }}{% else %}{{ yasound_song.album.cover_url }}{% endif %}' width="32" height="32" alt="Radio Picto">
        {% else %}
        <img id='track-image' src='<% cover %>' width="32" height="32" alt="Radio Picto">
        {% endif %}
        <span class="yatoolelt">{% trans "Go to radio" %}</span>
    </a>
</div>
    <a id="favorite-radio" class='is-not-favorite yatooltip' href="#">
            <span class="yatoolelt">{% trans "Favorite" %}</span>
    </a>
    {% ifnotequal app_name 'deezer' %}
    <a id="play-btn">
        <i class="icon-play"></i>
    </a>
    {% endifnotequal %}
<div id="sound-level">
    {% ifnotequal app_name 'deezer' %}
    <div id="min-level">
        <img src="/media/app/images/lower-volume.png" width="8" height="10" alt="Lower Volume">
    </div>

    <div id='slider-container'>
        <div id='player-title'>{{ yasound_song.title|default:'<% name %>' }}</div>
        <span class="tooltip"></span>
        <div id="volume-slider"></div>
        <span class="volume"></span>
    </div>

    <div id="max-level">
        <img src="/media/app/images/higher-volume.png" width="11" height="11" alt="Higher Volume">
    </div>
    <div class="responsive-volume-btn">
            <img src="/media/app/images/responsive-lower-volume.png">
    </div>
    <div class="responsive-volume-btn">
        <img src="/media/app/images/responsive-higher-volume.png">
    </div>
    {% endifnotequal %}
</div>


<div class="header-social-btn" id="first-social-btn">
    <a id="share-btn" data-toggle="modal" href="#modal-share" class='yatooltip-share'>
    <span class="yatoolelt-share">{% trans "Share" %}</span>
    </a>

</div>
<div class="header-social-btn">
    <a href="#" id="love-btn" class='yatooltip-share'>
        <span class="yatoolelt-share">{% trans "Like song" %}</span>
    </a>
</div>
<div class="header-social-btn">
    <a href="<% buy_link %>" id="shop-btn" class='yatooltip' target="_blank">
        <span class="yatoolelt">{% trans "Buy on iTunes" %}</span>
    </a>
</div>
