{% load i18n %}  


   <div class='picture'>
       <img id='track-image' src='<% cover %>' width="84px" height="84px"/>
   </div>

   <div id='details'>

       <div id='player-title'>
       <% name %> {% trans "By" %} 
       <strong><span id='track-artist'><% artist %></span></strong>
       </div>
       <div class="btn-toolbar">
       <div class="btn-group">
          <a class="btn" id='play'><i class="icon-play"></i></a>
          <a class="btn" id='dec'><i class="icon-volume-down"></i></a>
          <a class="btn" id='inc' ><i class="icon-volume-up"></i></a>
          <a class="btn" id='like' ><i class="icon-heart"></i></a>
       </div>

       <div class="btn-group">
       <a class="btn" id='btn-buy' href="<% buy_link %>" target='_blank'>
        <i class="icon-shopping-cart"></i>
        {% trans 'Buy on iTunes' %}
        </a>
        </div>
        <a href="http://twitter.com/share" id="tweet" target="_blank" ><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" /></a>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false" data-colorscheme="dark"></div>
        
          <div class="progress no-ease" id='volume-control' onmousedown="return false">
            <div class="bar" id='volume-position' style="width: 0%;" onmousedown="return false"></div>
          </div>
       </div>
       
   </div> 

