{% load i18n %}
<div class='user-cell-inner'>
	<div class='mask-user' style='display:none;'>
		<div class='caption-user'>
	        <h5><% name %></h5>
			<span><% fagc %></span>
            <%#is_friend__never%>
            <a class='delete-friend'><img alt="delete friend" src="/media/app/images/profile/delete-friend.png"></a>
            <%/is_friend__never%>
	    </div>
	</div>
	<div>
		<img class ='large-friend-picture'src='<% picture %>' width='146px' height='146px'/>
	</div>
	<div>
	    <img class='small-friend-picture'src='<% picture %>' width='120px' height='120px'/>
	</div>
	<div class='responsive-user-caption'>
		<h5><% name %></h5>
	</div>
</div>