{% load i18n %}
<div class='user-cell-inner'>
	<div class='mask-user' style='display:none;'>
		<div class='caption-user'>
	        <h5><% name %></h5>
			<span><% agc %></span>
	    </div>
	</div>
	<div>
	    <img src='<% picture %>' width='160px' height='160px'/>
	</div>
</div>