{% load i18n %}
{% load app_url %}
<div class="container-fluid content-zone">
    <div class='row-fluid'>
        <h1>Blog</h1>
    </div>
</div>

<div class="container-fluid content-zone last">
    <div id='blog-posts'>
        {% for post in blog_posts %}
        <div class='blog-post-container'>
            {% include 'yabase/app/blog/blogPostTeaser.mustache' with post=post %}
        </div>
        {% endfor %}
    </div>
</div>
