{% load i18n %}
{% load app_url %}
{% if post %}
<a class="pic pic-circle pic-wide" href="<a href='#"><img src="{% url user_custom_picture post.creator '45x45' %}" width="45" height="45" alt="{{ post.creator }}"></a>
<div class="blog-post">
    <div class="blog-post-title">{{ post.updated|date:"DATE_FORMAT" }}</div>
    <div class="blog-post-action">{{ post.get_description|safe }} </div>
    <div class="blog-post-btns">
        <a class="icon-twitter twitter-share" target='blank' rel='nofollow' href="#"></a>
        <a class="icon-facebook facebook-share" rel='nofollow' href="#"></a>
    </div>
</div>
{% else %}
<a class="pic pic-circle pic-wide" href="#"><img src="/api/v1/user/<%#creator%><% username %><%/creator%>/picture/45x45/" width="45" height="45" alt="<% name %>"></a>
<div class="blog-post">
    <div class="blog-post-title"><% formatted_date %></a></div>
    <div class="blog-post-action"><%{description %></div>
    <div class="blog-post-btns">
        <a class="icon-twitter twitter-share" target='blank' rel='nofollow' href="#"></a>
        <a class="icon-facebook facebook-share" rel='no-follow' href="#"></a>
    </div>
</div>
{% endif %}
