{% load i18n %}
{% load app_url %}
<a class="pic pic-circle pic-wide" href="#"><img src="/api/v1/user/<%#creator%><% username %><%/creator%>/picture/45x45/" width="45" height="45" alt="<% name %>"></a>
<div class="blog-post">
<div class="blog-post-title"><strong><a href='#'><% name %></a></strong>, <% formatted_date %></div>
<div class="blog-post-action"><% description %></div>
</div>
</div>
