{% load i18n %}
{% load app_url %}
<div class="container-fluid content-zone">
    <div class='row-fluid'>
        <h1>Blog > <a href='#' class='blog-title'><% name %></a></h1>
    </div>
</div>

<div class="container-fluid content-zone last">
    <div class='blog-post-container'></div>
</div>
