{% load i18n %}
{% load app_url %}
<div class="container-fluid content-zone">
    <div class='row-fluid'>
        <a href='{% url blog_post_rss %}' class='blog-rss'><i class="icon-rss icon-large"></i> {% trans "RSS" %}</a>
        <h1><a href='{% app_url webapp app_name %}' class='home'>{% trans "Home" %}</a> <i class='icon-angle-right'></i> News</h1>
    </div>
</div>

<div class="container-fluid content-zone last">
    <div id='blog-posts'>
        {% for post in blog_posts %}
        <div class='blog-post-container'>
            {% include 'yabase/app/blog/blogPostTeaser.mustache' with post=post %}
        </div>
        {% endfor %}
    </div>
</div>
