{% load i18n %}
{% load app_url %}

<div class="container-fluid content-zone">
  <div class='row-fluid'>
    <div class='span12'>
        <h1>{% trans "Yasound radio creation" %}</h1>
    </div>
  </div>
</div>

<div class="container-fluid content-zone last">
  <div class='row-fluid'>
    <div class='span12 radio-creation-container'>
        <form id='new-radio-form' action='{% app_url webapp_new_radio app_name %}' enctype="multipart/form-data" method='post'>{% csrf_token %}
            <div id='form-left'>
                <input class='radio-creation-textfield radio-creation-name' name='name' type='text' required="required" placeholder='{% trans "Name" %}' />
                <div class='radio-creation-style'>
                    <select name='genre'>
                        <option selected value="style_all">Tous Styles</option>
                        <option value="style_classique">Classique</option>
                        <option value="style_blues">Blues</option>
                        <option value="style_alternative">Alternative</option>
                        <option value="style_electro">Electro</option>
                        <option value="style_chanson_francaise">Chanson française</option>
                        <option value="style_jazz">Jazz</option>
                        <option value="style_pop">Pop</option>
                        <option value="style_reggae">Reggae</option>
                        <option value="style_rock">Rock</option>
                        <option value="style_metal">Metal</option>
                        <option value="style_hiphop">Hip hop</option>
                        <option value="style_rnbsoul">Rnb / Soul</option>
                        <option value="style_world">World</option>
                        <option value="style_misc">Divers</option>
                    </select>
                </div>
                <input class='radio-creation-textfield radio-creation-tags' type='text' id='id_tags' name='tags' placeholder='{% trans "Tags" %}' />
                <textarea class='radio-creation-textfield radio-creation-description' name='description' type='textarea' placeholder='{% trans "Description" %}'></textarea>
            </div>
            <div class='radio-creation-image-container'>
                <div class='radio-creation-image'>
                    <img src='/media/images/default_image.png' width='216' height='216'/>
                </div>
                <div class='upload-content yabutton-small'>
                    <span>{% trans "Choose a picture" %}</span>
                    <input type='file' name='picture' id='upload-photo'/>
                </div>
            </div>
            <div class='clear'>&nbsp;</div>
            <div class='radio-creation-submit'>
            <input class='yabutton-large' type='submit' value='{% trans "Create the radio" %}' />
            </div>
        </form>
        {{ form }}
    </div>
  </div>
</div>

    <div class="modal hide fade" id="modal-radio-created" data-keyboard='false' backdrop='static'>
        <div class="modal-header">
            <h3>{% trans "Radio created" %}</h3>
        </div>
        <div class="modal-body">
            <p>{% trans "Your radio has been created successfully." %}</p>
            <p>{% trans "You will be redirected to the programming page where you will be able to add content" %}</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans "Go to programming page" %}</a>
        </div>
    </div>
