@import 'libs/mixins.less';

@import 'webapp/mixins.less';
@import 'webapp/variables.less';
@import 'webapp/fonts.less';
@import 'webapp/sprites.less';

@import 'webapp/old.less';

body
{
	font-family: @defaultFont;
	background: url("@{bg}") repeat;
}

a
{
	color: @linkBlue;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder
{
	color: @placeholderGrey;
}

.wrapper
{
	max-width: @wrapperMaxWidth;
	margin: auto;
}

.wrapper > .container-fluid,
.content > .container-fluid
{
	margin: 0 20px;
}

/*
 * BUTTONS
 */
.btn-coral,
.btn-navy,
.btn-sky
{
	color: #fff;
	display: inline-block;
	.ie7-inline-block();
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	.border-radius(3px);
	height: 30px;
	line-height: 30px;
	font-family: @defaultFont;
	border: none;
	padding: 0 10px;
}

.btn-sky
{
	border: 1px solid #1a8eb5;
	#gradient > .vertical(lighten(@skyBlue,4%),darken(@skyBlue,4%));
	&:hover
	{
		color: #fff;
		text-decoration: none;
		#gradient > .vertical(@skyBlue,darken(@skyBlue,6%));
	}
	&:active
	{
		background: darken(@skyBlue,6%);
	}
}

.btn-navy
{
	#gradient > .vertical(lighten(@navyBlue,4%),darken(@navyBlue,4%));
	&:hover
	{
		#gradient > .vertical(@navyBlue,darken(@navyBlue,6%));
	}
	&:active
	{
		background: darken(@navyBlue,6%);
	}
}

.btn-coral
{
	#gradient > .vertical(lighten(@coral,2%),darken(@coral,2%));
	&:hover
	{
		text-decoration: none;
		color: #fff;
		#gradient > .vertical(@coral,darken(@coral,4%));
	}
	&:active
	{
		background: darken(@coral,4%);
	}	
}

// Extends TB .btn.
.btn-basic
{
	color: #252627;
	border-color: #cacacb;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 12px;
	.box-shadow(inset 1px 0 0 0 #fff, 0 1px 0 0 #fff);
	#gradient > .vertical(#f5f5f6,#e8e9eb);
	&:active,
	&.active
	{
		.box-shadow(0 1px 0 0 #fff);
		#gradient > .vertical(#e8e9eb,#f5f5f6);
		background-position: 0 0;
	}
}

.btn-select
{
	position: relative;
	.box-shadow(0 1px 0 0 #eaeaea);
	padding-right: 35px;
	.asset-select
	{
		position: absolute;
		right: 5px;
		top: 6px;
	}
}
.open .btn-select
{
	.box-shadow(0 1px 0 0 #fff);
	#gradient > .vertical(#e8e9eb,#f5f5f6);
	background-position: 0 0;
}

.btn-select + .dropdown-menu
{
	left: auto;
	right: 0;
	border-color: #cacacb;
	color: @defaultColor;
	font-size: 14px;
	.border-radius(4px);
	background: #f5f5f6;
	padding: 0;
	a
	{
		padding: 6px 10px;
		font-size: 14px;
		color: #252627;
		font-weight: bold;
		border: 1px solid #f5f5f6;
		border-left: none;
		border-right: none;
		&:hover
		{
			border: 1px solid #1a8eb5;
			#gradient > .vertical(lighten(@skyBlue,4%),darken(@skyBlue,4%));
			color: #fff;
		}
	}
	li:first-child a
	{
		.border-radius(3px 3px 0 0);
	}
	li:last-child a
	{
		.border-radius(0 0 3px 3px);
	}
	li + li a { border-top: 1px solid #E7E7E7; }
}

/*
 * HEADER
 */
.header-navbar
{
	height: 66px;
	line-height: 66px;
	#gradient > .vertical(#2b2d2e,#232526);
	/* Main logo */
	.asset-logo
	{
		margin: 8px 0;
		display: block;
		text-indent: -9999px;
		float: left;
	}
	.container-fluid
	{
		margin: 0;
	}
}

.header-nav
{
	float: right;
	.btn-register
	{
		display: block;
		float: left;
		width: 115px;
		margin: 18px 0 18px 10px;
		.border-radius(15px);
	}
	.btn-nav
	{
		font-size: 14px;
		font-weight: bold;
		color: @lightGrey;
		display: block;
		float: left;
		height: 66px;
		line-height: 66px;
		padding: 0 10px;
		border: 1px solid transparent;
		border-top: 0;
		border-bottom: 0;
		text-shadow: 1px 1px 1px #000;
		&:hover
		{
			color: #fff;
			text-decoration: none;
		}
	}
	.btn-connect
	{
		display: block;
		float: right;
	}
	.dropdown-form
	{
		margin: 0;
	}
	.dropdown.open
	{
		.btn-nav
		{
			color: #fff;
			#gradient > .vertical(#292c2d,#343738);
			border-color: #1c1e1f;
			.box-shadow(1px 0 0 0 #323536);
		}
		.dropdown-menu
		{
			.btn-sky,
			.btn-navy
			{
				color: #fff;
				text-shadow: none;
			}
			min-width: 250px;
			left: auto;
			right: 0;
			padding: 0;
			margin: 0;  
			border: none;
			background: #343738;
			.border-radius(0);
			&:after,
			&:before
			{
				display: none;
			}
		}
		ul.dropdown-menu
		{
			li, a
			{
				display: block;
			}
			a, .a
			{
				border: 1px solid #343738;
				text-shadow: 1px 1px 1px #000;
				color: #fff;
				font-size: 14px;
				font-weight: bold;
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
			}
			a:hover
			{
				.box-shadow(inset 0 1px 0 0 #575b5c);
				#gradient > .vertical(#46494a,#353839);
				border-color: #252728;
			}
		}
		ul.dropdown-menu .list-block
		{
			position: relative;
			i.icon
			{
				position: absolute;
				top: 6px;
				left: 7px;
			}
			a, .a
			{
				height: 30px;
				line-height: 15px;
				padding: 5px 0;
				.user-select(none);
			}
			.txt-pic
			{
				margin: 0 50px 0 30px;
			}
			.txt
			{
				margin: 0 10px 0 35px;
			}
			strong
			{
				display: block;
				font-size: 13px;
				max-width: 200px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			span
			{
				display: block;
				font-size: 11px;
				color: #80888a;
			}
			.img
			{
				position: relative;
				&:after { #effect > .glossy-absolute(); }
				position: absolute;
				right: 5px;
				top: 6px;
				img
				{
					display: block;
					.box-shadow(0px 0px 4px 0px rgba(0,0,0,.5));
				}
			}
		}
		ul.dropdown-menu .list-foot a
		{
			text-align: center;
			color: @lightGrey;
			font-size: 11px;
			.box-shadow(inset 0 1px 0 0 #575b5c);
			#gradient > .vertical(#46494a,#353839);
			border-color: #252728;
			&:hover
			{
				color: #fff;
			}
		}
		.dropdown-mini
		{
			min-width: 180px;
			width: 180px;
		}
		.dropdown-bordered
		{
			li+li a,
			li+li .a
			{
				border-top-color: #252728;
				.box-shadow(inset 0 1px 0 0 #575b5c);
			}
			li a:hover
			{
				border-bottom-color: #353839;
			}
		}
		.dropdown-block
		{
			padding: 12px;
		}
		.dropdown-block + .dropdown-block
		{
			border-top: 1px solid #515657;
			.box-shadow(0 -1px 0 0 #232526);
		}
		.btn-sky,
		.btn-navy
		{
			font-size: 14px;
			border: none;
			font-weight: bold;
			color: #fff;
			text-decoration: none;
			line-height: 30px;
		}
		.btn-navy
		{
			margin-top: 12px;
		}
	}
	div.dropdown-menu
	{
		a
		{
			color: @grey;
			text-shadow: 1px 1px 1px #000;
			padding: 0;
			&:hover
			{
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.input-text
	{
		background-color: #323637;
		border-width: 1px;
		border-style: solid;
		border-color: #202323 #2c2f30 #494b4c #2f3234;
		height: 16px;
		line-height: 16px;
		padding: 8px 10px;
		font-family: @defaultFont;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&::-ms-input-placeholder
		{
			color: #fff;
		}
		&:focus
		{
			border-color: #202323 #2c2f30 #494b4c #2f3234;
			.box-shadow(none);
			background-color: darken(#323637,2%);
		}
	}
	.lost-password
	{
		text-align: right;
		margin-top: 12px;
	}
	.asset-hd-off,
	.asset-hd-on
	{
		display: block;
		margin-top: 23px;
	}
	.asset-envelope
	{
		display: block;
		margin-top: 22px;
	}
	.btn-envelope
	{
		position: relative;
	}
	.count-badge
	{
		display: block;
		position: absolute;
		height: 15px;
		line-height: 15px;
		padding: 0 3px;
		text-shadow: none;
		background: @coral;
		color: #fff;
		font-size: 10px;
		.border-radius(2px);
		font-weight: bold;
		top: 16px;
		right: 6px;
		.box-shadow(0px 1px 2px 0px rgba(0, 0, 0, .4));
	}
	.btn-profile
	{
		position: relative;
		.img-circle
		{
			display: block;
			margin-top: 14px;
			margin-right: 20px;
			.box-shadow(0px 1px 2px 1px rgba(0,0,0,.2));
		}
		.asset-arrow-down
		{
			display: block;
			position: absolute;
			right: 5px;
			top: 24px;
		}
	}
	.dropdown-toggler
	{
		position: absolute;
		top: 10px;
		right: 10px;
		margin: 0;
	}
	.dropdown-promo
	{
		position: absolute;
		right: 10px;
		top: 10px;
		margin: 0;
		height: 24px;
		.input-text
		{
			width: 72px;
			height: 18px;
			line-height: 18px;
			padding: 2px 5px;
		}
		button
		{
			display: block;
			position: absolute;
			right: 0px;
			top: 0px;
			bottom: 1px;
			border: 1px solid #232526;
			.border-radius(4px);
			.box-shadow(inset 0 1px 0 0 #5c5f61);
			#gradient > .vertical(#434748,#353839);
		}
	}
}

.dropdown-toggler
{
	position: absolute;
	top: 9px;
	right: 10px;
	margin: 0;
	input:checked,
	input:not(:checked) {
		width: 1px;
		height: 1px;
		margin: 0;
		padding: 0;
		opacity: 0;
		position: absolute;
		clip: rect(0 0 0 0);
		clip: rect(0,0,0,0);
		-webkit-appearance:	none;
		-moz-appearance:	none;
		-o-appearance:		none;
		appearance:			none;
	}
	#foo:checked:before,
	input+label {
		display: inline-block;
		padding-left: 84px;
		position: relative;
		cursor: pointer;
		text-align: left;
		height: 24px;
		line-height: 24px;
		#gradient > .vertical(#323636, #393d3e);
		border-top: 1px solid #252728;
		border-bottom: 1px solid #393d3e;
		.border-radius(15px);
		margin: 0;
	}
	#foo:checked:before,
	input+label:not(:empty)
	{
		padding-right: 5px;
	}
	#foo:checked,
	input+label:before { // Bg.
		content: '\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0OFF';
		position: absolute;
		left: 2px;
		top: 1px;
		width: 78px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		font-family: @defaultFont;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0;
		color: #777777;
		text-shadow: none;
		font-weight: normal;
		#gradient > .vertical(#444749,#353839);
		border: 1px solid #232526;
		.border-radius(15px);
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
		.box-shadow(inset 0px 0px 8px 0px rgba(0, 0, 0, .3));
	}
	input:checked+label:before {
		content: 'ON\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0';
		border: 1px solid #232526;
		#gradient > .vertical(#fdc112,#e85e01);
		color: #fff;
		background-position: 0 0, 0 0;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
		.box-shadow(inset 0px 0px 8px 0px rgba(102, 41, 3, .6));
	}
	#foo:checked,
	input+label:after { // Toggler button.
		content: "";
		position: absolute;
		left: -2px;
		top: -4px;
		.asset();
		.asset-mini-tracker();
	}
	input:checked+label:after { left: 39px; }
}

#search-bar
{
	margin: 16px 0 0 16px;
	.border-radius(20px);
	height: 34px;
	line-height: 34px;
	background: #fff;
	float: left;
	width: 325px;
	position: relative;
	input
	{
		background: transparent;
		padding: 9px 0 7px 0;
		font-family: "Myriad Pro", arial, sans-serif;
		font-size: 14px;
		.box-shadow(none);
		border: none;
		margin: 0 0 0 15px;
		width: 80%;
	}
	.asset-glass
	{
		position: absolute;
		right: 10px;
		top: 8px;
	}
}
.header-nav > ul > li
{
	display: block;
	float: left;	
}

/*
 * TEASER
 */
.teaser
{
	.appstore
	{
		position: absolute;
		height: 55px;
		display: block;
		bottom: 80px;
		left: 50px;
		&:hover
		{
			text-decoration: none;
		}
	}
	.argument
	{
		right: 60px;
		.translate(-50px,0);
		.transition(.4s ease all);
		&.show
		{
			.translate(0,0);
			.opacity(100);
		}
		.opacity(0);
		position: absolute;
		bottom: 80px;
		width: 225px;
		line-height: 25px;
		padding-left: 75px;
		i
		{
			position: absolute;
			top: -3px;
			left: 0;
		}
	}
	.paginate
	{
		position: absolute;
		bottom: 15px;
		right: 180px;
		li
		{
			display: block;
			float: left;
			margin-right: 5px;
		}
		a
		{
			cursor: default;
			display: block;
			width: 8px;
			height: 8px;
			text-indent: -9999px;
			background: transparent;
			border: 2px solid #fff;
			.border-radius(50%);
			.opacity(20);
			&.active
			{
				background: #fff;
				cursor: default;
				&:hover { .opacity(20); }
			}
			&:hover
			{
				.opacity(40);
			}
		}
	}
}
.teaser-bg
{
	background:  url("@{teaserMountains}") center 0 no-repeat;
	background-size: 100% 689px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 689px;
	z-index: -1;
}
.teaser-content
{
	height: 250px;
	position: relative;
	h1 { font-weight: normal; font-size: 30px; padding-top: 30px; }
	h2 { font-size: 18px; font-weight: normal; }
	color: #fff;
	margin: 0 20px;

	.asset-teaser-register
	{
		position: absolute;
		right: 50px;
		top: 0;
	}
}
.teaser-close
{
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	width: 23px;
	height: 23px;
	line-height: 24px;
	background: rgba(0,0,0,.3);
	display: block;
	text-align: center;
	.border-radius(50%);
	border: 3px solid rgba(255,255,255,.3);
	top: 34px;
	right: 0;
	position: absolute;
	&:hover
	{
		color: #fff;
		background: rgba(0,0,0,.5);
		text-decoration: none;
		border-color: rgba(255,255,255,.5);
	}
}

/*
 * SUBMENU
 */
.sub-menu
{
	position: relative;
	height: 55px;
	border: 1px solid #E7E7E7;
	border-bottom-color: #dfdfdf;
	.border-radius(7px 7px 0 0);
	#gradient > .vertical(#f8f8f8,#f3f3f3);
}

.sub-menu .btn-group
{
	width: 91*4px;
	margin: 10px auto 0 auto;
	.btn
	{
		width: 65px;
	}
}

.sub-menu .dropdown-genre
{
	position: absolute;
	right: 10px;
	top: 10px;
}

/*
 * CONTENT
 */
.content
{
	padding-bottom: 100px;
}

.content-zone
{
	background: #fff;
	border: 1px solid #E7E7E7;
	border-top: none;
	padding-top: 20px;
	&.last { .border-radius(0 0 7px 7px); }	
}

.content-alert
{
	text-align: center;
	padding: 15px 0;
	font-size: 14px;
	#gradient > .vertical(#fff,#f8f8f8);
	border: 1px solid #E7E7E7;
	border-top: none;
	.asset-close
	{
		cursor: pointer;
		display: block;
		text-indent: -9999px;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -9px;
	}
}

.app-alert
{
	position: relative;
	.btn-sky { margin-left: 20px; }
	.asset-alert-app-logo { position: absolute; bottom: 0; left: 60px; }
}

.block-title
{
	font-size: 22px;
	color: @titleColor;
	margin-bottom: 15px;
	position: relative;
	padding-left: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	i
	{
		position: absolute;
		display: block;
		left: 0;
		top: 3px;
	}
}

.block-content
{
	margin-bottom: 20px;
}

.block-slide-mask
{
	width: 875px;
	overflow: hidden;
}

.block-slide-container
{
	position: relative;
	width: 100%;
	height: 175px;
	.asset-slide-left
	{
		position: absolute;
		right: -4px;
		top: 50%;
		margin-top: -50px;
	}
	.asset-slide-right
	{
		position: absolute;
		right: -4px;
		top: 50%;
		margin-top: -10px;
	}
	&.first .asset-slide-left,
	&.last .asset-slide-right
	{
		.opacity(35);
		cursor: default;
	}
}

.block-slide
{
	ul
	{
		margin: 0;
		padding: 0;
		display: block;
		float: left;
	}
	li
	{
		width: 150px;
		overflow: hidden;
		float: left;
		display: block;
		margin-right: 30px;
	}
}

.stories-list
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li
	{
		position: relative;
		display: block;
		padding-left: 50px;
		min-height: 38px;
	}
	li + li
	{
		margin-top: 25px;
	}
	.pic
	{
		position: absolute;
		top: 0;
		left: 0;
	}
	.story
	{
		font-size: 14px;
		line-height: 23px;
		a
		{
			font-weight: bold;
		}
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.date
	{
		font-size: 12px;
		line-height: 14px;
		color: #727476;
	}
}

.pic
{
	display: block;
	padding: 3px;
	background: #e2e2e2;
	border: 1px solid #c1c1c1;
	border-color: #c1c1c1 #d8d8d8 #e2e2e2 #d8d8d8;
}

.pic-circle
{
	.border-radius(50%);
	img { .border-radius(50%); }	
}

.pic-rounded
{
	.border-radius(3px);
}

.radio-cell
{
	h1
	{
		line-height: 20px;
		font-size: 14px;
		margin-top: 5px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
	}
	h1 a
	{
		color: @defaultColor;
		font-size: 14px;
		font-weight: bold;
	}
	.play
	{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;
	}
	.tag
	{
		position: absolute;
		top: 10px;
		left: 10px;
		background: rgba(0,0,0,.9);
		color: #fff;
		text-transform: uppercase;
		.border-radius(2px);
		font-weight: bold;
		font-size: 11px;
		line-height: 11px;
		padding: 4px;
	}
	.fav
	{
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0,0,0,.4);
		font-weight: bold;
		line-height: 26px;
		bottom: 10px;
		left: 10px;
		position: absolute;
		font-size: 15px;
		i
		{
			margin-right: 4px;
			vertical-align: middle;
		}
	}
	.share
	{
		position: absolute;
		right: 10px;
		bottom: 10px;
		margin: 0;
		padding: 0;
	}
}

.radio-cell-img img
{
	height: auto;
}

.radio-cell-link
{
	display: block;
	position: relative;
	&:hover .radio-cell-info
	{
		.opacity(100);
		.transition(ease all .5s);
	}
}

.radio-cell-info
{
	.transition(ease all .5s);
	.opacity(0);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
}

/*
 * FOOTER
 */
.footer-player
{
	.user-select(none);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	#gradient > .vertical(#2b2d2e,#232526);
	text-shadow: 1px 1px 1px rgba(0,0,0,.7);
	padding: 15px 0;
	z-index: 10;
	.container-fluid
	{
		margin: 0;
	}
	.current-radio,
	.current-song
	{
		position: relative;
		min-height: 70px;
	}
	.cover
	{
		&:after { #effect > .glossy-absolute(); }
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}
	.current-radio
	{
		padding-left: 90px;
		.cover
		{
			.box-shadow(0px 0px 6px 0px rgba(0, 0, 0, .7));
		}
	}
	.status
	{
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2;
		.asset();
		&.play { .asset-player-play(); }
		&.pause { .asset-player-pause(); }
	}
	.current-song
	{
		padding-left: 110px;
		.cover
		{
			padding-top: 1px;
			padding-left: 1px;
			.asset();
			.asset-cover();
			&:after
			{
				width: 68px;
				height: 68px;
			}
		}
	}
	h1,h2
	{
		color: #fff;
		font-size: 14px;
		margin: 0;
		padding: 0;
		line-height: 20px;
		width: 75%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	h3
	{
		font-size: 11px;
		color: @grey;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		line-height: 20px;
	}
	.player-controls a:hover,
	.pl-volume:not(.open):hover
	{
		filter: brightness(15%);
		-webkit-filter: brightness(15%);
		-ms-filter: brightness(15%);
		-moz-filter: brightness(15%);
		-o-filter: brightness(15%);
	}
	.pl-star
	{
		margin-right: 5px;
		.asset-inline();
		.asset-player-star();
		&.on { .asset-player-star-yellow(); }
	}
	.pl-share
	{
		margin-right: 5px;
		.asset-inline();
		.asset-player-share();
	}
	.pl-like
	{
		margin-right: 5px;
		.asset-inline();
		.asset-player-like();
		&.on { .asset-player-like-red(); }
	}
	.pl-cart
	{
		.asset-inline();
		.asset-player-cart();
	}
	.pl-volume
	{
		cursor: pointer;
		.asset-inline();
		.asset-player-vol100();
		position: relative;
		&.vol0 { .asset-player-vol0(); }
		&.vol25 { .asset-player-vol25(); }
		&.vol50 { .asset-player-vol50(); }
		&.vol75 { .asset-player-vol75(); }
		&.vol100 { .asset-player-vol100(); }
	}
	.open .volume-container
	{
		display: block;
	}
	.volume-container
	{
		display: none;
		width: 16px;
		height: 112px;
		#gradient > .vertical(#fafafa,#e5e6e7);
		.border-radius(4px);
		position: absolute;
		top: -120px;
		left: 3px;
		border: 1px solid #000;
		border-color: #ededed #c2c2c2 #e5e6e7 #ededed;
		.box-shadow(1px 0px 2px 1px rgba(0, 0, 0, .1));
		&:after
		{
			position: absolute;
			bottom: -6px;
			left: 4px;
			content: "";
			width: 0px;
			height: 0px;
			border-color: #e5e6e7 transparent transparent;
			border-style: solid;
			border-width: 5px 4px 0 4px;
		}
	}
	#volume-slider
	{
		width: 5px;
		border: 1px solid #fff;
		border-left: none;
		border-top: none;
		margin: 5px 0 0 5px;
		.border-radius(2px);
		background: #dddddd;
		.box-shadow(inset 1px 1px 2px 0px rgba(0, 0, 0, .3));
		.ui-slider-range
		{
			background: #ecab22;
			.box-shadow(inset 1px 1px 2px 0px rgba(0, 0, 0, .3));
			.border-radius(2px);
		}
		.ui-slider-handle
		{
			.asset();
			.asset-volume-handle();
			border: none;
			background-color: transparent;
			outline: none;
			left: -8px;
			margin-bottom: -14px;
			cursor: pointer;
		}
	}
	section
	{
		position: relative;
	}
	.toggler
	{
		top: 50%;
		margin-top: -12px;
		right: 0;
		position: absolute;
		.asset();
		.asset-player-toggler-down();
	}
	&.mini
	{
		#footer > .mini();
	}
}

/* Functions */
#footer > .mini
{
	h1, h2, h3
	{
		line-height: 16px;
	}
	.current-radio .cover,
	.current-radio .cover img
	{
		width: 28px;
		height: 28px;
	}
	.current-song .cover
	{
		.asset-mini-cover();
		&:after
		{
			width: 28px;
			height: 28px;
		}
		img
		{
			width: 28px;
			height: 28px;
		}
	}
	.current-radio .cover
	{
		border: 1px solid #000;
	}
	.current-song .cover
	{
		padding: 2px 0 0 1px;
		&:after { top: 2px; left: 1px; }
	}
	.status
	{
		top: 4px;
		left: 40px;
		&.play { .asset-player-mini-play(); }
		&.pause { .asset-player-mini-pause(); }
	}
	.player-controls, h1, h2
	{
		display: inline-block;
		.ie7-inline-block();
		width: auto;
		vertical-align: middle;
	}
	h1, h2
	{
		max-width: 65%;
		margin-right: 8px;
	}
	h3
	{
		position: absolute;
		top: 0;
		left: 75px;
	}
	.current-song h3
	{
		left: 55px;
	}
	.current-song,
	.current-radio
	{
		padding-top: 9px;
		min-height: 30px;
		height: 30px;
	}
	.current-radio
	{
		padding-left: 75px;
	}
	.current-song
	{
		padding-left: 55px;
	}
	.toggler
	{
		.asset-player-toggler-up();
	}
}

@import 'webapp/responsive/landscape-phones-and-down.less';
@import 'webapp/responsive/landscape-phones-to-portrait-tablet.less';
@import 'webapp/responsive/portrait-tablet-to-desktop.less';