{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="description" content="{% block meta-description %}Yasound newsletter.{% endblock %}" />
    <meta name="author" content="Fantomas42" />
	<link href="/media/yaweb/css/elecsounds.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/media/css/style.css"/>

    <title>{% block title %}{% endblock %} - Yasound</title>
  </head>
  <body>
	<div class='container-fluid'>

	    <div class='row-fluid'>
	        <div class='span12'>
	        <a href='#' id='logo'><img src='/media/images/logos/yasound-grey.png' alt='Yasound logo'/></a>
	        </div>
	    </div>

	    <div class='row-fluid'>
	        <div class='span-12'>
			    <h1>{% trans "Yasound newsletter" %}</h1>
			    {% block content %}
			    {% endblock %}
	        </div>
	    </div>
	</div>
  </body>
</html>
