{% load i18n %}
<li class="list-block">
  <div class="a">
    <i class="icon asset-mini-promo"></i>
    <div class="txt">
      <strong>{% trans "Enter a  promo<br/>code" %}</strong>
    </div>
    <form class="dropdown-promo">
      <input class="input-text" type="text" />
      <button type="submit"><i class="asset-mini-check"></i></button>
    </form>
  </div>
</li>
