{% load i18n %}
<div class='gift-container'>
    <%#enabled %>
    <a href='<% action_url %>' <%#data_url%>data-url='<%data_url%>'<%/data_url%> <%#target%>target='<%target%>'<%/target%>>
    <%/enabled %>
    <img src='<%picture_url%>'/>

    <%^enabled%>
    <div class='done'>{% trans "action done" %}</div>
    <%/enabled%>

    <h4><% name %> (<% count %><%#max%>/<% max %><%/max%>)</h4>
    <p><% description %></p>

    <%#enabled %>
    </a>
    <%/enabled %>
</div>