{% load i18n %}
    <%#enabled %>
    <a href='<% action_url %>'
        <%#ajax_url%>data-ajax-url='<%ajax_url%>'<%/ajax_url%>
        target='_blank'
        <%#completed_url%>data-completed-url='<%completed_url%>'<%/completed_url%>
    >
<div class='gift-container'>
    <%/enabled %>
    <img src='<%picture_url%>'/>
    <img class='loading-mask' src='/media/images/loading.gif' style='display:none;'/>

    <%^enabled%>
    <div class='done'>{% trans "action done" %}</div>
    <%/enabled%>

    <h4><% name %> (<% count %><%#max%>/<% max %><%/max%>)</h4>
    <p><% description %></p>

</div>

    <%#enabled %>
    </a>
    <%/enabled %>
