{% load i18n %}
<div class='row-fluid'>
    <div class='span12 notifications-container'>
        <h1>{% trans "Gifts" %}</h1>
        <ul id='gifts'>
            <img class='loading-mask' src='/media/images/loading.gif'/>
        </ul>
        <div id='pagination'></div>
    </div>
</div>