<a href='<% action_url %>'
        <%#ajax_url%>data-ajax-url='<%ajax_url%>'<%/ajax_url%>
        target='_blank'
        <%#completed_url%>data-completed-url='<%completed_url%>'<%/completed_url%>
  >
  <i class="icon asset-mini-gift"></i>
  <div class="txt">
    <strong><% name %></strong>
    <span><% digest %></span>
  </div>
</a>
