<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="user-scalable=no,width=device-width"/>
<title>Concours Yasound</title>
</head>
<body>
<a href='{% url contest_station_terms %}'>
<img style='width:640px;height:960px;' src='/media/yaweb/images/station/iphone_concours.png' alt="Concours pour gagner une station d'accueil"/ width='640px' height='960px'></a>
</body>
</html>
