<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/media/yaweb/js/unlightbox.js"></script>
<link href="/media/yaweb/css/elecsounds.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/media/css/style.css"/>
<title>Concours Yasound</title>
</head>
<body>
<div class='container-fluid'>

    <div class='row-fluid'>
        <div class='span12'>
        <a href='#' id='logo'><img src='/media/images/logo.png' alt='Yasound logo'/></a>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <img src='/media/yaweb/images/station/station.jpg' alt="Jeu concours Station d'accueil"/>
        </div>
    </div>    

    
    <div class="page-header">
    <h1>Pour jouer <small>du 14 au 21 juin 2012</small></h1>
    </div>
    
    <div class='row-fluid'>
    
    <div class='well es-right'>
    Si vous avez un blog  et si vous souhaitez participer l’opération merci d’écrire à  <a href='mailto:astrid@yasound.com'>astrid@yasound.com</a>
    </div>
    
    <h2>1. Rendez-vous sur un des blogs suivants :</h2>
    
    <ul class='es-blogs'>
    <li><a href='http://dueze.blogspot.ca/2012/06/webjouez-avec-yasound-et-remportez-une_14.html#links' target='_blank'>Dueze Blog</a></li>
    <li><a href='http://www.iphonophile.fr/concours-gagner-une-station-daccueil-iphone-ipod-avec-yasound/' target='_blank'>iPhonophile</a></li>
    <li><a href='http://www.applepub.fr/blog/concours-jouez-et-gagnez-une-station-daccueil-avec-applepub-fr' target='_blank'>ApplePub</a></li>
    <li><a href='http://infoidevice.fr/concours-gagnez-une-station-daccueil-pour-iphone-et-ipod-avec-yasound/' target='_blank'>Info iDevice</a></li>

    </ul> 
    
    </div>
        
    <div class='row-fluid'>
    <h2>2. Ecoutez la radio «NiNi$$ »* et poster ce message sur le mur de la radio :</h2>
    <div class='es-right well'>
        <p>* Radio présente dans la catégorie « Sélection » de l’application</p>
        <p>** Remplacer "nom du blog" par le blog que vous avez choisi</p>
    </div>
<p class='lead'>
<em>Je joue avec <strong>nom du blog**</strong> pour gagner une station d’accueil</em>
</p>

    </div>    

    <div class='row-fluid'>
    
    <div class='es-right well'>
        <p><a href='/media/documents/reglement-fete-musique.pdf'>Télécharger le règlement du jeu (pdf)</a></p>
    </div>


    
    </div>
    
</div>
</body>
</html>