<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/media/yaweb/js/unlightbox.js"></script>
<link href="/media/yaweb/css/elecsounds.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/media/css/style.css"/>
<title>ElecSounds - Le gagnant est..</title>
</head>
<body>
<div class='container-fluid'>

    <div class='row-fluid'>
        <div class='span12'>
        <a href='#' id='logo'><img src='/media/images/logo.png' alt='Yasound logo'/></a>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <img src='/media/yaweb/images/elecsounds/elecsounds_2jours_medium.jpg' alt='Elecsounds medium logo'/>
        </div>
    </div>    
    
    <div class='row-fluid'>
    
    
    <h2>A venir</h2>
    
    </div>

</div>
</body>
</html>