<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/media/yaweb/js/unlightbox.js"></script>
<link href="/media/yaweb/css/elecsounds.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/media/css/style.css"/>
<title>ElecSounds</title>
</head>
<body>
<div class='container-fluid'>

    <div class='row-fluid'>
        <div class='span12'>
        <a href='#' id='logo'><img src='/media/images/logo.png' alt='Yasound logo'/></a>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <img src='/media/images/VSmedium.jpg' alt='Elecsounds medium logo'/>
        </div>
    </div>    

    
    <div class="page-header">
    <h1>Pour jouer <small>du 23 avril au 4 mai 2012</small></h1>
    </div>
    
    <div class='row-fluid'>
    
    <div class='well es-right'>
    Si vous avez un blog  et si vous souhaitez participer l’opération merci d’écrire à  <a href='mailto:astrid@yasound.com'>astrid@yasound.com</a>
    </div>
    
    <h2>1. Choisissez l'un de ces blogs puis jouez :</h2>
    
    <ul class='es-blogs'>
       <li><a href='http://iphonesoft.fr/2012/04/23/l-elecsound-gagnez-un-ipad-3-64-go-participation-twitter' target='_blank'>iPhoneSoft</a> </li>
       <li><a href='http://www.geekeriesdefilles.com/' target='_blank'>Geekeries de filles</a> </li>
       <li><a href='http://www.julientellouck.com/' target='_blank'>Le blog de Julien Tellouck</a></li> 
       <li><a href='http://www.weblife.fr/' target='_blank'>Weblife</a></li>
       <li><a href='http://wearethemascotte.fr/elecsounds-gagnez-un-ipad-3-avec-yasound/' target='_blank'>Wearethemascote</a></li> 
       <li><a href='http://insomniac.fr' target='_blank'>Insomniac</a></li>
       <li><a href='http://business-actor.com/ipad-yasound/' target='_blank'>Business Actor</a></li>
       <li><a href='http://www.urban-fusions.com/2012/04/gagnez-le-nouvel-ipad-sur-urban-fusions.html' target='_blank'>Urban Fusions</a></li>
    </ul> 
    
    </div>
        
    <div class='row-fluid'>
    <h2>2. Suivez le compte Twitter</h2>
    <div id='es-follow'><a href="https://twitter.com/YasoundSAS" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large">Suivre @YasoundSAS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    </div>
    
    <div class='row-fluid'>
    <h2>3. Publiez votre pronostic</h2>

    <div class='es-right well'>
        <p>* Remplacer "@blog.fr" par le compte twitter du blog que vous avez choisi, par exemple : <em>"je joue avec @YasoundSAS et @Weblifefr..."</em>
    </div>
<p class='lead'>
Vous pensez que ce sera <a href='https://api.yasound.com/listen/29b1e874c84740958b0d4363654376ae' target="_blank">François Hollande</a> ?
Publiez le message <strong>« Je joue avec @YasoundSAS et <em>@blog.fr*</em> pour gagner un iPad 3 64 G Wifi/4G. Je parie sur l’#élecsound de #Hollande »</strong>
</p>

<p class='lead'>Vous pensez que ce sera <a href='https://api.yasound.com/listen/6fa46bfa1f824879b503e2aebbff7411' target="_blank">Nicolas Sarkozy ?</a>
Publiez le message <strong>« Je joue avec @YasoundSAS et <em>@blog.fr*</em> pour gagner un iPad 3 64 G Wifi/4G. Je parie sur l’#élecsound de #Sarkozy »</strong>
</p>

    <h2>4. Le tirage au sort aura lieu le 7 mai</h2>
    
<p class='lead'>Le tirage au sort aura lieu le 7 mai parmi les participants 
ayant trouvé le bon candidat et vous permettra à vous, ainsi qu’au blogueur choisi, de gagner un iPad3 64 Go Wifi 4G blanc ou noir
</p> 
    
    
    </div>
    <div class='row-fluid'>
    
    
    <h2>Informations utiles</h2>

    <div class='es-right well'>
        <p><a href='/media/documents/reglement-elecsounds.pdf'>Télécharger le règlement du jeu (pdf)</a></p>
    </div>


<ul>
<li>Tout tweet incomplet ne sera pas pris en compte</li>              
<li>Jeu limité à 1 tweet par participant et par jour, du 23 avril au 4 mai</li>
<li>Attention : la création de profils multiples pour participer au concours peut entrainer la suspension de tous vos comptes</li> 
</ul>
    
    </div>
    
    <div class='row-fluid'>
        <div id='unlightbox'>
            <a href='#'>Cliquez ici pour voir en plein écran</a>
        </div>
    </div>

</div>
</body>
</html>