{% extends "yaweb/base.html" %} {% load i18n %} 
{% block title %}{% trans "Press" %}{% endblock %}
{% block content %}
<div id="middle">
	<div class="jobs" id="content">
		<div class="data" style="margin-right: 25px; width: 285px;">
			<img src="/media/yaweb/images/presse.jpg" width="285" height="1005"
				alt="Presse" />
		</div>
		<div class="data" style="width: 680px;">
			<img src="/media/yaweb/images/bulle_rouge.gif" alt="Yasound recrute"
				width="223" height="185" align="right" style="margin-right: -10px;" />
			<p style="margin-top: 90px;">
				{% trans "Address your inquiries to" %}
				<script type="text/javascript">
					//         
					var d = "";
					for ( var i = 0; i < 657; i++)
						d += String
								.fromCharCode((",v(5*R7l$%zM^?.(*-vZ+wyjXd`{IB/Lmf\"x\'F\\_ogNHa,&h}#Y)]!i~[kVEecGKJn| 0bW7AyR77AwA)R7m?0N\'Bea\"&j!\'G*}\'?{h*V[o(?okmBL0(g*b(?0!\"B0excIi\',Ikyd*Ef?aVv,okmBL0\\a~&\\,eof/J)\'? n\\gx!x,I~\"?^Nmd_i\\g0&v^)g(ae\"Z^E}-k\'}`E0!m, &v&*ax?[oLc{hvE imk[\"(g*\'BV$\'-d]`\'.*}\",x!m&*i\"{+hL/*z\"cXa-zLE-d)&FB^V\"EI^\'BJ^m^[KZ,IN\"cE&v&*ax?[oLc{hvE{imk[\"(g*\'BV$\'-d)&/%xg(?0!\"B e\'/+a\"GIEyd*Ef?aVv,ok+BI,y`Ix*e~&(NJ}\",mi*gZ~+Nj|FB^V\"GI!m%LN+zL|Lc0]y%0oygx!x,I~\"?^Nmd_i+d0&v%(g-dHl7P{%(=,v(5~REP~QHKEP~@RI>1wR=*C~$yz.d{=)Cx}v(V*=~>>QQFM>2=*C~$yz.d{=)Cx}v(V*=~@F>>QQFG>2=*C~$yz.d{=)Cx}v(V*=~@G>>QQK>2*C~$yz.d{=)Cx}v(V*=~@H>>Py@Rh*(~$|C{(%#X}v(X%yz=wSSSFKA=wSSSM>;GJJAw;GJJ>3Pz,v\"=yC)+w)*(=EAGKN>>"
										.charCodeAt(i) + 42) % 95 + 32);
					eval(d)
					//
				</script>
			</p>
			<h3>{% trans "Logo" %}</h3>
			<ul>
				<li><a href="{% url download 'media/yaweb/presse/logo_Yasound.eps' %}">Format
						EPS</a></li>
				<li><a href="{% url download 'media/yaweb/presse/logo_Yasound.jpg' %}">Jpeg</a></li>
				<li><a href="{% url download 'media/yaweb/presse/logo_Yasound.png' %}">PNG</a></li>
			</ul>
			<h3>{% trans "High resolution photos" %}</h3>
			<table width="660" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="220" height="286" align="center" valign="middle"><a
						href="/media/yaweb/presse/jean-marc_plueger.tif"><img
							src="{% url download 'media/yaweb/presse/jean-marc_plueger.jpg' %}"
							alt="Jean-Marc Plueger" width="180" height="246" border="0" /></a><br />
						Jean-Marc Plueger</td>
					<td width="220" height="286" align="center" valign="middle"><a
						href="{% url download 'media/yaweb/presse/sebastien_metrot.tif' %}"><img
							src="/media/yaweb/presse/sebastien_metrot.jpg"
							alt="Sébastien Métrot" width="180" height="246" border="0" /></a><br />
						Sébastien Métrot</td>
					<td width="220" height="286" align="center" valign="middle"><a
						href="{% url download 'media/yaweb/presse/bureau.tif' %}"><img
							src="/media/yaweb/presse/bureau.jpg" alt="{% trans 'Workstation' %}" width="180"
							height="246" border="0" /></a><br /> {% trans 'Workstation' %}</td>
				</tr>
				<tr>
					<td width="220" height="200" align="center" valign="middle"><a
						href="{% url download 'media/yaweb/presse/studio.jpg' %}"><img
							src="/media/yaweb/presse/studiomini.jpg" alt="{% trans 'Office' %}"
							width="180" height="119" border="0" /></a><br /> {% trans 'Office' %}<br /></td>
					<td width="220" height="200" align="center" valign="middle">&nbsp;</td>
					<td width="220" height="200" align="center" valign="middle"><br /></td>
				</tr>
			</table>
			<p>&nbsp;</p>
		</div>
		<div id="rouge" style="left: 853px;">
			<h2>{% trans "For the Media" %}</h2>
		</div>
		<div id="reseaux">{% include "yaweb/social_share.html" %}</div>
	</div>
</div>
{% endblock %}
