<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>Données personnelles</title>
</head>
<body>

<p>
<h1>Données personnelles</h1>
<h2>1. Objet</h2>
<p>
Cette rubrique illustre l'engagement de Yasound eu égard au respect de votre vie privée et à la protection des données personnelles vous concernant (les "Données"), collectées et traitées à l'occasion de votre utilisation du Site dans les conditions visées au sein des Conditions d'Utilisation.
</p>

<h2>2. Données collectées</h2>
<p>
Les données collectées et ultérieurement traitées par nos soins sont celles que vous nous transmettez volontairement via le Formulaire d'inscription au Site et concernent, a minima, votre identifiant et une adresse de messagerie électronique valide. Les données collectées automatiquement par le Site sont votre adresse IP (adresse de votre ordinateur), à l'exclusion de toute autre. Vous êtes informés que le Site est susceptible de mettre en oeuvre un procédé automatique de traçage (cookie), auquel vous pouvez faire obstacle, si vous n'êtes pas un utilisateur inscrit (Conditions d'Utilisation), en modifiant les paramètres concernés de votre navigateur internet.
</p>

<h2>3. Finalités des traitements</h2>
<p>
Les données identifiées comme étant obligatoires au sein du Formulaire sont nécessaires aux fins de bénéficier des fonctionnalités du Site (écoute de radios, etc). Les données collectées automatiquement par le Site nous permettent d'effectuer des statistiques quant à la consultation de ces pages web.
</p>

<h2>4. Destinataires des données</h2>
<p>Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés qu'elles pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente ou encore, si cela s'avère nécessaire, aux fins, pour Yasound, de préserver ses droits et intérêts.
</p>

<h2>5. Sécurité des données</h2>
<p>Yasound attache une importance toute particulière à la sécurité de vos données et met en oeuvre toutes mesures appropriées aux fins de restreindre les risques de perte, détérioration ou mauvaise utilisation de celles-ci.
</p>
<h2>6. Conservation des données</h2>
<p>Les données sont stockées chez l'hébergeur du Site identifié au sein des Mentions Légales et sont conservées pour la durée strictement nécessaire à la réalisation des finalités visées ci-avant. Au-delà de cette durée, elles seront conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelle que nature que ce soit.
</p>
<h2>7. Vos droits</h2>
<p>Vous disposez d'un droit d'accès et de rectification de vos données en nous adressant une demande en ce sens en nous envoyant un email à info@yasound.com ou par courrier à l'adresse suivante :
<pre>YASOUND SAS, 
144 rue des Poissonniers, 
75018 Paris</pre>
</p>
</body>
</html>
