
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>YASOUND | Ma radio, c'est moi</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Avec Yasound, créez votre radio en un instant, écoutez la musique avec vos amis, et communiquez avec eux en temps réel sur le net, et bientôt sur votre mobile." />
<meta name="viewport" content="width=device-width, initial-scale=0.5 initial-scale=0.5, maximum-scale=1, user-scalable=0">
<meta name="Author" content="Yasound SAS" />
<meta name="copyright" content="Yasound SAS" />
<meta http-equiv="Cache-control" content="public" />
<meta name="language" content="french" />
<meta property="og:title" content="YASOUND : N'écoutez plus seul votre musique."/>
<meta property="og:type" content="Compagnie"/>
<meta property="og:url" content="http://yasound.com/fr"/>
<meta property="og:image" content="http://yasound.com/fr/og.jpg"/>
<meta property="og:site_name" content="YASOUND : Ma radio, c'est moi."/>
<meta property="fb:admins" content="USER_ID"/>
<meta property="og:description"
content="Avec Yasound, créez votre radio en un instant, écoutez la musique avec vos amis, et communiquez avec eux en temps réel sur le net, et bientôt sur votre mobile."/>
<link rel="icon" type="image/png" href="/media/yaweb/images/new-favicon.png" />
<link href="/media/yaweb/css/stay_tuned.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
// GOOGLE ANALYTICS
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4211339-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>
    <div id='logo'>Yasound is coming soon</div>
</body>
</html>