<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="user-scalable=no,width=device-width"/>
<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
<title>Concours Yasound</title>

</head>
<body>
<img src='/media/yaweb/images/valentine_2013/iphone-bouton-droit.png' alt="Concours St-Valentin"  usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="13,110,302,139" href="{% url contest_station_terms %}" target="_blank" alt="Jeu" />
  <area shape="rect" coords="36,180,278,206" href="http://dueze.blogspot.ca/2012/06/webjouez-avec-yasound-et-remportez-une_14.html#links" target="_blank" alt="Dueze" />
  <area shape="rect" coords="36,222,278,248" href="http://www.applepub.fr/blog/concours-jouez-et-gagnez-une-station-daccueil-avec-applepub-fr" target="_blank" alt="Apple Pub" />
  <area shape="rect" coords="36,263,278,290" href="http://www.iphonophile.fr/concours-gagner-une-station-daccueil-iphone-ipod-avec-yasound/" target="_blank" alt="iPhonophile" />
  <area shape="rect" coords="36,303,278,331" href="http://infoidevice.fr/concours-gagnez-une-station-daccueil-pour-iphone-et-ipod-avec-yasound/" target="_blank" alt="info iDevice" />
</map>
</body>
</html>
