<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
<link href="/media/yaweb/css/elecsounds.css" rel="stylesheet" type="text/css" />
  <title>ElecSounds</title>
</head>
<body>

<a href='{% url webapp_default_blog_post "la-love-mixtape" %}' target="_parent">
    <img src='/media/yaweb/images/valentine_2013/station-bouton-droit.jpg'
        class=''
        alt='Jeu Saint-Valentin'
        width='728'
        height='300'
        usemap="#Map"
        />
</a>
<map name="Map" id="Map">
  <area shape="rect" coords="46,166,150,220" href='{% url webapp_default_blog_post "la-love-mixtape" %}' target="_parent" alt="Concours Saint-Valentin" />
  <area shape="rect" coords="403,257,480,284" href="http://itunes.apple.com/fr/app/yasound/id492680161?mt=8&uo=4" target="itunes_store" alt="App on Appstore" />
</map>

</body>
</html>
