<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="user-scalable=no,width=device-width"/>
<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css"/>
<title>Concours Yasound</title>

</head>
<body>
<img src='/media/yaweb/images/valentine_2013/iphone-bouton-droit.png' alt="Concours St-Valentin"  usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="79,646,268,748" href="{% url contest_station_terms %}" target="_blank" alt="Jeu" />
  <area shape="rect" coords="77,880,184,931" href="http://itunes.apple.com/fr/app/yasound/id492680161?mt=8&uo=4" target="itunes_store" alt="App on Appstore" />
</map>
</body>
</html>
