{% extends "web/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block menu %}
    {% include "web/menu.html" with selected="login" %}
{% endblock %}


{% block content %}
  <h2>{% trans "Login using:" %}</h2>
  {% for name in social_auth.backends.oauth %}
    <a rel="nofollow" href="{% url socialauth_begin name %}"><img class='login-service' src='/media/images/logo-{{ name }}.png' alt='{{ name|title }}'/></a>
  {% endfor %}
  {% for name in social_auth.backends.oauth2 %}
    <a rel="nofollow" href="{% url socialauth_begin name %}"><img class='login-service' src='/media/images/logo-{{ name }}.png' alt='{{ name|title }}'/></a>
  {% endfor %}
{% endblock %}
