{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}


{% block content %}
    <div class='row'>
        <div class='span12'>
            <div class='page-header'>
               <h1>{% trans "Login" %}
                <small>{% trans "Please choose your prefered login method below" %}</small>
               </h1>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='span4'>
                <form class="well">
                <fieldset>
                <legend>{% trans "Social login services" %}</legend>
            
            {% if next %}   
            <a href="{% url socialauth_begin 'facebook' %}?next={{ next }}" rel="nofollow">
            <img class="login-service" alt="Facebook" src="/media/images/logo-facebook.png">
            </a>
			<a href="{% url socialauth_begin 'twitter' %}?next={{ next }}" rel="nofollow">
			<img class="login-service" alt="Twitter" src="/media/images/logo-twitter.png">
			</a>
			{% else %}
            <a href="{% url socialauth_begin 'facebook' %}" rel="nofollow">
            <img class="login-service" alt="Facebook" src="/media/images/logo-facebook.png">
            </a>
            <a href="{% url socialauth_begin 'twitter' %}" rel="nofollow">
            <img class="login-service" alt="Twitter" src="/media/images/logo-twitter.png">
            </a>
			{% endif %}
			</fieldset>
			</form>
        </div>   
        <div class='span4'>
			    <form class="well" method='post'>{% csrf_token %}
			    <fieldset>
			    <legend>{% trans "Login using existing account" %}</legend>
			    {{login_form}}
                <input type='hidden' name='action' value='login'/>
			    <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
			    <a href='{% url lost_password %}'>{% trans "Lost password ?" %}</a>
                </fieldset>
			    </form>
            </div>
        <div class='span4'>
                <form class="well" method='post' id='signup-form'>{% csrf_token %}
                <fieldset>
                <legend>{% trans "Create a new account" %}</legend>
                {{ signup_form}} 
                <input type='hidden' name='action' value='signup'/>
                <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
                </fieldset>
                </form>
        </div>
    </div>    
    
{% endblock %}
