{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class='row'>
        <div class='span12'>
            <div class='page-header'>
               <h1>{% trans "Reset password" %}
               </h1>
            </div>
          <form class="well" method='post'>{% csrf_token %}
          <fieldset>
          {{form}}
            <input id="submit-id-submit" class="btn btn-primary" type="submit" value="{% trans 'Reset' %}" name="submit">
          </fieldset>
          </form>
        </div>
    </div>
{% endblock %}


