{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class='row'>
        <div class='span12'>
            <div class='page-header'>
               <h1>{% trans "Registration processing" %}
               </h1>
            </div>
            <p>
                {% blocktrans %}
                Thank your for registering, an email has been sent to {{ email }} to complete process.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}






{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% load page_tags %}

{% block help %}
{% header_for 'password-reset' as header %}
<h1>{{ header.title}}</h1>
{{ header.body|safe }}
{% endblock %}

{% block breadcrumb %}
<p id="breadcrumb"><a href="/">{% trans "Home" %}</a><span class="breadcrumb-separator">></span><a class="you-are-here" href="#">{% trans "Password reset" %}</a></p>
{% endblock %}

{% block content %}
<div class="row"><div class="pre_3 col_9 omega"><div class='page-content'>
{% if request.user.is_authenticated %}
{% blocktrans with request.user as user %}
<p>Your are currently logged as {{ user }}.</p>
{% endblocktrans %}
{% endif %}

<div>
<h2>{% trans "Password reset" %}</h2>
    <form class="uniForm" method="post">
    {{ form|as_uni_form }}
    <div class="buttonHolder">
        <input type='hidden' name='action' value='login'/>
        <input id="submit-id-submit" class="button big-rounded black" type="submit" value="{% trans 'Submit' %}" name="submit">
    </div>
    </form>
</div>

</div></div></div>
{% endblock %}