{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}


{% block body %}
<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span3'>
        <a href='/'><img src='/media/images/logos/yasound-grey.png' alt='Yasound logo'/></a>
        </div>
    </div>
</div>
<div class='container-fluid login-back3'>
    <div class='row-fluid'>
        <div class='span12'>

            <div class='well-center'>
                <h2>{% trans "Lost password" %}</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                {% if request.user.is_authenticated %}
                <p>{% trans "You are already authenticated" %}.
                <a href='{% url logout%}'>{% trans "Logout" %}</a></p>
                {% endif %}
                <form id='passreset-form' method='post'>{% csrf_token %}
                <fieldset>
                  {{form}}
                  <br/>
                <button type="submit" class="btn btn-primary">{% trans "Reset" %}</button>
                </fieldset>
                </form>

            </div>
    </div>

  </div>
</div>

<div class='container-fluid'>
    <div class='row-fluid'>
        <div id='appstore'>
        <a href="http://itunes.apple.com/fr/app/yasound/id492680161?mt=8&uo=4" target="itunes_store">
        <img src='/media/images/available-appstore-fr.png' alt='{% trans "available on appstore" %}'/>
        </a>
        </div>
    </div>
    <footer>
      <div id="menu">
      {% if request.user.is_authenticated %}<a href="{% url logout %}">{% trans "Logout" %}</a> {% else %}<a href="#">{% trans "Login" %}</a>{% endif %} | <a href="{% url webapp_default_about %}">À propos de nous</a> | <a href="{% url webapp_default_jobs %}">Jobs</a> | <a href="{% url webapp_default_press %}">Presse</a>
      </div>
    </footer>
    </div>
</div>
</body>
{% endblock %}




