{% extends "base_mobile.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class='row-fluid'>
        <div class='span12'>
            <div class='page-header'>
               <h1>{% trans "Reset password confirmation" %}
               </h1>
            </div>
          {% if validlink %}
          <form class="well" method='post'>{% csrf_token %}
          <fieldset>
          {{form}}
          <br/>
            <input id="submit-id-submit" class="btn btn-primary" type="submit" value="{% trans 'Reset' %}" name="submit">
          </fieldset>
          </form>
        {% else %}
        <p>{% trans "The password reset link was invalid" %}</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
