{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="/media/css/auth-buttons.css"/>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block body %}
<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span3'>
        <a href='/'><img src='/media/images/logo.png' alt='Yasound logo'/></a>
        </div>
    </div>
</div>
<div class='container-fluid login-back2'>
    <div class='row-fluid'>
        {% if request.user.is_authenticated %}
        <div class='span12'>
        <p>{% trans "You are already authenticated" %}</p>
        </div>
        {% else %}

        <div class='span12'>
        
            <div class='well-center'>
                <h2>{% trans "Signup" %}</h2>
                <form id='signup-form' method='post'>{% csrf_token %}
                <fieldset>
                
			    {{ signup_form }}
                
                <br/>
                <input type='hidden' name='action' value='signup'/>
                <button type="submit" class="btn btn-primary">{% trans "Signup" %}</button>
                </fieldset>
                </form>
            </div>
        {% endif %}
    </div>    

    <div class='row-fluid'>
        <div id='appstore'>
        <a href="http://itunes.apple.com/fr/app/yasound/id492680161?mt=8&uo=4" target="itunes_store">
        <img src='/media/images/available-appstore-fr.png' alt='{% trans "available on appstore" %}'/>
        </a>
        </div>
    </div>    
</div>
<div class='container-fluid'>
    <footer>
      <div id="menu">
      {% if request.user.is_authenticated %}<a href="{% url logout %}">{% trans "Logout" %}</a> | {% endif %} <a href="http://yasound.com/fr/a_propos_de_nous.php">À propos de nous</a> | <a href="http://yasound.com/fr/jobs.php">Jobs</a> | <a href="http://yasound.com/fr/presse.php">Presse</a> | <a href="http://yasound.com/fr/contact.php">Contact</a>
      </div>
    </footer>
</div>
</div>
</body>
{% endblock %}

    
