#background {
    width: 100%; 
    height: 100%; 
	position: fixed;
	z-index: -1;
    left: 0px; 
    top: 0px; 
}

.stretch {
    width:100%;
    height:100%;
}

#nicolas {
	position:absolute;
	bottom:12px;
	left:42px;
    cursor: pointer;
}

#francois {
    position:absolute;
    bottom:12px;
    right:42px;
    cursor: pointer;
}


#terms {
	width: 124px;
    margin-left:-62px;
    text-align: center;
	position:absolute;
	right:12px;
    top:8px;
}