{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{current_locale}}" lang="{{current_locale}}">
<head>
    <title>{% block head_title %}Home{% endblock %} — Yasound</title>
    <link rel="icon" type="image/x-icon" href="/media/images/favicon.ico" />
    <meta name="description" content="" />
    <meta name="keywords" content="" /> 
    <link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/css/style.css">

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>

