@charset "utf-8";

body 
{
	font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	font-style: normal;
	padding: 0px;
	margin: 0px;
	color: rgb(52,52,52);
	background-color: rgb(242,242,240);
	text-align: center;
    
    height: 100%;
}



.page
{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    
}

#logo
{
    margin-top: 2%;
    width: 92%;
}

#chapo
{
    margin-top: 2%;
    margin-right: 4%;
    margin-left: 4%;
    
    color: rgb(51,51,51);
    font-family: Lucida Grande, Helvetica Neue, Helvetica, sans-serif;
    font-size: 230%;
    font-weight: bold;
    
    text-align: right;
    
}


#video
{
    margin-top: 4%;
    width: 100%;
    height: 380px;
}

.embed
{
    width: 100%;
    height: 380px;
}

.button
{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    width: 40%;
}


#regular-link
{
    margin-top:4%;
    margin-bottom:4%;
font-size:200%;
}

