{% load i18n %}
{% load thumbnail %}        
<div class="navbar navbar-fixed-top" id='header'>
	<div class="navbar-inner">
		<div class="container">
				<div id="brand-logo">
					<a href="brand-logo" {% url webapp %}>
						<img src="/media/app/images/brand-logo.png" width="138" height="23" alt="Logo Yasound">
					</a>
				</div>
				<div class="header-separation">
					<img src="/media/app/images/header-separation.png" width="4" height="54" alt="Header Separation">
				</div>
				<div id="sound-quality">
					<input class="input-switch" id="switch1" type="checkbox" />
					<label for="switch1"></label>
					<img id="SD" src="/media/app/images/SD.png" width="21" height="12" alt="SD">
				</div>
				<div id="radio-picto">
					<a href="#">
						<img src="/media/app/images/radio-picto.png" width="32" height="32" alt="Radio Picto">
					</a>
				</div>
				<div>
					<a id="favorite-radio" href="#"></a>
				</div>
				<a href="#" >
					<div id="play-btn">
						<img id="pause-symbol" src="/media/app/images/pause-symbol.png" width="10" height="10" alt="Pause Btn">
					</div>
				</a>
				<div id="sound-level">
					<div id="min-level">
						<img src="/media/app/images/lower-volume.png" width="8" height="10" alt="Lower Volume">
					</div>
					<div id="level-bar">
					</div>
					<div id="max-level">
						<img src="/media/app/images/higher-volume.png" width="11" height="11" alt="Higher Volume">
					</div>
				</div>
				<div class="header-social-btn" id="first-social-btn">
					<a href="#" id="share-btn"></a>
				</div>
				<div class="header-social-btn">
					<a href="#" id="love-btn"></a>
				</div>
				<div class="header-social-btn">
					<a href="#" id="shop-btn"></a>
				</div>
				<div class="header-separation">
					<img src="/media/app/images/header-separation.png" width="4" height="54" alt="Header Separation">
				</div>
				<div id="profile-picture">
                   {% thumbnail user_profile.picture "38x38" format='PNG' as im %}
                    <img src="{{ im.url  }}" width="38" height="38" alt="Profile Picture">
                   {% endthumbnail %}
				</div>
				<div>
					<a id="messages-btn" class="notification">
						<span class="badge badge-info" id="message-position-absolute">4</span>
					</a>
				</div>
				<div class="notification" id="last-social-btn">
					<a href="#" id="gift-btn"></a>
				</div>
			</div>
		<div id="sub-header">
            <div class="container" id="sub-header-container">
				<div id="sub-header-pointer"></div>
                <ul id="sub-header-nav">
                    <li class="first"><a href='#' id="selection">{% trans "Selection" %}</a></li>
                    <li><a href='#' id='top'>{% trans "Top" %}</a></li>
                    <li><a href='#' id='friends'>{% trans "My friends" %}</a></li>
                    <li><a href='#' id='favorites'>{% trans "Favorites" %}</a></li>
                </ul>
                <div>
                    <form>
                        <p id="form">
                            <select name="music-style" id="">
                                <option value="#">Genre</option>
                                <option value="#">Jazz</option>
                                <option value="#">Rock</option>
                                <option value="#">Blues</option>
                                <option value="#">Pop</option>
                                <option value="#">Country</option>
                                <option value="#">Rap</option>
                            </select>
                        </p>
                    </form>
                </div>
                <div id="sub-header-separation">
                </div>
                    <a id="create-radio" href="#">
                        <span> Créer une radio </span>
                    </a>
                	<div id="search-bar">
						<input type="text" id="search-input" class="unstyle" placeholder="Rechercher"/>
						<input type="submit" value="" id="search-symbol" class="unstyle"/>
                	</div>
            </div>
        </div>
	</div>
</div>