{% load i18n %}
<div id='deezer-content'>
    <div id='deezer-playlists-container'>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Choose a playlist:" %}</th>
                </tr>
            </thead>
            <tbody id='playlists'>
            </tbody>
        </table>
        <div class='cell-pagination' id='playlists-pagination'></div>
    </div>

    <div id='deezer-tracks-container' style='display:none;'>
        <button class='action-btn' id='import-all'>{% trans "Import all" %}</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Track" %}</th>
                    <th>{% trans "Album" %}</th>
                    <th>{% trans "Artist" %}</th>
                    <th>{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody id='tracks'>
            </tbody>
        </table>
        <div class='cell-pagination' id='tracks-pagination'></div>
    </div>
</div>