{% load i18n %}
<td><% title %></td>
<td><%#album%><% title %><%/album%></td>
<td><%#artist%><% name %><%/artist%></td>
<td>
    <button class='yabutton-small details'>{% trans 'details' %}</button
</td>
