<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/dz.js"></script>
<script type="text/javascript">
DZ.SETTING_HOST_SITE     = "http://david.www.deezerdev.com";
DZ.SETTING_HOST_CONNECT = "http://david.connect.deezerdev.com";
DZ.SETTING_HOST_API     = "http://david.api-v3.deezerdev.com/2.0";
DZ.DEBUG = true;
</script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/api.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/error.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/event.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/exceptions.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/framework.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/iframe_communication.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/json.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/notify.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/player.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/player_controler.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/player_controler_widget.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/request.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/util.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dzapp/dzapp.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dzapp/canvas.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dzapp/framework.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dzapp/user.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dzapp/jquery.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dzapp/navigation.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dzapp/mobile.js"></script>
<script type="text/javascript" src="http://david.files.deezerdev.com/js/dz/loaders.js"></script>