@media (max-width: 767px) {

	body
	{
		padding: 0;
	}

	#search-bar
	{
		width: 25%;
		input
		{
			margin-left: 10px;
			width: 65%;
		}
	}

	.sub-menu .btn-select
	{
		display: none;
	}

	.header-nav .btn-nav
	{
		padding: 0 5px;
	}

	.header-nav .btn-register
	{
		width: 60px;
	}

	.header-navbar .asset-logo
	{
		width: 45px;
	}

	.container-fluid
	{
		padding: 0 10px;
	}

	.content-zone
	{
		padding: 10px;
	}

	.block-content
	{
		margin-bottom: 10px;
	}

	.wrapper > .container-fluid,
	.content > .container-fluid
	{
		margin: 0 10px;
	}

	.header-navbar
	{
		margin-bottom: 10px;
	}

	.header-navbar .container-fluid,
	.footer-player .container-fluid
	{
		margin: 0;
	}

	.footer-player,
	.footer-player.mini
	{
		#footer > .mini();
		.toggler { display: none; }
		.current-song { margin-top: 10px; }
		.status.play, .status.pause { left: 50px; }
		.current-radio h2, .current-radio h3 { padding-left: 10px; }
	}

	.asset-alert-app-logo
	{
		display: none;
	}

	.content-alert
	{
		text-align: left;
		padding: 10px 60px 10px 10px;
		.btn-sky
		{
			background: none;
			display: inline;
			border: none;
			color: @linkBlue;
			margin: 0;
			padding: 0;
		}
	}

	.teaser-bg
	{
		background-size: 1000px 689px;
	}

	.teaser
	{
		.asset-teaser-register { display: none; }
		.teaser-close { top: 15px; }
		h1 { font-size: 18px; line-height: 20px; padding-right: 40px; padding-top: 10px; }
		.argument { right: 0px; }
		.paginate { right: 100px; }
		.asset-teaser-phone { display: none; }
		.appstore { left: 20px; }
	}
	.block-slide
	{
		max-width: 100%;
	}
	.block-slide li
	{
		margin-right: 1.2%;
		width: 19%;
		h1 a { font-size: 12px; }
		&:last-child { margin-right: 0; }
	}
	.block-slide-mask
	{
		width: 100%;
	}
	.block-slide-container
	{
		height: auto;
		.asset-slide-left,
		.asset-slide-right,
		ul + ul,
		.tag, .fav, .share, .tip-btn
		{
			display: none;
		}
		ul
		{
			float: none;
		}
	}
	.radio-grid
	{
		li
		{
			margin: 6px .5%;
			width: 19%;
		}
		.tag, .fav, .share, .tip-btn
		{
			display: none;
		}
	}
	.content
	{
		padding-bottom: 110px;
	}

	.wall-aside-block
	{
		display: none;
	}

	.wall-left-col
	{
		border-right: none;
	}

	.wall-aside
	{
		margin-right: 0;
		padding-top: 0;
	}

	.wall-covers
	{
		border-left: 1px solid #E7E7E7;
		border-right: 1px solid #E7E7E7;
		height: 82px;
		h1
		{
			color: @defaultColor;
			text-shadow: none;
			font-size: 25px;
			left: 150px;
			top: 22px;
			bottom: auto;
			line-height: 24px;
		}
		&:after
		{
			display: none;
		}
	}

	.wall-button
	{
		display: none;
	}
	.wall-fav
	{
		position: absolute;
		top: -30px;
		left: 140px;
		display: block;
	}

	.wall-digest
	{
		padding-top: 25px;
	}

	.wall-pic
	{
		margin-left: 0;
		left: 0px;
		width: 100px;
		img
		{
			height: auto;
		}
	}
	.wall-numbers
	{
		margin-bottom: 0;
	}
	.wall-covers
	{
		background: #fff;
	}
	.wall-covers-pics
	{
		display: none;
	}

	.content-table
	{
		.abs { display: none; }
		.rel { padding: 0; }
		.btn-abs, .btn-abs:hover, tr:hover .btn-abs { width: 60px; padding: 0; }
	}

	.content-table .rel-img-left,
	.content-table .rel-tag-right .val
	{
		max-width: 100px;
	}
	.programming-header .headline1,
	.programming-header .headline2
	{
		font-size: 18px;
	}
	.programming-body .headline2
	{
		font-size: 17px;
	}
	.programming-body .headline1
	{
		font-size: 21px;
	}
	.programming-header
	{
		margin-bottom: 0;
	}
	.programming-header .span6:last-child
	{
		display: none;
	}
	.programming-genre
	{
		width: 100%;
		li
		{
			width: 24%;
			padding: 0 .5%;
		}
		.divider
		{
			display: none;
		}
	}
	.programming-source
	{
		width: 100%;
		li
		{
			width: 49%;
			padding: 0 .5%;
		}
		.programming-choice
		{
			margin-top: 10px;
		}
	}
	.programming-search:after
	{
		display: none;
	}
	.modal-custom
	{
		.modal-header h3
		{
			font-size: 20px;
		}
		width: 98%;
		margin: 0 0 0 -49%;
		&.fade.in { top: 10px; }
	}
	.content-table .rel-img-left,
	.content-table .rel-tag-right .val
	{
		overflow: visible;
		white-space: normal;
		text-overflow: clip;
		height: auto;
		line-height: 14px;
	}
	.content-table .rel-tag-right .hover
	{
		padding: 5px 4px;
	}

	.blog-post
	{
		margin-left: 0px;
		border:none;
		&:after
		{
			content: "";
			position: absolute;
			background: none;
		}

	}

}