@media (max-width: 480px)  {

	.teaser .argument
	{
		bottom: 115px;
		padding-left: 95px;
	}

	.teaser .paginate
	{
		bottom: 80px;
	}

	.teaser a.appstore
	{
		bottom: 10px;
		left: 50%;
		margin-left: -71px;
	}

	.span12 .radio-grid
	{
		li
		{
			margin: 6px 1%;
			width: 31.3333%;
		}
	}

}