@media (max-width: 767px) {

	body
	{
		padding: 0;
	}

	#search-bar
	{
		width: 30%;
		input
		{
			margin-left: 10px;
			width: 65%;
		}
	}

	.header-nav .btn-nav
	{
		padding: 0 5px;
	}

	.header-nav .btn-register
	{
		width: 60px;
	}

	.header-navbar .asset-logo
	{
		width: 45px;
	}

	.container-fluid
	{
		padding: 0 10px;
	}

	.wrapper > .container-fluid,
	.content > .container-fluid
	{
		margin: 0 10px;
	}

	.header-navbar
	{
		margin-bottom: 10px;
	}

	.header-navbar .container-fluid,
	.footer-player .container-fluid
	{
		margin: 0;
	}

	.sub-menu .btn-group
	{
		margin-left: 0px;
	}

	.footer-player,
	.footer-player.mini
	{
		#footer > .mini();
		.toggler { display: none; }
		.current-song { margin-top: 10px; }
		.status.play, .status.pause { left: 50px; }
		.current-radio h2, .current-radio h3 { padding-left: 10px; }
		.current-radio .cover { .box-shadow(inset 0 0 0 1px #000); }

	}

}