@media (min-width: 768px) and (max-width: 979px) {

	#search-bar
	{
		width: 30%;
		input
		{
			width: 75%;
			margin-left: 10px;
		}
	}

	.header-nav .btn-register
	{
		width: 60px;
	}

	.asset-alert-app-logo
	{
		display: none;
	}

	.content-alert
	{
		padding-right: 60px;
		text-align: left;
		padding-left: 20px;
	}

	.teaser-bg
	{
		background-size: 1000px 689px;
	}

	.teaser
	{
		.asset-teaser-register { display: none; }
		.asset-teaser-phone { display: none; }
		h1 { font-size: 24px; }
		.argument { right: 50px; }
		.paginate { right: 150px; }
	}

	.block-slide li
	{
		margin-right: 20px;
		width: 120px;
		h1 a { font-size: 12px; }
	}
	.block-slide-mask
	{
		width: 700px;
	}
	.block-slide-container
	{
		height: 146px;
	}

}