{% load i18n %} 
<div class='row'>
    <div class='span12 signup-container'>
        <h2>Création de votre compte Yasound</h2>
        <h3>Inscription rapide avec Facebook ou Twitter</h3>    <div class="signup-btn-fbk">
		    	<a href="#"><img src="/media/app/images/SignUp/signup-icon-facebook.png">Inscription rapide avec Facebook</a>
		    </div>
		    <div class="signup-btn-twitter">	
		    	<a href="#"><img src="/media/app/images/SignUp/signup-icon-twitter.png">Inscription rapide avec Twitter</a>
		    </div>
		<div id="signup-separation-line"></div>
        <h3>Inscription par email</h3>
	    <form>
	        <div id="signup-input">
	        	<input value="Choose a user name" type="text">
	        	<input value="Email adress" class="right-input" type="text">
	        	<input value="Password" class="bottom-input" type="text">
	        	<input value="Confirm password" class="right-input bottom-input" type="text">
	        	<input id="signup-save-btn"type="submit" value="Enregistrer mon compte" />
	        </div>
	    </form>
    </div>
</div>    
