{% load i18n %}
{% load app_url %}

{% if request.user.is_anonymous %}

<div class="container-fluid content-zone">
    <div class="row-fluid">
        <div class='span12 signup-container'>
            <h1>{% trans "Create your Yasound account" %}</h1>
            <h2>{% trans 'Quick registration with Facebook or Twitter' %}</h2>
        </div>
    </div>
    <div class='row-fluid signup-container'>
        <div class='span6'>
            <div class='social-btn'>
                {% ifequal app_name 'deezer' %}
                <a class='facebook' href="{% url socialauth_begin 'facebook' %}?next={% url close %}" rel="nofollow" target="_blank"><img src="/media/app/images/sign-up/signup-icon-facebook.png">{% trans 'Quick registration with Facebook' %}</a>
                {% else %}
		    	<a class='facebook' href="{% url socialauth_begin 'facebook' %}?next={{ root }}" rel="nofollow"><img src="/media/app/images/sign-up/signup-icon-facebook.png">{% trans 'Quick registration with Facebook' %}</a>
                {% endifequal %}
    	    </div>
        </div>
        <div class="span6">
            <div class='social-btn'>
                {% ifequal app_name 'deezer' %}
                <a class='twitter' href="{% url socialauth_begin 'twitter' %}?next={% url close %}" rel="nofollow" target="_blank"><img src="/media/app/images/sign-up/signup-icon-twitter.png">{% trans 'Quick registration with Twitter' %}</a>
                {% else %}
		    	<a class='twitter' href="{% url socialauth_begin 'twitter' %}?next={{ root }}{{ next }}" rel="nofollow"><img src="/media/app/images/sign-up/signup-icon-twitter.png">{% trans 'Quick registration with Twitter' %}</a>
                {% endifequal %}
    	    </div>
	    </div>
    </div>
</div>

<div class="container-fluid content-zone last">
    <div class="row-fluid">
        <div class='span12 signup-container'>
            <h2>{% trans 'Email registration' %}</h2>
        </div>
    </div>
    <form id='signup-form' method='post'>{% csrf_token %}
    <div class='row-fluid signup-container'>
        <div class='span6 signup-input'>
            <input placeholder="{% trans 'Choose a user name' %}" required="required" type="text" name="username">
        	<input type='hidden' name="referal" value='{{ referal_username }}'>
            <input placeholder="{% trans 'Email' %}" type="email" required="required" class="right-input" name="email">
        </div>
        <div class='span6 signup-input'>
            <input placeholder="{% trans 'Password' %}"class="bottom-input" required="required" type="password" name="password1">
        	<input placeholder="{% trans 'Confirm password' %}" class="right-input bottom-input" required="required" type="password" name="password2">
        </div>
    </div>
    <div class='row-fluid signup-container'>
        <div class='span12 signup-input'>
        	<input id="signup-save-btn" type="submit" value="{% trans 'Register my account' %}" />
        </div>
    </div>
    </form>
</div>


<div class="modal hide fade" id="modal-after-signup">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Thank you for registering at Yasound" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% blocktrans %}An email has been sent to confirm your registration.
        {% endblocktrans %}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans "Login" %}</a>
    </div>
</div>


{% else %}
<div class="container-fluid content-zone last">
  <div class="row-fluid">
    <div class='span12'>
        <h1>{% trans "Create your Yasound account" %}</h1>

        <p class='lead'>{% trans "You are currently logged as" %} <a href='{% app_url webapp_profile app_name request.user.username %}'>{{ request.user.get_profile }}</a></p>
        {% url logout as logout_url %}
        {% blocktrans %}
        <p class='lead'>
            <a href='{{logout_url}}/?next={{ root }}signup/'>Logout</a> to switch user.
        </p>
        {% endblocktrans %}

    </div>
  </div>
</div>
{% endif %}