#colibri-container {
	position: fixed;
	z-index: 9999;
	top: 42px;
	right: 12px;
}

.colibri {
	padding: 8px 35px 8px 14px;
	margin-bottom: 6px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #BCE8F1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	width: 150px;
}

.colibri-error {
	color: #f85e5e;
	background-image: linear-gradient(bottom, rgb(220,221,222) 0%, rgb(242,242,243) 60%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(220,221,222) 0%, rgb(242,242,243) 60%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(220,221,222) 0%, rgb(242,242,243) 60%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(220,221,222) 0%, rgb(242,242,243) 60%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(220,221,222) 0%, rgb(242,242,243) 60%, rgb(255,255,255) 100%);
	border-color: #f85e5e;
}

.colibri-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.colibri-warning {
	color: #C09853;
	background-color: #FCF8E3;
	border-color: #FBEED5;
}

.colibri-tooltip {
	color: #FFFFFF;
	background-color: #000000;
	border: none;
	text-shadow: none;
 	opacity: 0.8;
  	filter: alpha(opacity=80);
}