{% load i18n %}
{% load app_url %}
{% if request.user.is_authenticated %}

<div class="modal hide fade" id="modal-invite-twitter">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Post on twitter" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Invite your friends on Twitter" %}</p>
        <textarea></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Post message" %}</a>
    </div>
</div>

<div class="modal hide fade" id="modal-invite-email">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Invite your friends by mail" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Invite your friends by mail" %}</p>
        <form>
        <div id='recipients-group'>
            <div class="btn-group">
              <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "Import" %}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" id='google-contacts'>{% trans "Google contacts" %}</a></li>
              </ul>
            </div>
            <input placeholder='{% trans "Recipient email" %}' id='recipients'>
        </div>
        <input placeholder='{% trans "Subject" %}' id='subject'>
        <textarea></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Send mail" %}</a>
    </div>
</div>

<div class="modal hide fade" id="modal-google-contacts">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Details" %}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-striped" id='google-contacts-list'>
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Email" %}</th>
            </tr>
        </thead>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
    </div>
</div>

<div class="container-fluid content-zone">
  <div class="row-fluid">
    <div class='span12 invite'>
        {% ifequal app_name 'deezer' %}
        <h1>{% trans "Invite your friends" %}</h1>
        {% else %}
        <h1>{% trans "Invite your friends and win HD" %}</h1>
        {% endifequal %}
        <ul>
            <li>
                <div id='invite-facebook'>
                    <a href='#'>{% trans "Invite your facebook friends" %}</a
                </div>
            </li>
            <li>
                <div id='invite-twitter'>
                    <a href='#'>{% trans "Invite your friends with twitter" %}</a>
                </div>
            </li>
            <li>
                <div id='invite-email'>
                    <a href='#'>{% trans "Invite your friends by email" %}</a
                </div>
            </li>
        </ul>
    </div>
  </div>
</div>

<div class="container-fluid content-zone">
  <div class="row-fluid">
    <section class='span12'>
        <h1>{% trans "People you follow" %} (<span id='friends-count'></span>)</h1>
        <ul id='results'>
        </ul>
        <img class='loading-mask' src='/media/images/loading-white.gif'/>
        <div class='cell-pagination' id='pagination'></div>
    </section>
  </div>
</div>

<div class="container-fluid content-zone last">
  <div class="row-fluid">
    <section class='span12'>
        <h1>{% trans "People following you" %} (<span id='followers-count'></span>)</h1>
        <ul id='followers'>
        </ul>
        <img class='loading-mask' src='/media/images/loading-white.gif'/>
        <div class='cell-pagination' id='followers-pagination'></div>
    </section>
  </div>
</div>

</div>
{% else %}
<div class="container-fluid content-zone last">
  <div class="row-fluid">
    <section class='span12'>
    	<div class='friends-login-container'>
    		<img class='friends-login-large'src="/media/app/images/friends-icon-large.png" height='230' width='260'>
            <img class='friends-login-small'src="/media/app/images/friends-icon-large.png" height='153' width='173'>
    		<p class='friends-login-p'>{% trans "Log in to view your friends." %}</p>
            <form action='{% app_url webapp_login app_name %}' method='get'>
    		<button id='login-btn'>{% trans "Login" %}</button>
            </form>
    	</div>
    </section>
  </div>
</div>
{% endif %}