{% load i18n %}
{% if request.user.is_authenticated %}
<div class='row'>
    <div class='span12'>
        <ul id='results'>
        <img class='loading-mask' src='/media/images/loading.gif'/>
        </ul>
        <div class='cell-pagination' id='pagination'></div>
    </div>
</div>
{% else %}
<div class='row'>
    <div class='span12'>
    	<div class='friends-login-container'>
    		<img class='friends-login-large'src="/media/app/images/friends-icon-large.png" height='230' width='260'>
            <img class='friends-login-small'src="/media/app/images/friends-icon-large.png" height='153' width='173'>
    		<p class='friends-login-p'>{% trans "Log in to view your friends." %}</p>
            <form action='{% url webapp_login %}' method='get'>
    		<button id='login-btn'>{% trans "Login" %}</button>
            </form>
    	</div>
    </div>
</div>
{% endif %}