#player #metadata-container .button-group {
  float:right;
  width:100px;
  margin-top:0px;
}

#player #metadata-container #radio-title {
  width: 350px;
}

#messages-btn {
  left:28%;
}
#btn-deezer-link-out {
  float:right;
  display:block;
  position: relative;
  top: -8px;
}

#btn-deezer-link-out-not-authenticated {
  float:right;
  display:block;
  margin-top:23px;
}

#sound-level {
  display:none;
}

#header .navbar-inner {
  height: 68px;
}

#brand-logo {
  height:auto;
}

#sub-header {
  top:69px;
}

#teaser-bg {
  top:124px;
}

#webapp-container {
  margin-top: 154px;
}

#messages-btn {
  top:18px;
}

.modal {
  position: fixed;
  top:300px;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal-header {
  background:#e8e8e8;
  color:#606060;
  font-size:20px;
  font-weight:700;text-shadow:0 1px #fff;
}

.modal-footer {
  background:#f5f5f5;
}

}
.modal.fade {
  top: -25%;
}

.modal.fade.in {
  top:300px;
}

.link-out {
    background-image: url('../app/images/link-out.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right:20px;
    color: #757b7d;
    font-size:10px;
    font-size:12px;
}

#contacts p a.link-out:hover {
    color: #757b7d;
    text-decoration: underline;
}

.radio-cell .mask {
  height:210px;
  width:210px;
  position:absolute;
  border-radius:5px;
  left:0px;
  top:0px;
  z-index:4;
  background: url('../app/images/deezer/button-play-big.png') 50% 30% no-repeat;
}


#footer {
  display: none;
}

#radio-toolbar {
  float:right;
  text-align: right;
}

#radio-toolbar ul {
  list-style: none;
  margin:0;
}

#radio-toolbar ul li {
  margin-top:4px;
  margin-left:4px;
}

#radio-infos h1 {
  margin-bottom:12px;
}


/**
 * Buttons
 */

.modal .btn,
.yabutton,
.yabutton-small {
  background:#f0f0f0;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(254,254,254)));
  background-image:-moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(254,254,254) 100%);
  border:1px solid #d0d0d0;
  color:#808080;
  text-shadow:0 1px #fff;
  font-size:12px;
  border-radius:3px;
  font-weight:bold;
  box-shadow:none;
}

.modal .btn:hover,
.yabutton:hover,
.yabutton-small:hover {
  background:#e6e6e6;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(205,205,205)),color-stop(1, rgb(255,255,255)));
  background-image:-moz-linear-gradient(center bottom,rgb(205,205,205) 0%,rgb(255,255,255) 100%);
  color:#404040;
  border-radius:3px;
  border:1px solid #d0d0d0;
  text-shadow:0 1px #fff;
  box-shadow:none;
}
#profile-box-container button,
#login-box-container form #login-btn-connection,
.yabutton-large {
  background:#f0f0f0;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(254,254,254)));
  background-image:-moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(254,254,254) 100%);
  border:1px solid #d0d0d0;
  color:#808080;
  text-shadow:0 1px #fff;
  font-size:12px;
  border-radius:3px;
  font-weight:bold;
}

#profile-box-container button:hover,
#login-box-container form #login-btn-connection:hover,
.yabutton-large:hover {
  background:#e6e6e6;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(205,205,205)),color-stop(1, rgb(255,255,255)));
  background-image:-moz-linear-gradient(center bottom,rgb(205,205,205) 0%,rgb(255,255,255) 100%);
  color:#404040;
  border-radius:3px;
  border:1px solid #d0d0d0;
  text-shadow:0 1px #fff;
  box-shadow:none;
}

.modal .btn-primary,
.action-btn,
.save-btn {
  background:#62a3d5;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(59,115,158)),color-stop(1, rgb(99,164,214)));
  background-image:-moz-linear-gradient(center bottom,rgb(59,115,158) 0%,rgb(99,164,214) 100%);
  border:1px solid #447abe;
  text-shadow:0 1px #386b92;
  color: white;
  font-size:12px;
  border-radius:3px;
  font-weight:bold;
  box-shadow:none;
  padding:3px 10px;
}

.modal .btn-primary:hover,
.action-btn:hover,
.save-btn:hover {
  background:#5387ac;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(46,91,123)),color-stop(1, rgb(84,136,173)));
  background-image:-moz-linear-gradient(center bottom,rgb(46,91,123) 0%,rgb(84,136,173) 100%);
  border:1px solid #447abe;
  color: white;
  font-size:12px;
  border-radius:3px;
  box-shadow:none;
  text-shadow:0 1px #386b92;
}

.deezer-actions {
  margin-left: 45px;
}

.deezer-actions .yabutton-small {
}

.deezer-actions ul {
  list-style: none;
  margin:0;
}

.deezer-actions ul li {
  margin-bottom:12px;
}

/**
 * Deezer playlists
 */
#deezer-playlists-container .deezer-playlist {
  background-image: url('../app/images/deezer/deezer-playlist.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left:24px;
  text-shadow: 1px 1px 1px #fff;
  color: #666;
}

#deezer-playlists-container .table,
#deezer-playlists-container .table tr,
#deezer-playlists-container .table td
 {
  border: none;
}

#login {
  margin-left:-45px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #player #metadata-container {
        width:396px;
    }

    .deezer-actions {
      margin-left: 25px;
    }

    #login #login-btn {
      margin-left:4px;
    }

    #login {
      margin-left:-26px;
    }
}