body {
	margin-top:80px;
}

#webapp-player {
	
}

#webapp-player .picture {
	float:left;
	margin-top:4px;
	margin-right: 12px;
}


#webapp-player #player-title {
	color: white;
}

#webapp-player #details {
	margin-top:4px;
	float:left;
}

#webapp-player #tweet img {
	position: relative;
	top: -2px;
}

#webapp-player .fb-like {
    position: relative;
    top: -5px;
	
}

.share {
	float:left;
	margin-right:12px;
	margin-top:2px;
}

#profile-radios {
    margin-top: 24px;
	
}
#webapp-radio {
    margin-top: 24px;
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(/media/images/icon-radio.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    margin-bottom: 24px;
    min-height: 170px;
}

#webapp-radio p {
    font-size: 10px;
    font-weight: 200;
    line-height: 27px;
}

#webapp-radio-picture {
    width: 212px;
    margin: 0px auto;
}

#webapp-radio-users li {
    background-color: white;
}
#webapp-radio-users img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    border:1px solid #c1c1c1;
    overflow: hidden;
}

#webapp-user-picture {
    width: 212px;
    height: 212px;
    margin: 0px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow:hidden;
    border:2px solid #c1c1c1;
}


#webapp-radio-title {
    margin-left: 10px;
    text-align: center;
}

#webapp-radio-title h1 {
    font-size: 16px;
}

#webapp-wall-input {
    margin-top: 24px;
}

#wall {
	list-style: none;
	margin-left:0;
}

   
.wall-event-message {
	border-bottom: 1px solid #eeeeee;
	margin-bottom:12px;
}
.wall-event-message img.user {
	margin-top:8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow:hidden;
    border:1px solid #c1c1c1;
}

.brand {
	margin-top:10px;
}

#volume-control {
    width: 300px;
    cursor: pointer;
}

#tbar-search {
}

ul .radio-cell {
    list-style: none;
	width:148px;
	float:left;
	cursor: pointer;
	margin-bottom:12px;
}

ul .radio-cell img {
	margin-top:12px;
}

ul .radio-cell .thumbnail {
	background-color: white;
}

ul .radio-cell .thumbnail:hover {
	background-color: #efefef;
}
ul .radio-cell .caption h5
,ul .user-cell .caption h5 {
	text-align: center;
}

.cell-pagination {
	float:left;
	with: 148px;
}

ul .user-cell {
    list-style: none;
    height: 100px;
    width: 100px;
    float:left;
     margin-right:16px;
    cursor: pointer;
    margin-bottom:12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    border:1px solid #c1c1c1;
    overflow: hidden;
}

ul .user-cell .caption {
	position:relative;
	top:0px;
	background-color: black;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
   -webkit-transition: top 0.5s ease;
      -moz-transition: top 0.5s ease;
       -ms-transition: top 0.5s ease;
        -o-transition: top 0.5s ease;
           transition: top 0.5s ease;
}

ul .user-cell .caption h5 {
	color: white;
	font-size:16px;
	font-weight: normal;
}

ul .user-cell:hover .caption {
   top: -65px;
}

#user-menu {
	margin-top: 0px;
}

ul#notifications{
    list-style: none;
    margin-left:0;
}

.alert .date {
	float:right;
}

#notifications-toolbar {
	margin-top:4px;
	margin-bottom:12px;
}

ul#notifications li div {
    font-weight: bold;
}
ul#notifications .read {
	font-weight: normal;
}