<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>YASOUND : A propos de nous</title>
<meta property="og:title" content="YASOUND : N'écoutez plus seul votre musique."/>
<meta property="og:type" content="Compagnie"/>
<meta property="og:url" content="http://yasound.com/fr"/>
<meta property="og:image" content="http://yasound.com/fr/og.jpg"/>
<meta property="og:site_name" content="YASOUND : N'écoutez plus seul votre musique."/>
<meta property="fb:admins" content="USER_ID"/>
<meta property="og:description"
      content="Avec Yasound, créez votre radio en un instant, écoutez la musique avec vos amis, et communiquez avec eux en temps réel sur le net, et bientôt sur votre mobile."/>

<link rel="icon" type="image/png" href="/media/yaweb/images/favicon.png" />
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="/media/yaweb/css/base.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]> 
<link href="/media/yaweb/css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4211339-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Placez cette balise dans la section <head> ou juste avant la balise de fermeture </body> -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'en'}
</script>
<script type="text/javascript" src="/media/yaweb/js/mootools-core-1.4.0-full-nocompat.js"></script><script type="text/javascript">
<!--
window.addEvent('domready', function() {
    var marge = ($('Seb').getSize().y - $('descriptif').getSize().y)/2;
    $('descriptif').setStyle('margin-top',marge);
    
});
-->
</script>
</head>

<body>

<div id="header">
  <div id="content">
    <div id="logo"><a href="/"><img src="/media/yaweb/images/logo.png" alt="Logo Yasound" width="400" height="86" border="0" /></a></div>
    <div id="menu">
        {% ifequal current_page 'about' %}
        <span class="current">A propos de nous</span>
        {% else %}
        <a href='{% url about %}'>A propos de nous</a>
        {% endifequal %}
        {% ifequal current_page 'jobs' %}
        <span class="current">Jobs</span>
        {% else %}
        <a href='{% url jobs %}'>Jobs</a>
        {% endifequal %}
        {% ifequal current_page 'press' %}
        <span class="current">Presse</span>
        {% else %}
        <a href='{% url press %}'>Presse</a>
        {% endifequal %}
        {% ifequal current_page 'contact' %}
        <span class="current">Contact</span>
        {% else %}
        <a href='{% url contact %}'>Contact</a>
        {% endifequal %}
    </div>
    <div id="lang"><a href="../en/index.php">English</a></div>
  </div>
</div>

{% block content %}{% endblock %}

<div id="footer">
  <div id="content">
    <div id="menu">
        {% ifequal current_page 'about' %}
            <span class="current">Accueil</span> |
        {% else %}
            <a href="{% url index %}">Accueil</a> |
        {% endifequal %} 
        <a href="{% url index %}">Accueil</a> | 
        {% ifequal current_page 'about' %}
            <span class="current">A propos de nous</span> |
        {% else %}
            <a href="{% url about %}">A propos de nous</a> |
        {% endifequal %} 
        {% ifequal current_page 'jobs' %}
            <span class="current">Jobs</span> |
        {% else %}
            <a href="{% url jobs %}">Jobs</a> |
        {% endifequal %} 
        {% ifequal current_page 'press' %}
            <span class="current">Press</span> |
        {% else %}
            <a href="{% url press %}">Press</a> |
        {% endifequal %} 
        {% ifequal current_page 'contact' %}
            <span class="current">Contact</span> |
        {% else %}
            <a href="{% url contact %}">Contact</a> |
        {% endifequal %} 
       <br />
      <span style="font-size: 18px; font-weight:bold">yasound </span><span style="font-size: 10px">© 2011 - Tous droits réservés</span></div>
    <div id="app"><img src="/media/yaweb/images/app.png" width="264" height="45" alt="Bientôt sur AppStore et Android Market" /></div>
  </div>
</div>
</body>
</html>
