<div id="reseaux">
	<div id="gone">
		<g:plusone size="medium"></g:plusone>
	</div>
	<div id="tweeter">
		<a href="https://twitter.com/share" class="twitter-share-button"
			data-count="horizontal" data-lang="fr">Tweet</a>
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	</div>
	<div id="fb">
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {
					return;
				}
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<div class="fb-like" data-href="http://www.facebook.com/yasound"
			data-send="true" data-width="700" data-show-faces="false"
			data-font="arial"></div>
	</div>
</div>