{% load i18n %}
{% load app_url %}

<div class="container-fluid content-zone">
  <div class="row-fluid">
    <div class='span12'>
        <div class='btn-group right' id='edit-radio-toolbar'>
            <button type="button" class="btn-sky" id='listen-btn'>{% trans "Listen now" %}</button>
            <button type="button" class="btn-green" id='programming-btn'>{% trans "Programming" %}</button>
        </div>
        <h1>{% trans "Settings" %}</h1>
    </div>
  </div>
</div>


<div class="container-fluid content-zone last">
  <div class="row-fluid">
    <div class='span12'>
        <div class='settings-content-container'>
            <div class='upload-container'>
                <div class='upload-content yabutton-small'>
                    <span>{% trans "Upload photo" %}</span>
                    <input type="file" name="picture" data-url="/api/v1/radio/{{ radio.uuid }}/picture/" id='file-upload'/>
                </div>
                <div class='settings-picture-square'>
                    <img src='{{ radio.picture_url }}' id='radio-picture-image'/>
                </div>
            </div>
            <div id='progress' class="progress progress-striped active">
              <div class="bar"></div>
            </div>

            <div class="modal hide fade" id="modal-upload-error">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3>{% trans "Upload error" %}</h3>
                </div>
                <div class="modal-body">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
                </div>
            </div>

            <form id='edit-radio' enctype="multipart/form-data" class='' action="{% app_url webapp_edit_radio app_name radio.uuid %}" method='post'>{% csrf_token %}
                {{ settings_radio_form }}
                <div>
                    <input type='hidden' name='uuid' value='{{ radio.uuid }}'/>
                    <input type='hidden' name='action' value='radio_settings'/>
                    <button type="submit" name='save' class="save-btn">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
