{% load i18n %}
<div class='row radio-jm'>
    <div class='span5 jm-picture'>
          <img src='/media/images/jm/jm-radio.png' width='331' height='113' alt="{% trans 'Jean-Marc Plueger' %}"/>
    </div>
    <div class='span7'>
        {% blocktrans %}
Jean-Marc Plueger passed away on monday December 10th 2012. He was the co-founder of YaSound. Our condolences go to his family, his friends and all the people who shared his communicative drive.<br/><br/>
His energy and creative spirit enabled YaSound to become what it is today. He has always been able to transmit us his enthusiasm. Of course we will continue developing YaSound and think about him every day.<br/><br/>
You can send your condolences to <a href="mailto:condolences-jm@yasound.com">condolences-jm@yasound.com</a> or leave a message on this radio, his radio.<br/><br/>

The YaSound team{% endblocktrans %}
    </div>
</div>
