{% load i18n %}
{% load app_url %}
{% if creator %}
<a class="pic pic-circle pic-wide" href="{% app_url webapp_profile app_name creator.user.username %}"><img src="{% url user_custom_picture creator.user '45x45' %}" width="45" height="45" alt=""></a>
<div class="wall-owner">
  <div><a class="wall-owner-link" href="{% app_url webapp_profile app_name creator.user.username %}">{{ creator }}</a></div>
  <div>{{ creator.followers_count }} {% trans "followers" %}</div>
  <div>{{ creator.agc }}</div>
  <div><a href="#" class="btn-green">Suivre</a></div>
</div>
{% else %}
<a class="pic pic-circle pic-wide" href="#"><img src="<% picture %>" width="45" height="45" alt=""></a>
<div class="wall-owner">
  <div><a class="wall-owner-link" href="#"><% name %></a></div>
  <div><% followers_count %> {% trans "followers" %}</div>
  <div><% agc %></div>
  <div><a href="#" class="btn-green follow"><%#is_friend%>{% trans "Unfollow" %}<%/is_friend%><%^is_friend%>{% trans "Follow" %}<%/is_friend%></a></div>
</div>
{% endif %}
