{% load i18n %}
<div class='user'>
    <img src='<% picture %>' width='30px' height='30px'/>
    <div class='caption'>
    <!-- <h5><a href='/app/profile/<% id %>/'><% name %></a></h5> -->
    </div>
</div>