{% load i18n %}
{% if radio %}
<h1>{{ radio.name }}</h1>
<p>{{ radio.description|urlize }}</p>
{% else %}

{% ifequal app_name 'deezer' %}
<div id='radio-toolbar'>
    <ul>
    <li><button class='yabutton-small add-to-favorites'><i class="icon-star-empty"></i> {% trans "Add to YaSound favorites" %}</button><button class='yabutton-small remove-from-favorites' style='display:none;'><i class="icon-star"></i> {% trans "Remove from favorites" %}</button></li>
    <li><button class='yabutton-small like-song'><i class="icon-heart"></i> {% trans "Like song on YaSound" %}</button></li>
    </ul>
</div>
{% endifequal %}

<h1><% fullname %></h1>
<p><%{description|safe%></p>
{% endif %}
<div class='clear'/>