{% load i18n %}
{% load thumbnail %}
<div class="container-fluid wall-covers">
  <h1>{{ radio.name }}</h1>
  <div class="wall-covers-pics">
    <div class="wall-cover-group col3">
      <div>
        <img class="" src="http://placehold.it/157x157" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157/969696" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157" width="157" height="157" alt="" />
      </div>
      <div>
        <img class="" src="http://placehold.it/157x157/969696" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157/969696" width="157" height="157" alt="" />
      </div>
    </div>
    <div class="wall-cover-group col2">
      <img class="" src="http://placehold.it/314x314/969696" width="314" height="314" alt="" />
    </div>
    <div class="wall-cover-group col2">
      <img class="" src="http://placehold.it/314x314" width="314" height="314" alt="" />
    </div>
  </div>
</div>

<div class="wall container-fluid content-zone last">
  <div class="row-fluid">
    <div class="span4 wall-left-col">
      <div class="wall-aside">
        <div id='radio-side'>
        {% if radio %} {% include "yabase/app/radio/radio.mustache" %} {% endif %}
        </div>
        <div class="wall-aside-block">
          <h2 class="wall-aside-title">Ils écoutent la radio (5)</h2>
          <ul class="wall-profiles">
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
          </ul>
          <div class="clearfix" />
        </div>
        <div class="wall-aside-block">
          <h2 class="wall-aside-title">Ils l'ont ajouté en favori (158)</h2>
          <ul class="wall-profiles">
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
          </ul>
          <div class="clearfix" />
        </div>
        <div class="wall-aside-block">
          <h2 class="wall-aside-title">Créateur de la radio</h2>
          <div class="wall-owner-container">
            <a class="pic pic-circle pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
            <div class="wall-owner">
              <div><a class="wall-owner-link" href="#">Tommy Roussel</a></div>
              <div>13 abonnés</div>
              <div>36 ans, Loyes</div>
              <div><a href="#" class="btn-green">Suivre</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span8 wall-right-col">
      <div class="wall-input-container">
        <a class="pic pic-circle pic-wide" href="#"><img src="{% if user.is_authenticated %}{% url user_custom_picture request.user.username '45x45' %}{% else %}/media/images/avatars/default_45x45.png{% endif %}" width="45" height="45" alt=""></a>
        <form class="wall-input">
          <textarea placeholder="Donnez un avis sur le titre en cours de lecture..."></textarea>
          <input class="btn-coral" type="submit" value="Publier" />
        </form>
      </div>
      <div class="wall-event-container">
        <a class="pic pic-rounded pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
        <div class="wall-event">
          <div class="wall-event-title"><strong>Action Bronson - Righteous Mind</strong>, il y a 3 heures</div>
          <div class="wall-event-action">Julien, Jean-Marc, Tommy Roussel et Sebastien ont aimé ce morceau !</div>
          <div class="wall-counters">
            <div class="likes">4 <i class="asset-mini-like"></i></div>
          </div>
        </div>
      </div>
      <div class="wall-event-container">
        <a class="pic pic-rounded pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
        <div class="wall-event">
          <div class="wall-event-title"><strong>Murs & Fashawn - Satisfaction Feat. Mac Miller</strong>, il y a 3 heures</div>
          <div class="wall-event-action">Julien, Jean-Marc, Tommy Roussel et Sebastien ont aimé ce morceau !</div>
          <div class="wall-counters">
            <div class="likes">12 <i class="asset-mini-like"></i></div>
          </div>
        </div>
      </div>
      <div class="wall-event-container">
        <a class="pic pic-rounded pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
        <div class="wall-event">
          <div class="wall-event-title"><strong>Murs & Fashawn - Satisfaction Feat. Mac Miller</strong>, il y a 3 heures</div>
          <div class="wall-event-action">Julien, Jean-Marc, Tommy Roussel et Sebastien ont aimé ce morceau !</div>
          <div class="wall-counters">
            <div class="likes">12 <i class="asset-mini-like"></i></div>
            <div class="likes">2 <i class="asset-mini-comment"></i></div>
          </div>
          <div class="wall-comment">
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt=""></a>
            <div class="wall-comment-title">Tommy Roussel</div>
            <div class="wall-comment-action">Vraiment super sympa ce morceau, j’adore le vrai rap dans ce genre !</div>
          </div>
          <div class="wall-comment">
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt=""></a>
            <div class="wall-comment-title">Tommy Roussel</div>
            <div class="wall-comment-action">Vraiment super sympa ce morceau, j’adore le vrai rap dans ce genre !</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal hide fade" id="modal-report-abuse">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Confirm report as abuse" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Do you really want to report this message as an abuse?" %}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Yes i want" %}</a>
    </div>
</div>

<div class="modal hide fade" id="modal-delete-message">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Confirm delete message" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Do you really want to delete this message?" %}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Yes i want" %}</a>
    </div>
</div>

<div class="modal hide fade" id="modal-broadcast">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Broadcast message to your fans" %}</h3>
    </div>
    <div class="modal-body">
        <textarea placeholder="{% trans 'Your message' %}"></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "Dismiss" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Send now" %}</a>
    </div>
</div>

</div>

