{% load i18n %}

<div class="container-fluid wall-covers">
  <h1>We love hip hop</h1>
  <div class="wall-covers-pics">
    <div class="wall-cover-group col3">
      <div>
        <img class="" src="http://placehold.it/157x157" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157/969696" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157" width="157" height="157" alt="" />
      </div>
      <div>
        <img class="" src="http://placehold.it/157x157/969696" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157" width="157" height="157" alt="" />
        <img class="" src="http://placehold.it/157x157/969696" width="157" height="157" alt="" />
      </div>
    </div>
    <div class="wall-cover-group col2">
      <img class="" src="http://placehold.it/314x314/969696" width="314" height="314" alt="" />
    </div>
    <div class="wall-cover-group col2">
      <img class="" src="http://placehold.it/314x314" width="314" height="314" alt="" />
    </div>
  </div>
</div>

<div class="wall container-fluid content-zone last">
  <div class="row-fluid">
    <div class="span4 wall-left-col">
      <div class="wall-aside">
        <div class="wall-pic">
          <img src="http://placehold.it/150x150" width="150" height="150" alt="" />
        </div>
        <a href="#" class="wall-fav btn-sky">Ajouter aux favoris</a>
        <p class="wall-digest">Vestibulum varius, nunc id hendrerit elementum, mauris lectus pellentesque quam, quis dictum tortor risus eget quam. Morbi mattis sagittis nunc. Cras sagittis tristique gravida.</p>
        <ul class="wall-numbers">
          <li><strong>158</strong> favoris</li>
          <li><strong>8</strong> messages</li>
          <li><strong>45</strong> j'aime</li>
        </ul>
        <div class="wall-aside-block">
          <h2 class="wall-aside-title">Ils écoutent la radio (5)</h2>
          <ul class="wall-profiles">
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
          </ul>
        </div>
        <div class="wall-aside-block">
          <h2 class="wall-aside-title">Ils l'ont ajouté en favori (158)</h2>
          <ul class="wall-profiles">
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
            <li><a href="#" class="pic pic-circle"><img src="http://placehold.it/30x30" width="30" height="30" alt="" /></a></li>
          </ul>
        </div>
        <div class="wall-aside-block">
          <h2 class="wall-aside-title">Créateur de la radio</h2>
          <div class="wall-owner-container">
            <a class="pic pic-circle pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
            <div class="wall-owner">
              <div><a class="wall-owner-link" href="#">Tommy Roussel</a></div>
              <div>13 abonnés</div>
              <div>36 ans, Loyes</div>
              <div><a href="#" class="btn-green">Suivre</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span8 wall-right-col">
      <div class="wall-input-container">
        <a class="pic pic-circle pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
        <form class="wall-input">
          <textarea placeholder="Donnez un avis sur le titre en cours de lecture..."></textarea>
          <input class="btn-coral" type="submit" value="Publier" />
        </form>
      </div>
      <div class="wall-event-container">
        <a class="pic pic-rounded pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
        <div class="wall-event">
          <div class="wall-event-title"><strong>Action Bronson - Righteous Mind</strong>, il y a 3 heures</div>
          <div class="wall-event-action">Julien, Jean-Marc, Tommy Roussel et Sebastien ont aimé ce morceau !</div>
          <div class="wall-counters">
            <div class="likes">4 <i class="asset-mini-like"></i></div>
          </div>
        </div>
      </div>
      <div class="wall-event-container">
        <a class="pic pic-rounded pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
        <div class="wall-event">
          <div class="wall-event-title"><strong>Murs & Fashawn - Satisfaction Feat. Mac Miller</strong>, il y a 3 heures</div>
          <div class="wall-event-action">Julien, Jean-Marc, Tommy Roussel et Sebastien ont aimé ce morceau !</div>
          <div class="wall-counters">
            <div class="likes">12 <i class="asset-mini-like"></i></div>
          </div>
        </div>
      </div>
      <div class="wall-event-container">
        <a class="pic pic-rounded pic-wide" href="#"><img src="http://placehold.it/45x45" width="45" height="45" alt=""></a>
        <div class="wall-event">
          <div class="wall-event-title"><strong>Murs & Fashawn - Satisfaction Feat. Mac Miller</strong>, il y a 3 heures</div>
          <div class="wall-event-action">Julien, Jean-Marc, Tommy Roussel et Sebastien ont aimé ce morceau !</div>
          <div class="wall-counters">
            <div class="likes">12 <i class="asset-mini-like"></i></div>
            <div class="likes">2 <i class="asset-mini-comment"></i></div>
          </div>
          <div class="wall-comment">
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt=""></a>
            <div class="wall-comment-title">Tommy Roussel</div>
            <div class="wall-comment-action">Vraiment super sympa ce morceau, j’adore le vrai rap dans ce genre !</div>
          </div>
          <div class="wall-comment">
            <a class="pic pic-circle" href="#"><img src="http://placehold.it/30x30" width="30" height="30" alt=""></a>
            <div class="wall-comment-title">Tommy Roussel</div>
            <div class="wall-comment-action">Vraiment super sympa ce morceau, j’adore le vrai rap dans ce genre !</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
<div class='span4 wall-responsive-span4'>
    <div id='webapp-track'>{% if yasound_song %} {% include "yabase/app/radio/track.mustache" %} {% endif %}</div>
    <div id='webapp-radio'>{% if radio %} {% include "yabase/app/radio/radio.mustache" %} {% endif %}</div>
    <div class='wall-audience-container'>
        <div class='audience-nbr-container'>
          <span class='audience-nbr'>0</span>
          <img src="/media/app/images/icon-friends-gradient.png">
          <div class='audience-txt'>{% trans "listeners" %}</div>
        </div>
        <ul id='webapp-radio-users' class='thumbnails'></ul>
        <div class='yabutton-small audience-btn float-right'>{% trans "Show all" %}</div>
    </div>
</div>
<div class='span8'>
    <div id='radio-infos'>{% if radio %}{% include "yabase/app/radio/radioInfos.mustache" %} {% endif %}</div>
    <div class='wall-container'>
    <div id='webapp-wall-input'>{% if radio %}{% include "yabase/app/radio/wallInput.mustache" %} {% endif %}</div>
    <div>
    <ul id='wall'>
        {% if not wall_events %}
        <img class='loading-mask' src='/media/images/loading-white.gif'/>
        {% else %}
        {% for wall_event in wall_events %}
            {% ifequal wall_event.type "M" %}
            {% include "yabase/app/radio/wallEvent.message.mustache" %}
            {% endifequal %}
            {% ifequal wall_event.type "S" %}
            {% include "yabase/app/radio/wallEvent.song.mustache" %}
            {% endifequal %}
            {% ifequal wall_event.type "L" %}
            {% include "yabase/app/radio/wallEvent.like.mustache" with wall_event=wall_event%}
            {% endifequal %}
        {% endfor %}
        {% endif %}
    </ul>
    <div class='empty' style='display:none'>{% trans "No post yet, be the first to comment!" %}</div>
    </div>
    <div id='pagination-wall'></div>
    </div>
</div>

<div class="modal hide fade" id="modal-report-abuse">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Confirm report as abuse" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Do you really want to report this message as an abuse?" %}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Yes i want" %}</a>
    </div>
</div>

<div class="modal hide fade" id="modal-delete-message">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Confirm delete message" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Do you really want to delete this message?" %}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "No thank you" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Yes i want" %}</a>
    </div>
</div>

<div class="modal hide fade" id="modal-broadcast">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% trans "Broadcast message to your fans" %}</h3>
    </div>
    <div class="modal-body">
        <textarea placeholder="{% trans 'Your message' %}"></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans "Dismiss" %}</a>
        <a href="#" class="btn btn-primary">{% trans "Send now" %}</a>
    </div>
</div>

</div>

