{% load i18n %}
   <div id='webapp-radio-picture' class='thumbnail'>
       <img src="<% picture %>" width="256px" height="256px"/>
   </div>
   <div id='webapp-radio-title'>
        <h1><% name %></h1>
   <a class="btn" id='btn-favorite'>
    <i class="icon-star-empty"></i>
    {% trans 'Add to favorite' %}
   </a>
   <a class="btn" id='btn-unfavorite'>
    <i class="icon-star"></i>
    {% trans 'Remove from favorite' %}
   </a>
   </div>
   