{% load i18n %}
<div class='user thumbnail'>
    <img src='<% picture %>' width='48px' height='48px'/>
    <div class='caption'>
    <h5><a href='/app/profile/<% id %>/'><% name %></a></h5>
    </div>
</div>
