{% load i18n %}
<div class='row'>
<div class='span4'>
    <div id='webapp-radio'></div>
    <div class='well'>
    <ul id='webapp-radio-users' class='thumbnails'></ul>
    </div>
    <!-- <div class='well'>
    <h2>{% trans "Similar radios" %}</h2>
	<ul id='webapp-similar-radios' class='thumbnails'></ul> 
    </div>-->
</div>
<div class='span8 wall-container'>
    <div id='webapp-wall-input'></div>
    <div>
    <ul id='wall'>
    <img class='loading-mask' src='/media/images/loading-white.gif'/>
    </ul>
    </div>
    <div id='pagination'></div>
</div>
</div>