{% extends "yabase/webapp.html" %}
{% load i18n %}

{% block head_title%}{{ radio.name }} - Webradio {{ radio.get_genre_display }} - {% trans "Online radio powered by YaSound" %}{% endblock %}

{% block meta_description %}{{ radio.meta_description|linebreaksbr|striptags }}{% endblock %}

{% block fb_open_graph %}
  <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
  <meta property="og:type"   content="{{ FACEBOOK_APP_NAMESPACE}}:radio_station" />
  <meta property="og:url"    content="{{ radio_absolute_url }}" />
  <meta property="og:title"  content="{{ radio }}" />
  <meta property="og:image"  content="{{ radio_picture_absolute_url }}" />
  <meta property="og:locale:alternate" content="fr_FR" />

  <meta property="og:video:height" content="40" />
  <meta property="og:video:width" content="80" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video" content="{{ flash_player_absolute_url }}?mp3={{radio.stream_url}}&showslider=0&showvolume=1&buttonwidth=40&height=40&volumewidth=40&autoplay=1" />
  <meta property="og:video:secure_url" content="{{ flash_player_absolute_url }}?mp3={{radio.stream_url}}&showslider=0&showvolume=1&buttonwidth=40&height=40&volumewidth=40&autoplay=1" />

  {% if radio.description %}
  <meta property="og:description" content="{{ radio.description|linebreaksbr|striptags }}" />
  {% endif %}

{% endblock %}


{% block content %}
{% include "yabase/app/radio/radioPage.mustache" %}
{% endblock %}

