{% load i18n %}
<div>
    <p>{% trans "Share this song on:" %}
    </p>
    <ul>
    <li><a href='#' id='fb_share'>{% trans "Facebook" %}</a></li>
    <li><a href='#' id='tw_share' target='blank'>{% trans "Twitter" %}</a></li>
    </ul>
</div>
