{% load i18n %}
   <div id='webapp-track-container'>
		<div id='webapp-track-picture'>
            {% if yasound_song %}
            <img src="{{ yasound_song.large_cover_url }}" width="210px" height="210px"/>
            {% else %}
            <img src="<% large_cover %>" width="210px" height="210px"/>
            {% endif %}
   		</div>
   		<div id='webapp-track-title'>
            <h2>{{ yasound_song.title|default:'<% title %>' }}</h2>
   		</div>
   </div>