{% load i18n %}
   <div id='webapp-track-container'>
		<div id='webapp-track-picture'>
       		<img src="<% large_cover %>" width="210px" height="210px"/>
   		</div>
   		<div id='webapp-track-title'>
            <h2><% title %></h2>
   		</div>
   </div>