{% load i18n %}
   <div id='webapp-track-container'>
		<div id='webapp-track-picture'>
            {% if yasound_song %}
            <img src="{% if yasound_song.large_cover_url %}{{ yasound_song.large_cover_url }}{% else %}{{ yasound_song.album.large_cover_url }}{% endif %}" width="210px" height="210px"/>
            {% else %}
            <img src="<% large_cover %>" width="210px" height="210px"/>
            {% endif %}
   		</div>
   		<div id='webapp-track-title'>
            <h2>{{ yasound_song.title|default:'<% title %>' }}</h2>
   		</div>
   </div>
   {% ifequal app_name 'deezer' %}
   <div class='deezer-actions'>
   <a class="dz-addtoplaylist" dz-id="0" style='display:none;'></a><br/><br/>
   <a class="dz-share" dz-id="0" dz-type="artist" style='display:none;'></a><br/><br/>
   <a class="dz-library" dz-id="0" dz-type="album" style='display:none;'></a>
   </div>
   {% endifequal %}
