{% load i18n %}
<div class="container-fluid content-zone">
  <div class="row-fluid" id='user-profile'></div>
</div>

<div class="container-fluid content-zone last">
  <div class="row-fluid">
    <div class='user-radios span12'>
        <button class='yabutton right' id='back-btn'>{% trans 'Back to profile' %}</button>
        <h2 class='zone-title'>{% trans "Radios" %}</h2>
        <ul id='results' class='radio-cells'>
        </ul>
        <img class='loading-mask' src='/media/images/loading-white.gif'/>
        <div class='cell-pagination' id='pagination'></div>
    </div>
  </div>
</div>