{% load i18n %}
<form class="form-search">
    <textarea type="textarea" id='wall-input-textarea' class="input-xxlarge wall-textarea search-query" row='9' maxlength='512'></textarea>
    <button type="submit" disabled='disabled' class="btn submit-btn yabutton-large wall-btn-responsive" id='submit'>{% trans "Post message" %}</button>
</form>