{% load i18n %}
<form class="form-search">
    <textarea type="textarea" class="input-xxlarge search-query" row='5' maxlength='120'></textarea>
    <button type="submit" class="btn submit-btn yabutton-large" id='submit'>{% trans "Post message" %}</button>
    <!-- <button class="btn" id='refresh'>{% trans "Refresh" %}</button> -->
</form>