{% load i18n %}
<div id='wall-event-song' class='wall-event-message alert-info'>
    {% if wall_event %}
    <img class='wall-img-song' src='{{ wall_event.song_cover_url|default:'/media/images/default_album_small.png' }}' width='32px' height='32px'/>
    {% else %}
    <%#song_cover_url %>
    <img class='wall-img-song' src='<% song_cover_url %>' width='32px' height='32px'/>
    <%/song_cover_url%>
    <%^song_cover_url %>
    <img class='wall-img-song' src='/media/images/default_album_small.png' width='32px' height='32px'/>
    <%/song_cover_url%>
    {% endif %}

    <h2><span>{{ wall_event.song_name|default:'<% song_name %>' }} {{ wall_event.song_album|default:'<% song_album %>' }} {{ wall_event.song_artist|default:'<% song_artist %>' }}</span></h2>
    <div class='date date-comment'>{{ wall_event.start_date|default:'<% formatted_start_date %>' }}</div>
</div>
