{% load i18n %}
{% load thumbnail %}
<div id='wall-event-messages' class='wall-event-message'>
	{% if wall_event %}
    {% thumbnail wall_event.user_picture "48x48" format='PNG' as im %}
	<div class='wall-profile-picture'>
		<img class='user' src='{{im.url}}' width='50px' height='50px'/>
	</div>
	{% endthumbnail %}
	{% else %}
	<div class='wall-profile-picture'>
		<img class='user' src='<% user_picture %>' width='50px' height='50px'/>
	</div>
	{% endif %}
	{% if request.user.is_authenticated %}
	<div class='wall-event-remove'>
	    <button class='yabutton-small' id='report-abuse-btn' href="#"><i class="icon-thumbs-down"></i> {% trans "report as abusive" %}</button>
	    {% if wall_event %}
		    {% ifequal wall_event.user request.user %}
		    <button class='yabutton-small wall-delete' href="#" id='delete-btn'><i class="icon-trash"></i> {% trans "delete" %}</button>
		    {% endifequal %}
		{% else %}
	    <%#creator%>
	    <button class='yabutton-small wall-delete' href="#" id='delete-btn'><i class="icon-trash"></i> {% trans "delete" %}</button>
	    <%/creator%>
	    {% endif %}
	</div>
	{% endif %}
	<div class='wall-messages-text'>
		<p>{{ wall_event.text|default:'<% text %>' }}</p>
		<h2><a href='{{ root }}profile/{{ wall_event.username|default:'<% user_username %>' }}/'>{{ wall_event.user_name|default:'<% user_name %>'}}</a></h2>
		<div class='date date-comment'>{{ wall_event.start_date|default:'<% formatted_start_date %>' }}</div>
	</div>
</div>