<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Yasound est aussi sur Facebook</title>
<style type="text/css">
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
</style>
</head>
<body>
<table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"><a href="http://www.yasound.com"><img src="https://yasound.com/media/newsletters/invitation-facebook/top.jpg" alt="Yasound" width="550" height="95" border="0"></a></td>
  </tr>
  <tr>
    <td width="1" bgcolor="#D8D8D8"><img src="https://yasound.com/media/newsletters/invitation-facebook/blank.gif" width="1" height="1"></td>
    <td width="548"><table width="548" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="21"><img src="https://yasound.com/media/newsletters/invitation-facebook/blank.gif" width="21" height="1"></td>
          <td width="506"><img src="https://yasound.com/media/newsletters/invitation-facebook/blank.gif" width="506" height="1"></td>
          <td width="21"><img src="https://yasound.com/media/newsletters/invitation-facebook/blank.gif" width="21" height="1"></td>
        </tr>
        <tr>
          <td width="21" align="left" valign="top">&nbsp;</td>
          <td width="506" align="left" valign="top"><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#d8d8d8; font-weight:bold; text-align:right; margin-top:0px;">mercredi 26 septembre 2012</p><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#373737"><span style="color:#ef7b2b; font-weight:bold; font-size:14px">
              Yasound est aussi sur Facebook</span><br>
&nbsp;              <br>

Vous aimez Yasound ? Venez nous le dire sur Facebook !<br/><br/>

La nouvelle version de Yasound approche à grands pas, et vous êtes impatients de découvrir les nouveautés ? <br/><br/>
Retrouvez chaque semaine de l'info exclusive sur les prochaines fonctionnalités, suivez l'actu musicale et tentez votre chance pour gagner des places de concerts et des CD. <br/><br/>

<a href='http://www.facebook.com/Yasound' alt='Page facebook de Yasound'><img src='https://yasound.com/media/newsletters/invitation-facebook/facebook.png'/ width='145px' height='49px'></a> </br>

&nbsp;<br>
Musicalement,<br>
              Astrid, votre Community Manager<br>
              &nbsp; </p></td>
          <td width="21" align="left" valign="top">&nbsp;</td>
        </tr>
      </table></td>
    <td width="1" bgcolor="#D8D8D8"><img src="https://yasound.com/media/newsletters/invitation-facebook/blank.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#D8D8D8"><p style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#633a27; text-align:center"><span style="font-size:18px">Yasound</span><br>
      144,rue des Poissonniers - 75018 Paris - France<br>
      {{ unsubscription|safe }}<br>
      Pour vous assurer de recevoir les mails de Yasound dans votre boîte de réception,<br>
      veuillez prendre un moment pour ajouter <a href="mailto:noreply@yasound.com" style="color:#633a27">noreply@yasound.com</a> à votre carnet d'adresses</p></td>
  </tr>
  <tr>
    <td colspan="3"><img src="https://yasound.com/media/newsletters/invitation-facebook/footer.jpg" width="550" height="12"></td>
  </tr>
</table>
{{ link_site|safe }}
</body>
</html>